[2021-07-08 19:05] l2fprod opened #2828 "Apply for ibm_iam_access_group_members fails with 404 when using IBMCLOUD_VISIBILITY=private"
This is similar to #2560 but for another resource

### Terraform versions

[code]

### Affected Resource(s)

* ibm_iam_access_group_members

### Terraform Configuration Files

[code]

### Actual Behavior

[code]

### Steps to Reproduce

[code]

[2021-07-08 19:40] pierre-archambault commented on #2724
@anilkumarnagaraj in a consumer/producer contract the producer doesn't have the necessary context to determine how to correct the input appropriately. The best course of action is to fail the request forcing the consumer to correct its input and resubmit the request.

The current behaviour is not ideal and will lead to expensive defects at scale.

Please reconsider updating the implementation as p

[2021-07-09 11:03] #2787 closed

[2021-07-12 06:56] #2594 closed

[2021-07-13 04:41] siddhinaik opened #2838 "Get the list of all load balancers based on region"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-13 08:31] ocofaigh opened #2849 "Add ability to name the default worker pool when using ibm_container_vpc_cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-13 08:48] kavya498 commented on #2334
https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2849
Closing this as we have the #2849 to track.. thanks

[2021-07-13 08:48] #2334 closed

[2021-07-13 10:36] ujjwal-ibm opened #2855 "Missing rule_id in tcp/udp sg rules in ibm_is_vpc datasource"
### Terraform CLI 15 and Terraform IBM Provider Version 1.27.2

### Affected Resource(s)

* ibm_is_vpc

### Terraform Configuration Files

Please include all Terraform configurations required to reproduce the bug. Bug reports without a functional reproduction may be closed without investigation.

[code]

### Output
[code]

[2021-07-13 11:55] willholley opened #2859 "ibm_kms_key is_instance_id should accept an instance id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-13 18:51] vburckhardt opened #2862 "Add ability to taint a worker pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-14 05:56] kavya498 commented on #2862
#2696 #1646 #624

[2021-07-14 06:20] harshit777 commented on #2859
@willholley While provisioning an instance we create a Bluemix-Instance id, which we refer to as guid (unique identifier), and thereby we utilise this guid as instance id for every other resource we provision under that instance. If you check the tf state file, under resource instance you won't find instance_id as an exported attribute.

[2021-07-14 07:42] kavya498 commented on #2824
@tpolekhin ,

To encrypt database user can use either ways.. as API accepts any of the below mentioned arguments in the parameters block
[code]
or
[code]
Terrform uses `key_protect_key, key_protect_instance` that is why you see them in the response..
Where as UI uses `disk_encryption_instance_crn, disk_encryption_key_crn`

CLI uses any of these two ways..to encrypt instance based on the parameters

[2021-07-14 07:45] #2828 closed

[2021-07-14 10:25] willholley commented on #2859
@harshit777 for consistency with the rest of the provider I'd expect `instance_id` to accept the `id` attribute (the CRN) of the keyprotect instance. If the instance `guid` is required then the `instance_id` input variable should be renamed `instance_guid` really.

[2021-07-14 11:04] #2824 closed

[2021-07-14 11:41] wosteven opened #2868 "ibm_is_security_group datasource does not find existing SGs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-14 13:19] ujjwal-ibm opened #2869 "deleting volume should delete the instance volume attachment as well rather than throwing an error"
### Description

### New or Affected Resource(s)

* ibm_is_volume

### Potential Terraform Configuration

[code]

### References

[2021-07-14 14:37] ocofaigh commented on #2779
@kavya498 Has anyone looked into this? I think this happens if you create an OpenShidt VPC Gen2 cluster, and then destroy it, and the subnets straight away. The problem is the VPC load balancer that is auto created by the ingress running on the cluster is actually still creating, so by the time the subnet destroy is attempted, even though the cluster is blown away, the VPC load balancer is still i

[2021-07-14 15:03] anilkumarnagaraj commented on #2827
@david-shepard

We are not able to reproduce the issue. we are able to successfully update the kube version without any hung issue.
This could be an intermittent issue. Are you seeing this hung issue repeatedly?

I agree that during kube version update, "phoning home" is not happening properly.
Provider returns before the completion of worker nodes version update. we are working on the fix.

[2021-07-14 15:22] deepaksibm commented on #2779
Hi @ocofaigh , we are working on this issue. will roll out a possible fix soon. Will keep posted.

[2021-07-14 15:53] wosteven commented on #2868
we have a lot of SG (~90) ...  is maybe the TF internal REST API Call ( https://cloud.ibm.com/apidocs/vpc#list-security-groups ) not evaluating all results?  Can you check if TF code is missing to walk through "pagination" if there are more then "one page of results returned" ?

[2021-07-14 16:05] astha-jain commented on #2868
Looking at it

[2021-07-14 16:11] wosteven commented on #2868
i assume this is the issue. I executed the REST API call
`> curl -X GET "https://eu-de.iaas.cloud.ibm.com/v1/security_groups?version=2021-07-13&generation=2" --header "Authorization: $BEARER" --header "Accept: application/json"`

And results says:
[code]

So only first 50 are returned, and all SG that TF finds are in "first" junk, and SG that that is not found is not returned in "first", so i assu

[2021-07-14 16:25] astha-jain commented on #2868
You are correct. Will fix it.

[2021-07-14 16:38] astha-jain commented on #2838
When you instantiate the provider block, you set the region.
Secondly, datasource for  "ibm_is_lbs" would fetch all the lbs in the account associated with the API key you used to instantiate the provider.

[2021-07-14 18:00] hasueki opened #2872 "Go modules: Broken go mod tidy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-15 07:30] #2869 closed

[2021-07-15 07:56] #2868 closed

[2021-07-15 09:45] siddhinaik opened #2882 "How do I find a default security group to attach to a load balancer which is already created, using a terraform script."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-15 09:49] willholley commented on #2859
this isn't limited to the `ibm_kms_key` - here's an example that took me a while to debug today:

[code]

So we have:
 * `instance_id  = module.cg.context.kp.instance.guid`
 * `target_resource_instance_id = module.cg.context.cos.instance.guid`
 * `resource_instance_id = module.cg.context.cos.instance.id` (this makes sense, but is different!)

[2021-07-15 10:03] Prajyot-Parab commented on #2810
@kavya498 @surajsub Any updates on this?

[2021-07-15 10:42] #2696 closed

[2021-07-15 10:42] #2862 closed

[2021-07-15 10:55] #1646 closed

[2021-07-15 10:55] #624 closed

[2021-07-15 10:58] kavya498 commented on #2882
@siddhinaik
VPC resource and datasource has a attribute called [default_security_group](https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_vpc#default_security_group) which gives the ID of default security group

[2021-07-15 11:02] kavya498 commented on #2838
@siddhinaik ,
Can we close this issue?

[2021-07-15 11:06] kavya498 commented on #2813
@siddhinaik ,
Can we close this issue?

[2021-07-15 11:59] siddhinaik commented on #2882
yeah, but using data "ibm_is_lb" how can I get the vpc associated to a load balancer and then attch the default security group.

[2021-07-15 12:02] #2838 closed

[2021-07-15 12:02] #2813 closed

[2021-07-15 12:02] siddhinaik commented on #2813
Thanks

[2021-07-15 12:03] siddhinaik commented on #2838
Thanks

[2021-07-15 12:44] surajsub commented on #2810
@Prajyot-Parab  - this is not supported by power. The way it will work is
1) you create the vm
2) create the volume, during create volume you pass in two additional params - affinity and the boot volume_id of the lpar
3) perform an attach of the volume.

[2021-07-15 13:20] Prajyot-Parab commented on #2810
@surajsub

[code]

1. VM gets created (**ibm_pi_instance**)
2. Volume gets created (**ibm_pi_volume**)
3. Attach ? --> can you please point me to resource you are referring to at this stage

Also do let me know if my flow is correct or it needs some tweaks

[2021-07-15 13:34] astha-jain commented on #2882
@SunithaGudisagarIBM  Please help

[2021-07-15 13:35] astha-jain commented on #2882
I think you can use this datasource https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/is_security_group_targets

[2021-07-15 13:37] astha-jain commented on #2882
resource_type attribute would tell you if it is a security group

[2021-07-15 14:40] surajsub commented on #2810
ibm_pi_volume_attach

[2021-07-15 15:38] kavya498 commented on #2822
@slomes,
Can we close this issue?

[2021-07-15 15:43] kavya498 commented on #2431
https://github.com/IBM-Cloud/terraform-provider-ibm/pull/2672

[2021-07-15 20:24] slomes commented on #2822
Yes, this can be closed. We confirmed moving to v1.27.0 fixes the issue.

[2021-07-15 20:24] #2822 closed

[2021-07-16 04:15] SunithaGudisagarIBM commented on #2882
@siddhinaik @astha-jain

Please use the following template to find  and attach the default security group to load balancer

resource "ibm_is_vpc" "testacc_vpc" {
  name = "vpcname"
}
resource "ibm_is_subnet" "testacc_subnet" {
  name            = "subnetname"
  vpc             = ibm_is_vpc.testacc_vpc.id
  zone            = "us-south-1"
  ipv4_cidr_block = "10.240.0.0/24"
}
resource "ibm_is_securi

[2021-07-16 06:58] VaishnaviGopal opened #2889 "Diff in the re-apply of vpc load balancer listener policy resource"
There is always a diff like this, when a second plan/apply is made.

[code]

[2021-07-16 10:49] Prajyot-Parab commented on #2810
@surajsub Thanks for your pointer, it did fix a part of my problem.

I do have instances (RHCOS Nodes) which when provisioned will have `health_status` as "Warning" and I would still want to attach volume to them. (My nodes will be in active state at a later stage once I pass them ignition, I want to attach before that if possible)

Right now I am getting issue -

[code]

[2021-07-16 15:01] surajsub commented on #2810
If the lpar is in the warning state , you cannot attach or perform any operation on them. Power Cloud is working on a fix. I can ask them for an ETA

[2021-07-16 15:53] l2fprod opened #2890 "Creating a resource group with IBMCLOUD_VISIBILITY=private seems to require a call to public IAM API"
### Template

[code]

### Terraform Version

[code]

### To reproduce

I have OpenVPN configured so that I can access private endpoints from my machine:
[code]

1. Clear DNS cache and monitor DNS calls
[code]
1. Apply
[code]
1. Apply works BUT tcpdump shows lookup to `iam.cloud.ibm.com` public IP address which is unexpected as we should be using the private endpoints:
[code]
1. Destroy
[code]
1. I

[2021-07-16 15:54] l2fprod commented on #2828
@hkantare

that one seems fixed but a similar one https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2890

[2021-07-16 16:28] l2fprod commented on #2890
It works if I define `export IBMCLOUD_IAM_API_ENDPOINT=https://private.us-south.iam.cloud.ibm.com`. Likely the issue comes from this hardcoded path: https://github.com/IBM-Cloud/terraform-provider-ibm/blob/e94ae1aa0ca31fd1c45cb0ab071300dc30410ced/ibm/config.go#L1139

[2021-07-16 16:58] Prajyot-Parab commented on #2810
@surajsub sure that would be great, Thanks!

[2021-07-16 17:45] surajsub commented on #2810
October..

[2021-07-16 22:44] yselkowitz commented on #2872
I think this ended up being fixed by #2887.

[2021-07-19 10:05] luiof opened #2892 "Session timeout to 15 minutes and terraform cannot refresh the token"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-19 16:05] anilkumarnagaraj commented on #2724
@david-shepard @pierre-archambault

We have fixed the data center auto-correct issue. Terraform provider will fail immediately if an invalid data center is specified for satellite location creation.
Here is the list of supported data center: "wdc04, lon04, fra02, wdc, lon, fra"

If user pass the metro name without the datacenter(wdc), still provider accepts it as valid value & process the request.

[2021-07-19 17:09] astha-jain commented on #2882
@siddhinaik is this good to close?

[2021-07-20 09:00] Prajyot-Parab commented on #2810
@surajsub Thanks for the update.

QQ - Is there a way to avoid following error while deleting tf resources (A instance with volume attached to it)

`Error: Failed to Delete PI Instance Volume c7d4b5f8-f0bc-472a-9666-28420a390da1 :[DELETE /pcloud/v1/cloud-instances/{cloud_instance_id}/volumes/{volume_id}][500] pcloudCloudinstancesVolumesDeleteInternalServerError  &{Code:0 Description:an error has o

[2021-07-20 12:22] surajsub commented on #2810
Hmm - this seems like a timing issue.. let me investigate further and get back to you ..if you do a delete again it will clean up .. but let me check on this locally and i can provide a fix.

[2021-07-20 12:34] Prajyot-Parab commented on #2810
Yes deleting again fixes it, but we expect it to work during the first attempt itself (I guess this happens as volume takes time to detach before it could be deleted)

[2021-07-20 13:10] BobbyRadford opened #2894 "Support the description Field for IAM Policies"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-21 04:22] #2890 closed

[2021-07-21 10:16] kavya498 commented on #2894
@guicabr ,
Can you please have a look?

[2021-07-21 10:38] hkantare commented on #2872
closing this issue

[2021-07-21 10:38] #2872 closed

[2021-07-21 16:38] david-shepard commented on #2724
Thanks for the fix. Something I noticed though - it appears that it fails when the user inputs `wdc` or `lon` it fails since it doesn't appear that the Satellite API accepts metro's **without** datacenters **and** (looking at the [source](https://github.com/IBM-Cloud/terraform-provider-ibm/blob/master/ibm/resource_ibm_satellite_location.go) it doesn't look like there's any logic to coerce `wdc` --

[2021-07-21 19:36] david-shepard commented on #2724
One thing to note, a consequence of coercing a metro name into a `metro name-datacenter` is that the HCL does not match the statefile. For example if you specify `wdc` in the HCL, the state file will contain `wdc04`. Which causes subsequent attempts (future `terraform apply`'s) to error out, unless you modify your HCL to reflect `wdc04`.

[2021-07-22 15:01] Prajyot-Parab commented on #2810
@surajsub any luck with possible workaround?

[2021-07-22 19:48] #2724 closed

[2021-07-23 08:32] soumypau1 commented on #2786
Hi team, can you pls confirm if VPC fileshare creation is possible via terraform.

[2021-07-23 13:34] surajsub commented on #2810
I have the code in my repo - you want to try to do a build and test it  ?

[2021-07-26 09:32] PKehnel opened #2905 "IAM Managing members"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-26 10:57] Prajyot-Parab commented on #2810
@surajsub Yes please share the link, I will test it out.

[2021-07-27 11:01] hkantare commented on #2892
We will plan to take it up in the next sprint

[2021-07-27 13:11] PKehnel commented on #2862
The tainteffects naming includes the **_and_** by mistake.
Should be removed.

` "NoSchedule, PreferNoSchedule, and NoExecute"`

[2021-07-27 13:13] kavya498 commented on #2862
It is [fixed](https://github.com/IBM-Cloud/terraform-provider-ibm/commit/28df38ac87eeedf15e0555acd0c31d2cd603ebde)..
It ll be available in upcoming release..

[2021-07-28 09:13] hkantare commented on #2811
@vburckhardt

The steps https://cloud.ibm.com/docs/openshift?topic=openshift-access_cluster#access_automation mentoined here did you tried with serviceID API key or the user API key ...

Especially the step 3 (Exchange your IBM Cloud IAM API key credentials for an OpenShift access token. You can log in from the CLI or API. For more information, see the OpenShift docs.)

I don't think we can genera

[2021-07-28 17:37] powellquiring opened #2911 "ibm_is_floating_ip target change results in a failure"
Expected: When a change to a resource requires the destroy/add it should do that instead of replace.
Actual: When the ibm_is_floating_ip resource changes the target to a subnet in a different zone the provider attempts to **update-in-place** but that is not possible.  So the update fails.

[code]

[2021-07-29 12:04] guillelb opened #2915 "Deprecated field in ibm_container_worker_pool"
Creating Kubernetes worker pools as described in the doc:  https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/container_worker_pool

Warning: Attribute is deprecated on worker_pools.tf line 8, in resource "ibm_container_worker_pool" "workerpool":
8:   region           = var.ibm_region
This field is deprecated

[2021-07-30 05:25] kavya498 commented on #2915
@guillelb ,
region field is deprecated.. We ll update the docs..

[2021-07-30 05:43] #2915 closed

[2021-07-30 12:06] PKehnel commented on #2905
@guicabr Is this intended?

[2021-07-30 14:24] pmgl0935 opened #2918 "Terraform-provider-ibm_v1.29.0 plugin crashed!"
Running Terraform v0.15.5 with terraform-provider-ibm_v1.29.0 pluging.
No change in HCL code. Just run a terraform plan and got this:

[code]

[2021-08-02 06:54] Prajyot-Parab commented on #2810
@surajsub Is the fix part of latest release?

@surajsub Is the fix part of latest release?

[2021-08-02 13:14] dpittner opened #2923 "VPE gateway creation suppresses error message"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-02 15:45] l2fprod opened #2925 "Creating a VPC with IBMCLOUD_VISIBILITY=private seems to require a call to public IAM API"
### Template

[code]

### Terraform Version

[code]

### Failure if iam.cloud.ibm.com is overridden to 127.0.0.1

[code]

Similar issue as #2890

[2021-08-02 15:46] l2fprod commented on #2925
^ @hkantare

[2021-08-02 16:25] l2fprod opened #2926 "Apply for ibm_iam_authorization_policy fails with 404 when using IBMCLOUD_VISIBILITY=private"
Similar to #2828

### Terraform versions

[code]

### Affected Resource(s)

* ibm_iam_authorization_policy

### Terraform Configuration Files

[code]

### Actual Behavior

[code]

[2021-08-03 10:14] #2855 closed

[2021-08-03 14:17] l2fprod opened #2929 "Creating ibm_kms_key with IBMCLOUD_VISIBILITY=private requires a call to public IAM API"
### Template

[code]

### Terraform Version

[code]

### Failure

debugging DNS lookups, during `apply, shows these endpoints:
  * bss.us-south.proxy.serviceendpoint.cloud.ibm.com
  * iam.cloud.ibm.com
  * private.us-south.globalcatalog.cloud.ibm.com
  * private.us-south.iam.cloud.ibm.com
  * private.us-south.kms.cloud.ibm.com
  * private.us-south.resource-controller.cloud.ibm.com
  * tags.private

[2021-08-03 14:42] l2fprod commented on #2925
I've not been able to produce this in my test -- closing for now

[2021-08-03 14:42] #2925 closed

[2021-08-03 14:48] l2fprod commented on #2925
for reference, capturing tcpdump shows these hosts:

[code]

using these commands (running terraform in a Docker container so it is easier to track DNS lookups)

[code]

[2021-08-04 07:37] wosteven opened #2933 "COS bucket creation with HPCS key fails with "internal 500""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-04 08:08] wosteven commented on #2933
we noted that this fails in UI also ATM, so maybe an general Cloud issue - and not a specific TF issue. I opened a CASE and will update here.

[2021-08-04 12:15] ocofaigh commented on #2779
@deepaksibm I see https://github.com/IBM-Cloud/terraform-provider-ibm/pull/2895 was merged, can you confirm what version of the ibm provider it is in?

[2021-08-04 12:24] dnwe commented on #2779
Also note that in the merged PR the err returned from the new retry func (if it didn’t succeed and returned one) is not getting checked https://github.com/IBM-Cloud/terraform-provider-ibm/pull/2895/files#diff-8aa3d2a6377c1a49177482cb1ef79891182de2ee27fc46b2e75baf097868bc28R623 and will instead be ignored and overwritten by the subsequent waitForDeletion call

[2021-08-04 20:45] powellquiring opened #2938 "dns resources feedback"
@MalarvizhiK huysong asked for feedbback on the dns resources in the provider.

- [ ] Documentation should include _ibm_resource_instance so it is crystal clear how to create the ibm_dns_zone and in the case I was reviewing the custom resolver ibm_dns_custom_resolver

[code]

- [ ] The ibm_dns_custom_resolver has an element "locations" that should be "location", singular.  Each of these element de

[2021-08-04 21:03] kdixonIBM opened #2939 "attempt to modify the number of processors in a Power VS LPAR fails with message "cloud-instance does not have the capability to set custom virtual cores""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-04 21:11] lra opened #2940 "Include the IBM ID in the ibm_iam_user_profile data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-05 05:33] yussufsh commented on #2939
Thanks for creating the issue. As per discussion with the service broker team one thing is clear that updating processors does not need additional capabilities on the service instance. Everyone should be able to increase/decrease the processors and is enabled by default.

However setting custom virtual cores needs additional capability that is not enabled by default. As per the error message it se

[2021-08-05 05:35] kavya498 commented on #2938
@powellquiring
for 2nd
`locations` is of type set, that is the reason it is made as `locations`
for 3rd one there is a bug in resource docs subcategory.. It is fixed and `dns_custom_resolver_forwarding_rule` docs  ll be available under DNS Service category
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/dns_custom_resolver_forwarding_rule

[2021-08-05 07:33] harshit777 commented on #2929
@l2fprod We are working on with the SDK Team for the same and will update this thread.

[2021-08-05 09:12] wosteven commented on #2933
HPCS issue, not a TF provider error. Closing this.

[2021-08-05 09:12] #2933 closed

[2021-08-05 12:55] jwcroppe commented on #2939
@yussufsh Agree with your comment - it looks like the issue is that the provider code is attempting to post an update (to the same value) the virtual cores when the user didn't actually change it - they were just changing the processors, which should be allowed.

Looks like the code that determines which fields changed needs to be updated and only update the appropriate fields in the PowerVS API c

[2021-08-05 12:55] jwcroppe commented on #2939
@renier FYI ^^^

[2021-08-05 13:26] surajsub commented on #2939
There is a change that's already available in my local provider was not pushed to the ibm cloud provider. I'll work with @yussufsh  to pull that in.

[2021-08-05 13:49] willholley commented on #2811
@hkantare I can confirm that the Service ID API key works to log in / retrieve a kubecontext using the steps at https://cloud.ibm.com/docs/openshift?topic=openshift-access_cluster#access_service_id (which look to be the same steps as for user API keys):

[code]

[2021-08-05 13:58] hkantare commented on #2811
@willholley I'm talking about the token (host = data.ibm_container_cluster_config.cluster_config.host**) this one...
[code]

[2021-08-05 16:03] ifs-anthonylecarrer opened #2944 "Certificate manage order systematically failed first time after 1min provisionning and succeed the second time"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-05 16:25] yussufsh commented on #2939
After discussing with Suraj and running some tests found that the virtual cores are needed to be set along with the processors. So the current PR needs to be updated to include virtual cores only when the capability is enabled for the service instance.

[2021-08-05 18:26] ifs-anthonylecarrer opened #2945 "Fine-grained authorization policy between cms and cis"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-06 03:35] MalarvizhiK opened #2946 "Terraform doc for custom resolver"
Our doc team,  noticed a weird thing in the DNS Services navigation. There seems to be one item in "DNS Svcs" instead of everything being under the "DNS Services" heading.
 https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/dns_custom_resolver_forwarding_rule

[2021-08-06 04:21] astha-jain commented on #2923
@SunithaGudisagarIBM  Could you please take a look?

[2021-08-06 04:44] hkantare commented on #2946
Its fixed in the latest branch...It will be available as part of next release

[2021-08-06 06:09] kavya498 commented on #2944
@ifs-anthonylecarrer
Looks like the post call for order is successful in terraform as well..

We not only order certificate.. we wait for certificate order state to be valid.. wait is ntng but we do continuous GET calls on the certificate and check for status to be valid.. if it is in fail state.. terraform will also fail..

Looking at the error, It has ordered certificate but, status of ordered c

[2021-08-06 06:12] kavya498 commented on #2946
https://github.com/IBM-Cloud/terraform-provider-ibm/commit/b2724c9751d5584affc762b3c9fdbbac8b3fee7b
Closing this issue..
Thanks

[2021-08-06 06:12] #2946 closed

[2021-08-06 07:29] ifs-anthonylecarrer commented on #2944
Hello @kavya498

I can not understand why the terraform resource always fail after 1min or succeed after 1min while my timeout is 15min. I can not understand also why calling is always successfull.

I have an issue opened on ibmcloud side

https://cloud.ibm.com/unifiedsupport/cases?number=CS2401764

But the the api is working good !

[2021-08-06 12:44] wosteven opened #2949 "ibm_container_vpc_cluster should not include a default worker pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-06 13:34] kavya498 commented on #2944
@ifs-anthonylecarrer ,

After ordering certificate.. Looks like certificate ended up in fail state..
If status of certificate is `failed` terraform provider will not wait anymore.. It ll exit immediately no matter what the timeout is..

`Error: Error waiting for Ordering Certificate (crn:v1:bluemix:public:cloudcerts:eu-de:a/c390be9ff090461d9cbd6ac76667ba0a:dbdc1d6f-053c-4731-b676-a3a95f72009b:cert

[2021-08-06 14:32] ifs-anthonylecarrer commented on #2944
@kavya498

For sure u know that my certificate is in failed status. My question is why this certificate alway fall in failure status at 1st provisionning after 1 minute and why it works and the answer is always after exactly 1 minute.

As my certificate is in failed status i have to destroy the resource and to rerun my ci/cd workflow to provision a new one that works. I need to understand why the

[2021-08-06 15:12] astha-jain commented on #2772
@ujjwal-ibm Can you please see if this is resolved?

[2021-08-06 15:53] mossuchida opened #2950 "Need Licensing fee management feature"
Currently, there is no documentation about
- How to add "OCP Entitlement".  Please provide me steps to add my "Cloud pak OCP entitlement" to this worker pool.
- How to setup so that it can be charged "hourly".

These features are needed for `classic infrastructure`
Please provide these steps. If they are not implemented, please provide me guidance on how to add these features as I run daily automa

[2021-08-06 16:16] mossuchida commented on #2950
Oh, I guess this?  https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/container_cluster
resource "ibm_container_cluster" "cluster" {
....
  entitlement       = "cloud_pak"
}

and Billing is depricated that means there is no longer hourly & monthly billing?

`billing - (Deprecated, Optional, Forces new resource, string) The billing type for the instance. Accepted values are

[2021-08-06 16:32] willholley commented on #2811
it seems like the `user` and `token` attributes in the kubecontext don't get populated until `oc login` has been run:

[code]

So perhaps there's a dependency/ordering problem where the `oc_login` step in Terraform needs to occur before the helm provider is initialized @vburckhardt

[2021-08-06 16:42] powellquiring commented on #2938
for location versus locations, take a look at these examples https://www.terraform.io/docs/language/expressions/dynamic-blocks.html
"setting" and "origin_group"

https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/codebuild_project check out "environment_variable"

https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/cloudfront_distribution#origin
"or

[2021-08-09 06:56] #2939 closed

[2021-08-09 07:14] kavya498 commented on #2950
@mossuchida ,
Billing is based on the flavor of the pool..
`machine_type` argument in the resource defines flavor..
I believe all virtual machines are hourly billing..
<img width="909" alt="image" src="https://user-images.githubusercontent.com/46739084/128671032-d4b40dbe-c57d-4441-92d3-d89e7b8cb6c9.png">

[2021-08-09 08:11] #2772 closed

[2021-08-09 10:29] willholley commented on #2811
in the `ibm_container_cluster_config` data source it ultimately calls https://github.com/IBM-Cloud/bluemix-go/blob/master/api/container/containerv1/clusters.go#L571, so this is perhaps where to go digging.

[2021-08-09 11:10] kavya498 commented on #2938
Ohh we have followed plural everywhere..
Here are few examples
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_lb_listener_policy#rules
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/dns_glb_monitor#headers
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/dns_glb_pool#origins
https://registry.terraform.io/provid

[2021-08-09 12:20] daniel-butler-irl commented on #2949
As far as I can tell from the documentation it is impossible to create a cluster without a default worker pool.
https://cloud.ibm.com/apidocs/kubernetes#createcluster
Instead, there is another issue to allow a custom name for the default pool https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2849
I have started work on this PR:
https://github.com/IBM-Cloud/terraform-provider-ibm/pull/2956

[2021-08-09 12:30] wosteven commented on #2949
Hi Daniel, sure giving it a name is a start.
But you would not be able to delete this WP with TF.
With CLI and UI it is possible, but with TF it's not because the "default worker pool" is not represented as its own terraform resource, but "backed" into the cluster resource object.
I understand that TF provider can only use what REST API provides :)  --> maybe you can convince IKS team that this ma

[2021-08-09 12:50] kavya498 commented on #2944
@ifs-anthonylecarrer ,
After post we have a wait logic to check for the status of the certificate..
So there to call a GET after POST we wait for 1m..
We can reduce it to 10s for better time management

But, we are not aware why certificate goes to failed state during first time.. This has to be investigated by service team(Certificate Manager Service)..

[2021-08-09 13:12] kavya498 commented on #857
Closing this issue
Available in [1.18.0](https://github.com/IBM-Cloud/terraform-provider-ibm/releases/tag/v1.18.0) and above versions
Thanks

[2021-08-09 13:12] #857 closed

[2021-08-09 13:59] pbaity opened #2957 "Validate IBM Cloud region before attempting to contact API"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-09 14:15] cjol opened #2958 "ibm_function_action shows user_defined_parameters as empty when in a package"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-09 15:36] guicabr commented on #2905
Hello @PKehnel , sorry for the delay in my response, I was on sick leave for last 2 weeks. I have re routed this issue to the lead  for IAM Access Groups.

[2021-08-09 19:39] powellquiring opened #2961 "resource ibm_is_instance creation completed but primary_network_interface.primary_ipv4_address not in state"
I did an apply noticed the next day that the primary_ipv4_address had not been captured in the sate.  I ran the apply again and confirmed that that the primary_ipv4_address had not been persisted:

[code]

[2021-08-10 05:54] kavya498 commented on #2957
@pbaity ,

I don’t think this is possible.. There are two issues that would be stopping this..

- There are private regions used by customers which cannot be exposed anywhere in the code for validation..
- When ever there is a support for new region.. Customers ll have to wait until it is been supported by provider..

[2021-08-10 07:03] #2944 closed

[2021-08-10 08:18] #2911 closed

[2021-08-10 13:32] powellquiring opened #2966 "ibm_dns_custom_resolver id is not the id of the resource is is id:some_extra_string"
[code]

Then later using the custom resolver "id" for the ibm_dns_custom_resolver_forwarding_rule.resolver_id produced the following.  Notice the colon (:) separated string where the first part is the id:

[code]

It is possible to work around this:

[code]

[2021-08-10 13:37] powellquiring commented on #2938
Added two more to the list:
- [ ] #2938
- [ ] https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/dns_custom_resolver import mentions custom_resolver_id but should be "custom resolver `id`"  The name was changed from custom_resolver_id to just id.  Check all places in the docs for this.

[2021-08-10 14:00] pbaity commented on #2957
@kavya498 There's no way to try/catch hit some API endpoint and see what HTTP code it returns? Ideally some type of preliminary request that can immediately return either a 200 or 400-500 range error that will show whether the endpoint is valid for that user, whatever region (private or otherwise) they've selected.

Pseudo-code:
[code]

It would seem like a design flaw if something simple as just

[2021-08-10 14:27] kavya498 commented on #2938
@MalarvizhiK ,
Can you please have a look?

[2021-08-10 15:01] kavya498 commented on #2957
We do retries on few error codes and some error handlings on few other error types and strings..
If we take up this.. We ll have to do this for every request we do in every resource which is out of our scope..
It should be handled from API side.. We may not be able to handle it..

May be as a workaround when you write a template..
You can add validation to the variables in your template.. I think

[2021-08-10 18:05] powellquiring opened #2968 "ibm_is_subnet destroy is not checking the return status"
This was the subnet.
[code]

 It was in a configuration that contained a custom dns resolver which had put an invisible NIC into the subnet.  The subnet could not be deleted.

An attempt to delete the subnet from the cli:

[code]

But executing the destroy from terraform did not yield an error.  Instead it thought the delete was eventually going to be successful:

[code]

Expected: like the cli wh

[2021-08-10 18:37] astha-jain commented on #2968
@powellquiring  For this particular error, code 409 of subnet destroy, TF will wait and retry as we consider this is an intermediate step and TFP should be able to delete subnet eventually.
This happens when subnet is waiting on attached resources to be deleted. If attached resources were not deleted, subnet delete will fail after couple of reties.

[2021-08-10 18:47] astha-jain commented on #2961
@powellquiring I was not able to recreate it.
1 - I created an instance and I see `primary_ipv4_address` in state
2 - I changed the private IP and that forced replacement on the instance

Could you please give the steps to recreate it ?

[2021-08-10 19:03] astha-jain commented on #2662
@kavya498 Please close this issue.

[2021-08-10 19:05] astha-jain commented on #2517
@vkshrivastva This item was resolved, Please let us know if you see this issue again.
@kavya498 please close this issue.

[2021-08-10 19:05] astha-jain commented on #2549
@kavya498 please close this issue. work item complete

[2021-08-10 21:18] powellquiring opened #2969 "ibm_is_subnet change routing table to null does not make the subnet dirty"
sources: https://github.com/powellquiring/tfbugs/tree/master/bug-subnet-routing-table

Expected changing the subnet to null would be deleted then added.
Actual no changes

resource:
[code]

- initial state, apply:
[code]

- change state, then apply

[code]

results:

[code]

[2021-08-10 22:02] astha-jain commented on #2969
@powellquiring Subnet does not allow removal of a routing table, you should be able to replace it with a new one.

[2021-08-11 04:46] hkantare commented on #2662
closing the issue

[2021-08-11 04:47] hkantare commented on #2517
closing the issue

[2021-08-11 09:17] #2923 closed

[2021-08-11 10:44] narinder-kaur commented on #2905
@PKehnel, we are currently looking into it and Will get back soon.

[2021-08-11 12:43] ujjwal-ibm opened #2972 "Instance template boot_volume without name parameter gives validation_failed_min_length error"
### Terraform CLI 1.0.0 and Terraform IBM Provider Version 1.29

### Affected Resource(s)

* ibm_is_instance_template

### Terraform Configuration Files

Please include all Terraform configurations required to reproduce the bug. Bug reports without a functional reproduction may be closed without investigation.

[code]

### Debug Output
[code]

### Steps to Reproduce

1. `terraform apply`

[2021-08-11 13:37] #2892 closed

[2021-08-11 19:28] powellquiring commented on #2938
On the plurals, the SDK/terraform generation team should be contacted to determine how to resolve this issue before adding any more plurals to the code base.

[2021-08-12 07:22] DwitikrDash commented on #2966
It's possible. working on it

[2021-08-12 10:49] vburckhardt commented on #2811
@hkantare - https://cloud.ibm.com/docs/openshift?topic=openshift-access_cluster#access_service_id with a service Id api key. It is possible to login no problem with a serviceID API Key following the steps here. It is not working with the terraform module - using the same Service Id API key

[2021-08-12 15:19] rchillarasolr opened #2980 "How to create a boot volume/rootvg with 100 GB via Terraform"
Hi,

I want to create a boot volume with 100GB for the PowerSystem Virtual Instance. The default is 20GB for the bootvolume is there a way to provide more than 20GB like 100GB in terraform ?. Any kind of references will be helpful.
Appreciate your response.
Thanks
Rc

[2021-08-12 15:58] astha-jain commented on #2969
Agreed.

[2021-08-12 18:02] ujjwal-ibm commented on #2980
What image are you using to provisioning the virtual instance ? can you provide the details of the image ? @rchillarasolr

[2021-08-12 18:07] arjunsbabu opened #2982 "Enable filter for security group by VPC"
Hi Team,

Currently in ibmcloud if the number of security group is more than 100 then the API is responding with error 500.
In this case terraform plan/apply is also getting failed with the same error.
So this could be solved if terraform filter the SG by VPC.
Hence request you to check on the same.

[2021-08-12 18:09] arjunsbabu commented on #2982
Terraform errors are as follows
[code]

[2021-08-12 18:11] arjunsbabu commented on #2982
Ibmcloud CLI errors are as follows

[code]

[2021-08-12 19:15] powellquiring opened #2983 "ibm_is_vpc_default_routing_table and ibm_is_vpc_default_routing_table differences"
The are two different ways to get at a routing table.  But the attributes are different.  Below is the focus on the attributes that interested me, but all of the attributes should be examined.

https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_vpc_routing_table

Attribute reference
- id - (String) The routing table ID. The ID is composed of <vpc_id>/<vpc_route_table_id

[2021-08-12 22:16] addison-martin1 opened #2984 "Argument reference description for MFA setting is incorrect"
The description for `mfa` duplicates the description for `session_expiration_in_seconds`. Can this description be updated with info for setting the MFA type for an account? https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/iam_account_settings#mfa

<img width="675" alt="Screen Shot 2021-08-12 at 3 09 39 PM" src="https://user-images.githubusercontent.com/79336963/129276697

[2021-08-13 04:43] rchillarasolr commented on #2980
Below are the details. Our requirement is to use a AIX 7.1 version(fyi).
Machine type s922
Boot image 7100-05-04

[2021-08-13 05:31] SunithaGudisagarIBM commented on #2969
@powellquiring From my analysis force new cannot be set to true as we can update routing table  and also If unspecified the default routing table will be attached to it.

Can you please provide the steps to reproduce the issue,  I need your configuration file and steps you followed to reach to this stage..

Thanks,

[2021-08-13 08:44] hkantare commented on #2811
As per above docs we are able to login to openshift cluster using the serviceIDAPI key....not with the token of the cluster config...

[2021-08-13 08:46] #2982 closed

[2021-08-13 18:09] vburckhardt commented on #2811
I think the issue is at https://github.com/IBM-Cloud/bluemix-go/blob/9ddb928888172cca030b18dc68df8d71773b689b/api/container/containerv2/openshift.go#L106 - the SDK is using a passcode to attempt to login, which won't work for a ServiceID.

@hkantare - Do you have the terraform sample that is used for the scenario that "works"?

[2021-08-13 19:14] astha-jain commented on #2983
I'll take a look

[2021-08-16 12:45] ujjwal-ibm commented on #2983
@powellquiring

First one(https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_vpc_routing_table) is a resource, second one(https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/is_vpc_default_routing_table) is a datasource.

 the id generated for a connected resource is usually a combination, so  **<vpc_id>/<vpc_route_table_id>** is the id wrt to

[2021-08-16 15:28] ujjwal-ibm commented on #2983
@powellquiring these two `default_routing_table` and `id` here (https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/is_vpc_default_routing_table) are the same.

[2021-08-16 17:17] bemahone opened #2988 "IBM Cloud Terraform Provider is unable to upgrade the "vpc-block-csi-driver" addon on VPC Gen 2 Clusters"
**Terraform Version**

Terraform 13 w/ v1.29.0 IBM Cloud provider (running under schematics)

**Affected Resource(s)**

`ibm_container_addons`

**Description of Issue:**

The IBM Cloud Terraform Provider is unable to upgrade the "vpc-block-csi-driver" addon on VPC Gen 2 clusters.  The cloud team releases new versions of this addon over time.  These could be bug fixes, feature enhancements or secur

[2021-08-16 17:19] DanielFarrarCO opened #2989 "ibm_is_snapshot - Unable to set timeouts"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-16 17:26] astha-jain commented on #2989
@ujjwal-ibm Can you please take a look?

[2021-08-17 05:46] ujjwal-ibm commented on #2989
@DanielFarrarCO

Snapshot do support timeouts,  please use the `timeouts` attribute as done in other resources.
[code]
Added a documentation update

[2021-08-17 10:06] DwitikrDash commented on #2966
Hi,

Could you let us know how to reproduce the above scenario (resolver_id = "2e6e328e-5e55-4b2e-9a2e-fb5b5b976436:3874a29a-ed73-429a-bc02-f2534996f45f"). We tried terraform plan but did not see any extra string in resolver id

[code]

[2021-08-17 13:22] DanielFarrarCO commented on #2989
Thanks for the documentation update!  I'll pass this along to the Ansible team so that timeouts can be added to the Ansible modules as well.

[2021-08-17 13:22] #2989 closed

[2021-08-17 18:05] powellquiring commented on #2966
Maybe I'm using the wrong attribute.  I used the "id" instead of the "custom_resolver_id"

[code]
Then:
[code]

Here: https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/dns_custom_resolver  The problem is missing and wrong docs:

![image](https://user-images.githubusercontent.com/6932057/129776308-5614741c-b629-478c-a89b-1c1ef8cff710.png)

id - (String) The unique ID of th

[2021-08-17 18:22] powellquiring opened #2994 "ibm_is_vpc.address_prefix_management changes not recorded"
Changes in ibm_is_vpc.address_prefix_management are not being recorded.

Expected: A change in address_prefix_management would force the vpc to be deleted then re-created
Actual: no change

[code]

Apply the above, then change the value of address_prefix_management to manual.  Notice - no change:

[code]

[2021-08-17 19:46] powellquiring opened #2995 "docs for ibm_is_virtual_endpoint_gateway for COS do not exist"
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_virtual_endpoint_gateway

To get this to work for COS I believe is something like this:

[code]

I could not figure this out from the docs provided.  Specifically the COS example in the ibm_is_virtual_endpoint_gateway.  An example like this needs to be added in the terraform ibm_is_virtual_endpoint_gateway docs.

[code]

[2021-08-18 07:25] #2972 closed

[2021-08-18 09:19] kavya498 commented on #2249
Closing this issue thanks..

[2021-08-18 09:19] #2249 closed

[2021-08-18 09:24] kavya498 commented on #12
Closing this issue.. thanks

[2021-08-18 09:24] #12 closed

[2021-08-18 09:28] #2662 closed

[2021-08-18 09:29] #2549 closed

[2021-08-18 10:00] #2517 closed

[2021-08-18 10:02] kavya498 commented on #2612
Closing this issue.. As there is no response..
Please reopen if you see this issue again..
Thanks

[2021-08-18 10:02] #2612 closed

[2021-08-18 10:03] kavya498 commented on #2431
Closing this issue..
Thanks.

[2021-08-18 10:03] #2431 closed

[2021-08-18 10:04] kavya498 commented on #2589
Closing this issue..
Thanks..

[2021-08-18 10:04] #2589 closed

[2021-08-18 11:53] kavya498 commented on #2957
Closing this issue.. As, this cannot be achieved via provider..

Thanks..

[2021-08-18 11:53] #2957 closed

[2021-08-18 12:03] kavya498 commented on #2950
@mossuchida ,
Hope above comment helped you to resolve the issue..
Closing this issue..Please reopen if issue persists..
Thanks..

[2021-08-18 12:03] #2950 closed

[2021-08-18 12:20] kavya498 commented on #2656
@jvallexm ,
This is an issue from API side..
We don't have control on these images..

[2021-08-18 13:03] kavya498 commented on #2771
Closing this issue as it has been inactive for more than 30 days..This helps maintainers find and focus on the active issues.

If you feel this issue should be reopened, we encourage creating a new issue linking back to this one for added context. Thanks!

[2021-08-18 13:03] #2771 closed

[2021-08-18 16:14] david-shepard commented on #2827
Thanks for the fix!

[2021-08-18 16:14] #2827 closed

[2021-08-18 16:26] kavya498 commented on #1394
Closing this issue..
Thanks

[2021-08-18 16:26] #1394 closed

[2021-08-18 16:33] kavya498 commented on #616
Fix is available in 1.5.0 and above releases
Thanks..

[2021-08-18 16:33] #616 closed

[2021-08-18 16:47] kavya498 commented on #868
Closing this issue as it was resolved in 1.28.0..Please use latest version of provider..

Thanks..

[2021-08-18 16:47] #868 closed

[2021-08-18 16:47] davetropeano opened #3003 "IBM Cloud Satellite - cannot create location in Dallas"
it looks like the `managed_from` field for the `ibm_satellite_location` resource doesn't support the Dallas MZR (which to be fair, was recently added)

See https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/satellite_location

Got this running `try-sat` project:

[code]

[2021-08-18 16:49] kavya498 commented on #1066
Closing this issue as support is available from 1.28.0 and above releases..
Please use latest provider..

Thanks..

[2021-08-18 16:49] #1066 closed

[2021-08-18 16:52] kavya498 commented on #3003
@davetropeano ,
We have removed validation from provider..
This fix ll be available in 1.30.0 release..

If API allows dallas provider should also allow with 1.30.0 release..

[2021-08-18 16:56] ujjwal-ibm commented on #881
As per https://github.com/IBM-Cloud/terraform-provider-ibm/pull/2672

We are supporting volume attachments as a separate resource

[code]

[2021-08-18 17:03] kavya498 commented on #2212
Closing this issue..
Thanks..

[2021-08-18 17:03] #2212 closed

[2021-08-18 17:09] dprosper commented on #881
@ujjwal-ibm This is not clear to me, does this mean now I can do what I requested, i.e. create an instance AND a volume just like the CLI?

[2021-08-18 17:09] kavya498 commented on #2882
Closing this issue as it has been inactive for more than 30 days..This helps maintainers find and focus on the active issues.

If you feel this issue should be reopened, we encourage creating a new issue linking back to this one for added context. Thanks!

[2021-08-18 17:09] #2882 closed

[2021-08-18 17:25] ujjwal-ibm commented on #881
@dprosper no. We had some limitation wrt terraform and the backend sdk, so we can't support it the way cli does.

As per the new support:
1. Create an instance (with/without existing volumes)
2. Create a volume attachment on that resource (new/existing volumes)

[2021-08-18 18:30] dprosper opened #3006 "Load Balancer cannot be updated because its status is 'UPDATE_PENDING'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-18 20:11] dprosper commented on #881
ok so I guess this can be close as can-t-fix. thx

[2021-08-19 05:01] kavya498 commented on #881
Closing this issue..
Thanks

[2021-08-19 05:01] #881 closed

[2021-08-19 05:08] kavya498 commented on #2123
new resource has been developed for hpcs..[ibm_hpcs](https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/hpcs)
Closing this issue as this example is no longer available..
Thanks..

[2021-08-19 05:08] #2123 closed

[2021-08-19 05:29] kavya498 commented on #3003
@davetropeano ,
Can you confirm if you are facing same issue with 1.30.0?

[2021-08-19 06:51] #2984 closed

[2021-08-19 12:28] gitjps opened #3009 "VSI from custom image"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-19 14:06] ujjwal-ibm commented on #3009
@gitjps

Seems like you're using `id` in place of `name` in your datasource

[code]

Try using the name of the image.

[2021-08-19 14:43] l2fprod opened #3011 "Provider 1.30 crashes on ibm_kms_key when calling apply twice"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-19 14:57] l2fprod opened #3013 "Regression: "AuthorizationDelegator" no longer works in 1.30.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-19 16:26] gitjps commented on #3009
obsolete

[2021-08-19 16:26] #3009 closed

[2021-08-19 16:32] astha-jain commented on #3006
Hi @dprosper Load balancer service does not allow any operation while it is 'UPDATE_PENDING'.

[2021-08-19 16:38] dprosper commented on #3006
@astha-jain  so I cannot add a security group to a LB after it has been created?

[2021-08-19 16:43] astha-jain commented on #3006
UPDATE_PENDING status means there is an update happening in backend at the moment. Once it completes, status changes back to 'ACTIVE' and then you can perform a new operation.

[2021-08-19 17:45] dprosper commented on #3006
Thank you, but I understand you are describing her in more details what the issue is, but that is not a solution, correct?  The provider is being requested to add a security group to the LB, my expectation is for that to happen.  Having the user repeat the operation (which btw does not work) or having to modify the template in order to perform a NEW operation defeats the purpose of using the provi

[2021-08-19 18:07] powellquiring opened #3014 "ibm_container_vpc_cluster docs needs improvement"
Docs here https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/container_vpc_cluster

A number of the parameters are actually parameters of the default worker pool, but this is not clear from the docs:
----
zones - (Required, List) A nested block describes the zones of this VPC cluster.

Nested scheme for zones:

name - (Required, Forces new resource, String) The name of the

[2021-08-20 08:33] geethaostrg commented on #3014
@powellquiring , docs description is fixed for zone and entitlement, as per the content shared by the dev team and a PR is raised to merge into registry, in the upcoming release,  the change will be reflected.

Thanks much for letting us know,
@geethasathyamurthy

[2021-08-20 14:01] ocofaigh opened #3017 "When using multiple taints with same key name, not all taints get applied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-20 14:53] harshit777 commented on #3011
Hi! @l2fprod, There seems to be a bug and we are working on it. Until its not urgent and not causing any blockers, it will be resolved with the next terraform ibm provider release.

Thanks

[2021-08-23 09:06] ocofaigh commented on #3017
Looking in to this more, I think this is a known limitation of the IKS API. Perhaps you can confirm? It seems the IKS API uses a map of "<taint-key>=<taint-value>:<effect>" and so the key values must be unique in the request to the API.
Internal IBM issue: https://github.ibm.com/alchemy-containers/armada-ironsides/issues/2555

[2021-08-23 09:43] tpolekhin opened #3018 "ibm_database fails to update user password"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-23 09:50] kavya498 commented on #3018
@tpolekhin ,
Can we get complete logs?

[2021-08-23 10:14] tpolekhin commented on #3018
[code]

[2021-08-23 10:23] tpolekhin commented on #3018
btw, after this error Terraform sees no changes to the infrastructure, even though user password update failed
[code]

[2021-08-23 11:35] harshit777 commented on #3011
As a workaround to the current scenario, we would encourage you to use `endpoint_type` as `private` in resource block in your tf file while provsioning kms_key or any kms resource.

[2021-08-23 12:03] #2905 closed

[2021-08-23 14:56] vburckhardt commented on #2811
PR for the authentication issues: https://github.com/IBM-Cloud/bluemix-go/pull/318

[2021-08-23 14:56] vburckhardt commented on #2826
PR for the authentication issue at https://github.com/IBM-Cloud/bluemix-go/pull/318

[2021-08-23 18:12] andrewferrier opened #3020 "ibm_satellite_location seems to have stopped working"
### Terraform CLI and Terraform IBM Provider Version

Terraform v1.0.5
on darwin_amd64
Provider 1.30

### Affected Resource(s)

* ibm_satellite_location

### Terraform Configuration Files

[code]

### Debug Output

[code]

[code]

### Expected Behavior

Satellite location is created.

### Actual Behavior

Satellite location is not created.

### Steps to Reproduce

1. `terraform apply`

Does not se

[2021-08-24 05:14] kavya498 commented on #3018
@tpolekhin,
We not only update user name and password.. but also wait for the status of the task to be `completed`
Looks like the status is `failed` i.e is the reason terraform failed..

We are not setting back in READ method as we dont have any API to get users of database.. That is why you see No Infrastructure.. We ll look into it how it can be handled..

[2021-08-24 07:25] #2940 closed

[2021-08-24 13:45] hkantare opened #3026 "provisioning a compute public IP intermittent fails with cannot unmarshal bool into Go value of type datatypes.Provisioning_Version1_Transaction"
When we are provisiong a classic public/globalIP its fails intermittently
[code]

[2021-08-25 04:35] anilkumarnagaraj commented on #3020
@andrewferrier

We have fixed the 404 error in terraform 'ibm_satellite_location' resource. Fix is available in 1.30.1 release
Please try with the latest release and let us know if you have any issues with location creation.

[2021-08-25 10:05] andrewferrier opened #3029 "Terraform provider for ibm_is_vpc does not allow for tags to be assigned to a SG, ACL, routing table"
### Terraform CLI and Terraform IBM Provider Version

Terraform v1.0.5
on darwin_amd64
+ provider registry.terraform.io/hashicorp/local v2.1.0
+ provider registry.terraform.io/hashicorp/null v3.1.0
+ provider registry.terraform.io/hashicorp/random v3.1.0
+ provider registry.terraform.io/hashicorp/template v2.2.0
+ provider registry.terraform.io/hashicorp/time v0.7.2
+ provider registry.terraform.i

[2021-08-25 13:22] andrewferrier commented on #3029
Yes, that's the problem I'm reporting.

[2021-08-25 13:46] astha-jain commented on #3029
@andrewferrier You are making a good point. I will need to investigate further.

[2021-08-25 21:59] holly-cummins opened #3031 "README install documentation has incorrect local path for terraform v13"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-26 15:29] acursons opened #3037 "Cannot provision Classic VSI with a SAN disk"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-27 08:49] kylem-ibm opened #3038 "ibm_database - error updating database disk auto_scaling group in some regions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-27 10:38] #3038 closed, assigned to nobody

[2021-08-29 11:54] rchillarasolr commented on #2980
@jwcroppe  thanks for the response, so gui/capture and export  is the only way to extend...if i understand it correctly we cannot use terraform to do the extending of the volume and by custom image is the way to go ?.

[2021-08-30 15:24] jwcroppe commented on #2980
@rchillarasolr Well, technically you could orchestrate everything I mentioned via Terraform automation too - you'd have to use Terraform to orchestrate the entire flow I described above.  If your goal was just to use Terraform to deploy AIX with the larger volumes, the easiest path is to create your own image by hand and then base your orchestration off that image as I originally described... hope

[2021-08-30 19:37] astha-jain commented on #3006
I will investigate this further.

[2021-08-31 14:37] powellquiring commented on #2961
I can not reproduce

[2021-08-31 14:37] #2961 closed

[2021-09-01 04:04] duelist2021jp commented on #2759
I don't know why vpc_address_prefix Destroy process is starting before destroying completion of subnet.
I think that the following work is correct originally. Please advice for me.

<expected work>
ibm_is_subnet.my_access_vpc_subnet: Destroying... [id=02e7-f89111db-67db-4041-96e3-6275db37c223]
ibm_is_subnet.my_access_vpc_subnet: Still destroying... [id=02e7-f89111db-67db-4041-96e3-6275db37c223, 10

[2021-09-01 13:07] andrewferrier opened #3048 "Cannot provision Schematics workspaces with recent versions of Terraform"
### Terraform CLI and Terraform IBM Provider Version

[code]

### Affected Resource(s)

* ibm_schematics_workspace

### Terraform Configuration Files

[code]

### Debug Output

│ Error: "template_type" ("terraform_v1.0") should match regexp ^terraform_v0\.(?:11|12|13)(?:\.\d+)?$
│
│   with ibm_schematics_workspace.schematics_workspace_instance,
│   on main.tf line 22, in resource "ibm_schematics_w

[2021-09-02 08:49] cunlifs opened #3053 "ibm_pi_instance_info is not showing decimal places for CPUs"
Using:
Terraform v1.0.3 on linux_ppc64le & terraform-provider-ibm_v1.28.0

When I run the ibm.cloudcollection.ibm_pi_instance_info modules against a PVS VSI it only returns the unit information about the min/current and max entitled cores. In PVS this number can be a fraction of a whole core, from 0.25. Max is 2 decimal points. For example a VSI with 0.25 cores is showing as 0.

pi_instance_existi

[2021-09-02 09:04] #2994 closed

[2021-09-02 12:26] jwcroppe commented on #3053
@yussufsh FYI

[2021-09-02 13:10] yussufsh commented on #3053
We need to also look at other attributes where the types needs to be corrected and also the website page need some updates. I will work on the fix.

[2021-09-02 13:33] jwcroppe commented on #3053
Thanks @yussufsh - agree - we should also clarify the documentation as well with some examples of the various data types so that it's clear what each attribute represents.

[2021-09-02 13:44] jwcroppe commented on #2980
@rchillarasolr Please let me know if that makes sense and addresses your question?

[2021-09-03 16:23] ujjwal-ibm opened #3062 "Doc fix : Security group rule id resource has id as security_group_rule.rule_id, instead of security_group_rule/rule_id"
### Terraform CLI 1 and Terraform IBM Provider Version 1.30

### Affected Resource(s)

* ibm_is_security_group_rule

[2021-09-03 17:14] powellquiring opened #3064 "ibm_is_floating_ip - bug in the provider resported"
terraform apply resulted in the following:

[code]

Here is the terraform configuration:
[code]

version
[code]

[2021-09-03 17:15] powellquiring commented on #3064
Full output.  The user_data for the ibm_is_instance changed forcing new instance and new floating_ip:

[code]

[2021-09-03 17:18] powellquiring commented on #3064
Apply again worked ok, fip deleted and then created:

[code]

[2021-09-06 06:01] #3053 closed

[2021-09-06 07:07] PKehnel commented on #1662
Any updates for this issue? Is it resolved?
Also see  #1330

[2021-09-06 07:07] PKehnel commented on #1330
Any updates for this issue? Is it resolved?
Also see #1662

[2021-09-06 10:52] kavya498 opened #3072 "Power client doesnot expose URL or endoint env variable in provider config.go"
Support for private endpoints or modify endpoint URL via provider is not possible as values are hardcoded in SDK..
Power SDK has to be modified to accept endpoint as variable..

[2021-09-07 09:29] PKehnel opened #3074 "Adding certain classic access permissions is not working."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-07 09:47] PKehnel commented on #3074
@narinder-kaur Is this your area again? 😄

[2021-09-07 12:18] kavya498 commented on #3074
@PKehnel ,

Using user invite resource we can assign following roles of classic infra across Account, Devices, Network and Services [here](https://cloud.ibm.com/iam/users/invite_users)..
[code]
<img width="1087" alt="image" src="https://user-images.githubusercontent.com/46739084/132342623-32c39686-7989-40b7-8f0c-138ea29395c9.png">

I don't see these roles `ACCESS_ALL_DEDICATEDHOSTS","ACCESS_ALL_HA

[2021-09-07 12:51] PKehnel commented on #3074
This is performed via a terraform file.

They refer to devices.

Same resources are for example used in:
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/compute_user

[2021-09-07 13:17] kavya498 commented on #3074
compute resources uses soft layers APIs.. user invite resources uses IAM APIs..
I dont think it is possible via user invite resource.. may be you can add local exec provisioners and perform
`ibmcloud sl user permission-edit <user_id> --permission <permission_keyname> --enable (true|false)`

[2021-09-07 17:29] jjordana27 opened #3077 "ibm_is_instance_volume_attachment - Multiple volume creation and attachment failure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-07 21:42] david-shepard opened #3078 "Zones are mutable in provider, but seem immutable in IBM Cloud?"
It seems that, for an existing location,you can change zones with the IBM Cloud Provider, but it has no effect on the resulting location. For example, if a location contains the zones us-east-1, us-east-2, us-east-3 and we attempt to change the HCL so the location contains only zones us-east-1a, us-east-1b, us-east-1c. You get the following behavior with terraform generate (removal of initial zone

[2021-09-08 02:16] astha-jain commented on #3077
@ujjwal-ibm Could you please check?

[2021-09-08 03:12] anilkumarnagaraj commented on #3078
zones can't be updated in the cloud console.
We will make the 'zones' parameter has immutable in the provider code.

[2021-09-08 06:04] #2500 closed

[2021-09-08 06:06] #3062 closed

[2021-09-08 06:17] ujjwal-ibm commented on #3077
@jjordana27 try adding `profile = "custom"` , which should resolve the issue.

[2021-09-08 08:00] jjordana27 commented on #3077
Thank you ! Adding profile = "custom" to ibm_is_instance_volume_attachment solves part of the problem: it no longer shows the error and with one terraform apply I can create all the resources without problem. However, the issue with destroying the attachments still exists.
This time, when using terraform destroy, testacc_att1[0] gets deleted but testacc_att1[1] timeouts (sometimes the reverse happ

[2021-09-08 09:12] ujjwal-ibm commented on #3077
@jjordana27 seems like an intermittent issue with multiple volume attachments. We're looking into it.

[2021-09-08 11:08] kannn012 opened #3081 "Terraform is crashing during apply"
terraform version - 1.0.6
Plugin version - terraform-provider-ibm_v1.31.0

â Error: Request cancelled
â
â   with ibm_compute_vm_instance.wsusdal[0],
â   on main.tf line 63, in resource "ibm_compute_vm_instance" "wsusdal":
â   63: resource "ibm_compute_vm_instance" "wsusdal" {
â
â The plugin.(*GRPCProvider).ApplyResourceChange request was cancelled.
âµ

Stack trace from the terraform-provider-ibm_v

[2021-09-08 11:17] hkantare commented on #3081
Can you please enable Trace by exporting TF_LOG=debug and share us the log of terraform apply
and share us the sample configuration

[2021-09-08 11:38] kannn012 commented on #3081
our main.tf file

resource "ibm_compute_vm_instance" "rhsatdal" {
  count                 = var.count_rhsatdal01
  hostname              = var.hostname_rhsatdal01
  domain                = var.domain
  image_id              = var.image_id
  datacenter            = var.datacenter_rhsatdal01
  hourly_billing        = var.hourly_billing
  cores                 = var.cores_rhsatdal01
  memory

[2021-09-08 11:49] tpolekhin opened #3082 "forcenew for address_prefix_management in ibm_is_vpc forces replacement for existing resource with no config change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-08 11:53] hkantare commented on #3081
Please share variables  values also

[2021-09-08 12:33] hkantare commented on #3082
@ujjwal-ibm please look into this

[2021-09-08 12:44] kannn012 commented on #3081
[tfapply.txt](https://github.com/IBM-Cloud/terraform-provider-ibm/files/7128888/tfapply.txt)
debug logs attached. will share variable values shortly.

[2021-09-08 13:12] kannn012 commented on #3081
[tfapply.txt](https://github.com/IBM-Cloud/terraform-provider-ibm/files/7129065/tfapply.txt)
debug logs.

[2021-09-08 13:24] kannn012 commented on #3081
we are trying to provision new servers and its getting provisioned in cloud, but terraform crashes and not updating state file.
here is our variable values.
`{
  "domain": "abc.com",
  "image_id": "7916604",
  "hourly_billing": "true",
  "local_disk": "false",
  "private_network_only": "true",
  "network_speed": "1000",
  "ssh_key_ids": ["11111"],

  "datacenter_prdwveeam1": "wdc06",
  "private_vl

[2021-09-08 13:59] hkantare commented on #3081
When we checked the logs we see one of the POST request failed with
[code]
Can you please open a support case against Classic infrastructure to investigate more why the request is failed..But any way we will look and fix not to crash the provider

[2021-09-08 14:22] kannn012 commented on #3081
sure Thanks for the update. We will raise a case.

[2021-09-08 17:17] david-shepard commented on #3078
Thanks! Let me know when the fix is in place.

[2021-09-08 18:21] uteerna opened #3086 "Unable to provision global IP"
We are getting errors when trying to provision global IPs using terraform. The following is our code:
resource "ibm_network_public_ip" "ftp_global_ip_02" {
    routes_to = ibm_compute_vm_instance.<servername>.ipv4_address
    notes     = var.note
}

The terraform provider version was 1.20.0. When we ran terraform apply, we got the following:
Error: Error editing network public Ip: json: cannot unm

[2021-09-09 04:40] hkantare commented on #3086
The version 1.20.0 is little old binary six month back....For the timeout with 1.30.0 can you please raise a support ticket to follow up with classic infrastructure team why provisioning of global IP is taking more than 30 mins

[2021-09-09 06:13] PKehnel commented on #3074
okay, not happy with the solution but I understand the issue.
Thanks for the info.

[2021-09-09 06:13] #3074 closed

[2021-09-09 16:21] gmzcarlos commented on #2633
@kavya498 can you please include description details to this issue

[2021-09-10 09:21] jjordana27 opened #3089 "Failure modifying volume_name in ibm_is_instance_volume_attachment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-10 09:49] AGrzes opened #3090 "Wrong resource name used in ibm_dns_custom_resolver_forwarding_rule documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-10 13:50] willholley opened #3092 "ibm_is_instance: updating user_data forces a reprovision"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-10 14:34] astha-jain commented on #3092
This is correct behavior. User data is not supposed to change after a VSI is provisioned. Hence when terraform notices change in user data, the behavior is to delete the previous VSI and create a fresh one with the user data provided.

[2021-09-10 15:37] willholley commented on #3092
@astha-jain it seems like there's an inconsistency there: if user-data only applies on first boot then it should be possible to ignore user-data changes after the initial provision. For example, my use case is that I want to have Terrafirn render the `user-data` string for a VSI using a variable that changes over time. I don't want the provider to force existing VSIs to be reprovisioned every time

[2021-09-13 06:32] #3090 closed

[2021-09-13 14:59] kavya498 commented on #2501
Closing this issue..
Thanks

[2021-09-13 14:59] #2501 closed

[2021-09-13 15:00] kavya498 commented on #1348
Closing this issue..
Thanks

[2021-09-13 15:00] #1348 closed

[2021-09-13 16:08] astha-jain commented on #3029
Hello @andrewferrier
Routing table does not support tagging.
I see the name and ID for default acl and default sg is available for vpc and one way to achieve this could be to use the security group datasource and tagging resource.

https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/is_security_group#crn
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/r

[2021-09-14 04:41] #2894 closed

[2021-09-14 04:45] #3029 closed

[2021-09-14 07:47] data-henrik opened #3098 "target in data.ibm_is_virtual_endpoint_gateway is null"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-14 08:28] andrewferrier opened #3099 "Terraform provider does not support Trusted Profiles"
### Description

Terraform provider does not support Trusted Profiles: https://cloud.ibm.com/docs/account?topic=account-create-trusted-profile&interface=ui#create-profile-compute-ui

[2021-09-14 09:24] hkantare commented on #3099
The support for IAM trusted profiles is in development by IAM team..

[2021-09-14 09:30] deshmuk1 opened #3102 "Ability to provide IP address for provisioning Power Systems using ibm_pi_instance resource"
Hi,

ibm_pi_instance terraform resource is missing the ability to provide the IP address for the Power Systems VSI. There is client who is looking for the same. Request if this could be implemented.

[2021-09-14 09:31] Hertog-PJ commented on #730
We would also appreciate this feature.

[2021-09-14 15:12] astha-jain commented on #3092
Hello there @willholley. Terraform provider's lifecycle meta-argument `ignore_changes` will work great for this scenario.
https://www.terraform.io/docs/language/meta-arguments/lifecycle.html#ignore_changes

[2021-09-14 16:53] willholley commented on #3092
thanks @astha-jain - I'll try that as a workaround and report back

[2021-09-14 19:32] maximiano86 opened #3104 "ibm_is_vpc_address_prefix not accepting is_default argument"
We want to create a ibm_is_vpc_address_prefix with a default prefix but is not accepting the value `is_default` as stated in the documentation: https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_vpc_address_prefix#is_default

resource sample is:

[code]

error is:

[code]

please advised

[2021-09-14 19:37] astha-jain commented on #3104
Looking into it

[2021-09-14 19:52] maximiano86 commented on #3104
my bad upgrading from provider version 1.24.0 -> 1.32.0 helped, thanks for looking into it

[2021-09-14 19:52] #3104 closed

[2021-09-15 12:24] powellquiring opened #3108 "ibm_is_lb how to create a network load balancer, what is profile, resource group name"
This is the output of a load balancer

[code]
In the docs https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_lb

Doc states: `profile - (Required, Forces new resource, String) The profile to use for this load balancer. Supported value is network-fixed.`
- [ ]  profile is not required.
- [ ] profile value is `dynamic` not network-fixed, what does dynamic mean
- [ ] resou

[2021-09-15 13:44] powellquiring opened #3110 "changing an ibm_is_instance causes the associated ibm_is_floating_ip to fail"
Find the full test here: https://github.com/powellquiring/tfbugs/tree/master/bug-vpc-fip-instance-modify

After changing the value of user_data in an ibm_is_instance with an associated ibm_is_floating_ip the creation of the floating_ip fails

[code]

Results in the following in the apply after the change:

[code]
version:
[code]

[2021-09-15 15:45] willholley commented on #3092
@astha-jain this solution with `ignore_changes` works for us - thanks for suggesting it.

[2021-09-15 15:45] #3092 closed

[2021-09-15 16:33] andrewferrier commented on #3029
OK - can we please reopen this until the ACL data source is present?

[2021-09-15 16:33] andrewferrier commented on #3029
Thanks for the workarounds @astha-jain

[2021-09-16 03:51] astha-jain commented on #3064
Looking

[2021-09-16 03:51] astha-jain commented on #3110
Looking

[2021-09-16 04:10] astha-jain commented on #3108
I agree profile should not be required. Secondly, `profile = "network-fixed"`  would create a network load balancer.

[2021-09-16 12:40] ac427 opened #3113 "tf fails when there are two clusters with same name"
[code]
When I use above code it asks to use name, but we have two clusters with same name in different regions. It also fails when I give region and name combination. region is also deprecated filed. Are there any options other than renaming the clusters? If IBM cloud is allowing to use same name, probably provider should consider that too :)

[code]

[2021-09-16 12:54] ujjwal-ibm commented on #3110
@powellquiring try `terraform apply` again, the error should go.

We've identified the issue and looking for a fix

[2021-09-16 13:15] jvallexm opened #3114 "As a user, I want to be able to choose the account an IAM API key is created in"
The IAM API allows a user to create an API key in a different account (https://cloud.ibm.com/apidocs/iam-identity-token-api#create-api-key) with the `account_id` parameter. This would be useful as it would automate the process of creating new accounts and then setting them up with this newly created key in a single terraform repo

[2021-09-17 08:56] kavya498 commented on #3113
@ac427 , what is the error?

By seeing log that you provided, it looks like a warning..
[code]
to

[code]

[2021-09-17 14:42] powellquiring opened #3119 "load balancer documentation fixes"
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_lb_listener and other ibm_is_lb_* resources

- [ ] The depends_on are not required
- [ ]  The examples should be more realistic and not have string based IDs like:

[code]

Here is a more full example that could be used as a starting point.  If this example is not included, then a link to some additional documentation t

[2021-09-17 16:09] astha-jain commented on #3119
@deepaksibm Could you please check?

[2021-09-17 18:00] powellquiring opened #3120 "ibm_resource_key doc nests arguments beneath parameters incorrectly"
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/resource_key

The indentation indicates that parameters like `role` are children of `parameters` but in the example this is not the case.

![image](https://user-images.githubusercontent.com/6932057/133833210-fb1263f9-09d9-4f84-a107-369637b2d566.png)

[2021-09-17 18:02] powellquiring commented on #3120
Is service-endpoints = "private" a child of parameters?  If so that would seem odd, since parameters are parameters to 'pass to the resource' but the service-endpoint is the path to get to the resource.

[2021-09-17 18:40] powellquiring opened #3121 "ibm_resource_key for postgresql returns credentials that not in the normal format"
This terraform:
[code]

The terraform output for postgresql is:
[code]

The cli provides the same json output for resource credentials as the IBM cloud console:

[code]

expected: ibm_resource_key.logdna.credentials would be a terraform object and could be referenced using syntax like ibm_resource_key.logdna.credentials.connection.cli and the terraform function jsondecode(ibm_resource_key.logdna.c

[2021-09-20 06:12] kavya498 commented on #3121
@powellquiring ,
credentials is a type map.. and it is known limitation for type map objects in terraform..
similar issue https://github.com/IBM-Cloud/terraform-provider-ibm/issues/1741

[2021-09-20 06:18] kavya498 commented on #3120
We ll fix the doc..
`service-endpoints = "private"` It is a child argument of parameter according to the API.. I believe we are following the same in terraform as well

[2021-09-20 06:20] #2590 closed

[2021-09-20 07:20] #2988 closed

[2021-09-20 13:19] powellquiring commented on #2180
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/resource_key

![image](https://user-images.githubusercontent.com/6932057/134009193-ce215297-6933-43e6-8bb4-64bcd86e3548.png)

This isn't a string.  Document what it really is.

[2021-09-20 13:25] powellquiring commented on #1741
I just ran into this again...   Two solutions I can think of:

- [ ] add the attribute  credentials_json as another attribute.  Document that a terraform configuration could do the following:

[code]
- [ ] Each service creates their own terraform resource:
[code]

In my latest use case I wanted the json document.  I was going to put it into a file and distribute it to an application that was using

[2021-09-20 14:16] powellquiring commented on #3121
Duplicate

[2021-09-20 14:16] #3121 closed

[2021-09-20 15:31] anamikaagrawal123 opened #3124 "ibm_is_lb_pool_member member weight is not working as expected when weight is 0"
Terraform required version is : => 0.13
provider.ibm version = "1.30.2"
Affected Resource(s)

ibm_is_lb_pool_member
Expected Behaviour
- when a member is added with the weight 0 its expected to be added with weight 0.

Actual Behavior

It gets added with the weight 50.
![Screenshot 2021-09-20 at 21 00 21](https://user-images.githubusercontent.com/78848657/134029664-a8d3f44d-93be-48f2-8129-c13e2eb0

[2021-09-20 15:42] david-shepard opened #3125 "Add an api for deleting zones?"
It seems that zones (initially associated with control plane hosts) which are not associated with any hosts ("phantom" zones). We ran into this issue when we attempted to re-assign control plane hosts (by provisioning new hosts to new zones and deleting the old hosts), and noticed the old zones remained and there didn't appear a way to delete them.

Slightly related to https://github.com/IBM-Cloud

[2021-09-20 15:43] #3125 closed

[2021-09-20 16:14] astha-jain commented on #3124
Checking

[2021-09-21 14:10] M-Rushabh opened #3128 "ibm_container_vpc_cluster provisioning failing with error - Error: Authentication failed, Unable to refresh auth token"
### Terraform CLI and Terraform IBM Provider Version

Terraform - 0.13.7
provider.ibm version - 1.31.0

resources  - ibm_container_vpc_cluster

[code]

Above template provisioning is failing with error :-
`Error: Authentication failed, Unable to refresh auth token: Post "https://iam.cloud.ibm.com/identity/token": net/http: request canceled (Client.Timeout exceeded while awaiting headers). Try agai

[2021-09-21 14:11] M-Rushabh commented on #3128
@hkantare  Could you please look at it.?

[2021-09-22 15:03] dpittner opened #3131 "last_operation is reported as change, and can not be applied"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-22 16:30] surajsub commented on #3102
are you looking to pass ip as input to the terraform resource  ?

[2021-09-22 19:53] rmoralesjr commented on #3102
We are looking into your request to pass in an IP address to associate with the instance along with the network identifier.

[2021-09-23 11:20] ocofaigh opened #3135 "Multiple data lookups on `ibm_container_cluster_config` causes a 429 rate limiting error"
**Project Golden Eye (IBM internal)**

It seems having parallel data lookups on `ibm_container_cluster_config` causes a 429 rate limiting error. The use case where this has been reproduced is when 3 clusters have been deployed as part of the same terraform apply, and multiple data lookups of the different clusters occur:

[code]

Could the code be improved to handle this use case and avoid the rat

[2021-09-23 11:49] nven commented on #3048
Will be fixed as part of #2901

[2021-09-24 09:43] ocofaigh opened #3139 "ROKS cluster creation failing - unable to find COS instance"
**IBM internal Project Golden Eye**

We are hitting the following issue very frequently (but not every time), where COS instance provisioning is successful, but when the cluster tries to use it, it cannot find it:
[code]

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original i

[2021-09-24 12:52] argeiger opened #3142 "ibm_dns_zones - invalid memory address or nil pointer dereference"
### Terraform CLI and Terraform IBM Provider Version

Terraform v0.14.7
+ provider registry.terraform.io/ibm-cloud/ibm v1.32.1

### Affected Resource(s)

* ibm_dns_zones

### Terraform Configuration Files

[code]

### Debug Output / Panic Output

[code]

[2021-09-27 06:30] #2811 closed

[2021-09-27 12:24] ocofaigh commented on #3135
I tried to reproduce this issue locally with trace logs enabled incase it helps to find a fix / workaround in the provider code. For me, the apply actually passed, however the subsequent destroy hie the 429 rate limit:

[code]

So I am attaching the logs from both apply and destroy. The code used was this -> https://github.ibm.com/GoldenEye/base-ocp-vpc-module/tree/3clusters/examples/multiple_mzr_

[2021-09-27 14:26] #3110 closed

[2021-09-27 18:46] DanielFarrarCO commented on #3142
I am also receiving this error, in my case I am using the Ansible module which calls this backend TF.

[2021-09-28 05:24] kavya498 opened #3150 "HIGH PRIORITY: potential security vulnerabilities"
Remove `github.com/IBM/go-sdk-core/v4` from the provider repo
Looks like API Gateway, CIS, VPC, satellite_endpoint resource are using `github.com/IBM/go-sdk-core/v4`

Direct and indirect dependencies of `go-sdk-code/v4` should be completely removed from these services..

[2021-09-28 05:25] kavya498 commented on #3150
@MalarvizhiK , @astha-jain , Please make sure dependencies are removed from CIS and VPC services respectively both from provider and from SDK on a high priority..

[2021-09-28 06:16] kavya498 commented on #3142
Hi,
Crash should not have happened.. that ll be fixed from provider end..
But for some reason SDK returns nil as response.. It has to be fixed from SDK..
@shivaleelac , @MalarvizhiK FYI

[2021-09-28 07:08] #3089 closed

[2021-09-28 07:47] ujjwal-ibm opened #3153 "Snapshot creation fails if instance is in stopped state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-28 11:55] shivaleelac commented on #3142
@kavya498 working with API team to fix this SDK returns nil

[2021-09-28 12:04] kavya498 commented on #1931
Available in latest release [1.33.0](https://github.com/IBM-Cloud/terraform-provider-ibm/releases/tag/v1.33.0)
Thanks

[2021-09-28 12:04] #1931 closed

[2021-09-28 12:41] astha-jain commented on #3150
VPC is not using `go-sdk-code/v4`.

[2021-09-28 17:25] anilkumarnagaraj commented on #3078
@david-shepard

Fix is available in the latest release.

[2021-09-29 02:50] rodrigomencos opened #3157 "Token Expiring out of nothing - Error: XX...is forbidden: User "IAM#serviceid-XXX" cannot get resource in API group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-29 16:00] poojitha-bikki opened #3159 "Support for encryption of VPC worker nodes primary disk using KMS keys"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-30 05:54] #3102 closed

[2021-09-30 14:04] kavya498 commented on #3013
@l2fprod ,
UI uses V1 APIs for authorisation policy.. We had to migrate to V2 to support private endpoints..
Looks like V2 APIs are not backward compatible..

I have raised a [PR](https://github.com/IBM-Cloud/terraform-provider-ibm/pull/3161) to revert the migration.. so that it doesn't break existing code..
This ll effect authorization policy resource when visibility is set to private.. [Related

[2021-09-30 14:24] yussufsh commented on #3072
The SDK provides a way to override the endpoint for power APIs by using `IBMCLOUD_POWER_API_ENDPOINT` environment variable.
Example for using test env:
[code]

Is your plan to use another environment variable in the provider code to set the given SDK variable?

[2021-09-30 14:27] yussufsh commented on #2545
Is this similar to https://github.com/IBM-Cloud/terraform-provider-ibm/issues/3102? If yes then the feature should be available in the next release.

[2021-09-30 14:29] pbfinley1911 commented on #3102
The enhancement has been merged (and made available).  Thanks

[2021-09-30 15:27] jgruberf5 opened #3163 "ibm_is_instance 1.33.0 no longer creates user_data"
### Terraform CLI and Terraform IBM Provider Version

Schematics - terraform 0.14

2021/09/30 14:16:43 Starting command: terraform14 init -input=false -lock=false -no-color

### Affected Resource(s)

* ibm_is_instance

### Terraform Configuration Files

Create an instance... below image ID is Ubuntu 20.04, use whatever profile, vpc, subnet, security groups you want..

[code]

### Debug Output

###

[2021-09-30 16:09] ujjwal-ibm commented on #3163
@jgruberf5 We have identified the issue and fix, please use 1.32.1 or lower to unblock yourself

[2021-10-01 10:29] ocofaigh opened #3165 "Add retry around delete resource group"
Sometimes calls to the IBM Cloud backend can fail, but are succesfull on retry. For example, the below request to delete a resource group:

[code]

Could we add a retry to the code? I would be happy to attempt to contribute here. Would I be correct in thinking the correct place to add the retry would be in the `resourceIBMResourceGroupDelete` function -> https://github.com/IBM-Cloud/terraform-prov

[2021-10-01 14:16] kavya498 commented on #3163
https://github.com/IBM-Cloud/terraform-provider-ibm/pull/3160

[2021-10-01 14:20] kavya498 commented on #3165
@ocofaigh, How do iam_access_group effect in deletion of a resource_group?

[2021-10-01 15:20] ocofaigh commented on #3165
Ah sorry, I pasted the wrong function - I guess `resourceIBMResourceGroupDelete` deletes resource groups right (description updated)?

[2021-10-01 16:55] astha-jain commented on #3098
@kavya498 could you help close this item please?

[2021-10-01 16:56] astha-jain commented on #3108
Are we good to close?

[2021-10-01 17:10] powellquiring commented on #3108
IDK, Where can I review the docs?

[2021-10-01 19:18] ocofaigh commented on #3139
We have finally identified the root cause of the issue (see IBM internal issue https://github.ibm.com/global-search-tagging/zenhub/issues/10487#issuecomment-36356186).

To summarise, GhoST can be flooded by thousands of events that may cause seconds/minutes of delay in registering resources in their database. So during high load, it is possible that the COS instance does not show as an available r

[2021-10-02 03:25] kavya498 commented on #3013
@l2fprod , Fix is available in latest [1.33.1](https://github.com/IBM-Cloud/terraform-provider-ibm/releases/tag/v1.33.1)
I am closing this issue and will be reopening https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2926 to track the migration of V2 APIs

Thanks..

[2021-10-03 20:52] ocofaigh commented on #3139
As per [comment](https://github.ibm.com/global-search-tagging/zenhub/issues/10487#issuecomment-36391051):

[2021-10-04 04:03] kavya498 commented on #3163
Available in latest 1.33.1
Closing this issue thanks..

[2021-10-04 04:03] #3163 closed

[2021-10-04 04:06] #3098 closed

[2021-10-04 05:48] kavya498 commented on #3165
@ocofaigh ,
Do you know what is the reason for rc 500?

[2021-10-04 06:09] bryand2 opened #3167 "IBM Cloud Terraform support for configuring IAM Identity Provider (needed for Landing Zone automation)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-04 06:33] kavya498 commented on #3165
I believe SDK is already handling 5xx errors and it retries for 10 times by default..

[2021-10-04 08:38] hkantare opened #3168 "Scale down the cpu of the postgres DB fails with the plan validation error"
I have tried to scale down the CPU 3 per member to CPU shared
here schematics logs ws-ec002i000814-pg002i000608:

 2021/09/21 13:42:01 Terraform apply | ibm_database.database_instance: Refreshing state... [id=crn:v1:bluemix:public:databases-for-postgresql:eu-fr2:a/05b86f39c75942ca9a520d2b1f7e0bb9:02e5595b-2908-4f1d-9f34-aa4e711896b5::]
 2021/09/21 13:42:04 Terraform apply |
 2021/09/21 13:42:04 Te

[2021-10-04 09:17] ocofaigh commented on #3165
I do not know what the reason was for 500 error - I just know that after terraform hit the error, I manually logged into the UI and successfully delete the resource group. It was probably some backend glitch at the time terraform was running.
Is there an exponential backoff between retires?

[2021-10-04 13:16] ocofaigh commented on #2806
This may have been a side effect of the race conditions that were fixed in https://github.com/IBM-Cloud/bluemix-go/pull/318
Going to test it out.

[2021-10-04 16:29] ocofaigh opened #3171 "RBAC errors seen while RBAC synchronizes on cluster"
When a cluster is provisioned, and accessed for the first time by a user, you see the message:
`If you are accessing the cluster for the first time, 'kubectl' commands might fail for a few seconds while RBAC synchronizes.`

We have seen an issue where the data lookup using `ibm_container_cluster_config` on a newly provisioned cluster, can give errors like:

`Error from server (Forbidden): deployme

[2021-10-05 05:07] yussufsh commented on #2326
This a hard limit from PowerVS IaaS side. Original intention of public network is to attach to a single bastion machine to access the machines in private network.
As this request is no longer needed I am closing it.

[2021-10-05 05:07] #2326 closed

[2021-10-05 05:09] #1878 closed

[2021-10-05 05:44] kavya498 commented on #3171
Is this an intermittent issue or
Do you see this error every time you create a new cluster?

[2021-10-05 05:47] kavya498 opened #3173 "New Resource: Support creation of Ingress ALBs on classic clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-05 05:49] kavya498 opened #3174 "New Resource: Support creation of Ingress ALBs on VPC clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-05 05:52] kavya498 opened #3175 "New Resource: Support IKS Logging config"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-05 05:58] kavya498 opened #3176 "New Resource: Support IKS Logging collect"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-05 06:21] kavya498 opened #3177 "New Resource & Datasource: Support Satellite Cluster Groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-05 08:29] ocofaigh commented on #3171
It is intermittent - I guess it is a timing issue. Here is an example of the workaround actually doing its job..

[code]

As you can see on the first attempt, we hit the issue, and on second attempt it passed. So I think we are only talking about a few seconds in general.

[2021-10-05 09:02] ocofaigh commented on #2806
No joy, when we remove the workaround, we reproduce the issue:

[code]

For now, we will continue to use the workaround (aka provide different `config_dir` in the datasource)

[2021-10-05 11:00] kavya498 commented on #3171
okay.. We shall look into it..

[2021-10-05 13:09] pbfinley1911 commented on #2545
@yussufsh  This is the same as #3102  Are you able to link the pull request?  Otherwise, please close it manually.

[2021-10-05 13:52] mmarakov opened #3178 "504 Errors While Deploying LPARs on PowerVS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-05 13:53] mmarakov commented on #3178
We also get the occasional 404 errors from, but rerunning the Terraform usually gets through those

[2021-10-05 14:17] SunithaGudisagarIBM commented on #3006
Hi @dprosper,

I am running the below configuration and it is working for me.. Can you please try again and also help me to reproduce the issue...

1.
Initially i create only load balancer..
	resource "ibm_is_lb" "testacc_LB" {
		name = "sunithaloadbalancer"
		subnets = ["0716-ef11d603-4c8b-452b-be51-09b49dd30d74"]
		logging = false
}

2.
Then i created security group and attached same to lb
	reso

[2021-10-05 18:25] vburckhardt commented on #2806
Opened a PR at https://github.com/IBM-Cloud/bluemix-go/pull/328 that appears to fix the issue.

[2021-10-05 22:11] ifs-anthonylecarrer opened #3179 "Cis domain resource is not destroyed properly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-05 23:24] rrpolanco commented on #2768
I suspect the authorization error is due to the `X-Auth-Resource-Group` header missing on the alb enable api.

Is it possible to pass the resource group id of the IKS cluster as a header to the [enableAlb](https://containers.cloud.ibm.com/global/swagger-global-api/#/beta/VpcEnableALB) API via the [container_vpc_alb](https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/contai

[2021-10-06 04:41] kavya498 commented on #3179
@MalarvizhiK, Looks like SDK is having issues while json marshal of`messages` argument from the delete response..
Are there any API changes in the back-end?

[2021-10-06 05:18] kavya498 commented on #3113
Closing this issue as it has been inactive...This helps maintainers find and focus on the active issues.

If you feel this issue should be reopened, we encourage creating a new issue linking back to this one for added context. Thanks!

[2021-10-06 05:18] #3113 closed

[2021-10-06 05:24] kavya498 commented on #602
Closing this issue..
Import resources using schematics import command..
https://cloud.ibm.com/docs/schematics?topic=schematics-schematics-cli-reference#schematics-workspace-import

Thanks..

[2021-10-06 05:24] #602 closed

[2021-10-06 05:30] kavya498 commented on #1309
Update docs with
[code]
Find the latest [docs](https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/resource_key)..
Closing this issue thanks..

[2021-10-06 05:31] kavya498 commented on #3078
Closing this issue thanks..

[2021-10-06 05:31] #3078 closed

[2021-10-06 05:41] kavya498 commented on #2762
@andrewferrier , Do you still see this issue?

[2021-10-06 05:48] kavya498 commented on #3077
Available in 1.33.0
Closing this issue thanks!

[2021-10-06 05:48] #3077 closed

[2021-10-06 05:53] kavya498 commented on #2786
I dont this it is still supported via terraform..
@astha-jain , can you please confirm?

[2021-10-06 05:56] kavya498 commented on #2779
Available in 1.30.0..
Closing this issue..
Thanks..

[2021-10-06 05:56] #2779 closed

[2021-10-06 06:08] kavya498 commented on #1234
Issue is fixed..
Closing this issue..
Thanks..

[2021-10-06 06:08] #1234 closed

[2021-10-06 06:15] kavya498 commented on #2734
closing this issue thanks..

[2021-10-06 06:15] #2734 closed

[2021-10-06 06:31] kavya498 commented on #2918
Not able to reproduce this issue..
Kindly, reopen if you still see this issue..
Thanks..

[2021-10-06 08:33] kavya498 commented on #2859
Fixed in latest 1.33.0 release..
Closing this issue..
Thanks..

[2021-10-06 08:33] #2859 closed

[2021-10-06 09:33] SunithaGudisagarIBM commented on #3006
@dprosper Thanks for providing detailed configuration file.. It was very helpful.. Currently i am testing in test.cloud.ibm.com and it worked for me..

I will check in prod env once again..

<img width="1522" alt="Screenshot 2021-10-06 at 2 59 58 PM" src="https://user-images.githubusercontent.com/78336632/136177675-00022203-a886-4cbf-abfa-dc5d7e4da643.png">

<img width="1254" alt="Screenshot 2021-

[2021-10-06 10:09] SunithaGudisagarIBM commented on #3006
@dprosper I could reproduce the error in Prod env, Analysing the issue, will keep updating you the progress.. Thank you

[2021-10-06 12:12] dprosper commented on #3006
Thank you for finding a fix, I am guessing this issue will be closed once the PR merged?

[2021-10-06 14:43] grommir opened #3183 "Adding "access_tags" to the "ibm_is_subnet" forces update resources on each apply."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-06 16:10] astha-jain commented on #3183
Could you check if these access tags already exist? Unlike user tags, Access tags should be created before they can be used.

[2021-10-06 16:39] ujjwal-ibm opened #3184 "Allow tag creation without need of resource_id for access tags"
### Feature Detail

As per document and feature , `crn` is not required for access tags

[https://cloud.ibm.com/apidocs/tagging?code=go#create-tag](https://cloud.ibm.com/apidocs/tagging?code=go#create-tag)

`crn` is required for user tags

[https://cloud.ibm.com/apidocs/tagging?code=go#attach-tag](https://cloud.ibm.com/apidocs/tagging?code=go#attach-tag)

### Description

### Affected Resource(s)

[2021-10-07 05:24] #2545 closed

[2021-10-07 05:46] kavya498 commented on #3184
Similar issue..https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2608

[2021-10-08 05:19] hkantare commented on #2768
@rrpolanco I think its failing even before we are calling enable ALb  API"s..It failing before that see the comments above
https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2768#issuecomment-867412525

[2021-10-08 10:48] ocofaigh opened #3187 "RC api returning incorrect response when instance already exists"
**Project Golden Eye**

IBM Cloud secrets-manager only allows one secrets manager instance per account by default. When you try to provision another one using terraform, you get back the following error:
[code]

The secrets-manager team have said that this response does not come from secrets-manager. When I try in the UI, I get this:
![image](https://user-images.githubusercontent.com/29608224/1365

[2021-10-08 14:40] Nibedita-Udvavisk opened #3188 "How to create service alias for Event stream"
I am using terraform for service & databases deployment.

I am able to create Event stream instance using terraform. We need service alias for Event stream to use in cloudfoundry application. But I didn't find how to create service alias using terraform.

Referred document:
https://github.com/ibm-messaging/event-streams-samples/blob/master/kafka-nodejs-console-sample/docs/CF_Standard_Enterprise_Pl

[2021-10-08 17:10] bhepburn opened #3189 "ibm_iam_access_group_members incorrect state when members list >50 users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-11 15:05] srikant-sahu opened #3192 "Access policies with resource attributes update on subsequent terraform execution"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-12 19:22] powellquiring opened #3198 "security group examples need improvement"
Documentation problem:

Can not figure out how to attach security groups to instances and load balancers. Check out these two examples:
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_security_group_network_interface_attachment
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/network_interface_sg_attachment

Expected: Examples with security

[2021-10-13 09:17] willholley opened #3199 "ibm_event_streams_topic: unexpected state change kafka_brokers_sasl"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-13 09:39] data-henrik opened #3200 "Support lookup of Trusted Profile by name"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-13 10:31] kavya498 commented on #3187
@ocofaigh , After investigation, We found that SDK is not returning proper error response..
We ll take this to SDK team.. Thanks for identifying this issue..

[2021-10-13 11:06] data-henrik opened #3201 "Documentation for data "ibm_iam_trusted_profile_policy" is wrong"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-13 13:54] #3124 closed, assigned to nobody

[2021-10-13 15:12] ifs-pauljegouic opened #3203 "Add HMAC credentials to COS binding for container_bind_service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-13 15:57] powellquiring opened #3204 "vpc security group load balancer interaction"
@ujjwal-ibm

[code]

See full configuration: https://github.com/powellquiring/tfbugs/tree/master/bug-lb-order

Notice:
[code]

Since there is a target = dependency this should mean that the ibm_is_security_group_target gets created after the load balancers and deleted before the load balancers.

But the problem is: The load balancer with ID 'r006-99b40e58-dd89-4695-a93a-258fdc3b2957' cannot be upd

[2021-10-13 17:26] ocofaigh opened #3205 "ibm_container_cluster_config data lookup is not outputting incident ID in failure response"
During an IBM Cloud CIE, the ibm_container_cluster_config data lookup was failing with:

[code]

According to the IKS team, the response from the containers API should also include an incident ID.
From [slack](https://ibm-cloudplatform.slack.com/archives/C4S4NUCB1/p1634142224125000?thread_ts=1634036634.073100&cid=C4S4NUCB1):

### Community Note

* Please vote on this issue by adding a 👍 [reaction]

[2021-10-14 07:35] ujjwal-ibm opened #3206 "Limitation on terraform and provider resulting in inconsistent plan for connected resources"
### Issue

* For connected resources attributes which are patchable on condition, terraform produces inconsistent plan due to different plan while planing and applying

### Affected Resource(s)

* ibm_is_instance and ibm_is_floating_ip

### Terraform Configuration Files

Please include all Terraform configurations required to reproduce the bug. Bug reports without a functional reproduction may be

[2021-10-14 10:37] data-henrik opened #3211 "SCC posture data sources only work with US-based data, not with EU"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-14 10:47] kavya498 commented on #3201
@data-henrik ,

iam_id and profile_id conflicts with each other..
User has to either provide `iam_id` or `profile_id` we shall elaborate docs..

IAM Id looks like `iam-Profile-XXX`
while profile id looks like `Profile-XXX`

[2021-10-14 10:51] data-henrik commented on #3201
The "either or" should be above the two (profile_id / iam_id) or part of both descriptions.

[2021-10-14 10:57] ocofaigh opened #3213 "Intermittently ibm_container_vpc_cluster fails saying: "A cluster with the same name already exists""
**Internal Project Golden Eye**

We have noticed that intermittently (but not very frequently), when creating a cluster using `ibm_container_vpc_cluster` the IKS api responds with `Error: Request failed with status code: 409, ServerErrorResponse: {"incidentID":"1a1240b1-c05e-481d-90f4-eefdb89a03b0,1a1240b1-c05e-481d-90f4-eefdb89a03b0","code":"E0007","description":"A cluster with the same name alre

[2021-10-14 12:57] lmosca opened #3214 "ibm_container_vpc_cluster - ability to update workers one at a time or by worker pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-14 13:02] dprosper opened #3215 "Add support for IAM Context Based Restrictions"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-14 14:03] data-henrik opened #3216 "Wrong documentation for iam_trusted_profile_claim_rule"
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/iam_trusted_profile_claim_rule

The syntax for conditions is wrong, it does not work.

[code]

It should be something like this:

[code]

But what about a truly working e2e sample?

[2021-10-14 14:44] kavya498 commented on #3216
@data-henrik ,
working example..
https://github.com/IBM-Cloud/terraform-provider-ibm/blob/master/ibm/data_source_ibm_iam_trusted_profile_claim_rule_test.go#L88

[2021-10-14 19:45] bfelaco opened #3217 "ibm_cis_global_load_balancer never stabilizes the plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-15 19:48] pdmazz opened #3218 "TF_CLI_ARGS_destroy -parallelism=250 causes error on DESTROY on 500 node static cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-18 02:38] zhenwan commented on #3215
PR is ready for review

[2021-10-18 04:59] sasikeda opened #3219 "ibm_iam_trusted_profile_link, argument "namespace" is not required if cr_type is VSI"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-18 11:07] hkantare commented on #3219
@pooraniss-ibm Can you please look into this issue..We should mark namespace as optional argument

[2021-10-18 12:34] data-henrik opened #3220 "Add links to App ID documentation"
for the template definition in https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/appid_cloud_directory_template, could you link from the resource docs to this?

https://cloud.ibm.com/docs/appid?topic=appid-cd-types#cd-messages

It would help in defining the templates

[2021-10-18 13:17] data-henrik opened #3221 "What are the valid values for the attributes? (App ID)"
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/appid_idp_cloud_directory

In the reference you only provide an example for, e.g.,  identity_confirm_methods. What are the allowed values? It would be great if for all the attribute all the values are mentioned and described. I am trying to configure App ID using Terraform, but need to try what is possible.

[2021-10-18 13:58] pooraniss-ibm commented on #3219
yes thats correct: namespace should only be marked as optional. here is the [PR](https://github.com/IBM-Cloud/terraform-provider-ibm/pull/3222)

[2021-10-18 14:12] hkantare commented on #2275
@JunliWang Can you please look into this issue...
@sflaherty2009 Can you please share the sample terraform configuration file

[2021-10-18 14:16] hkantare commented on #2275
@sflaherty2009 Can you please share complete Terraform plan /apply log after you set export TF_LOG=debug mode

[2021-10-19 03:36] zhenwan opened #3224 "Transaction-Id support by resource"
Some SDKs permit users to enter a custom **header** `Transaction-Id` for debugging purpose, for example `IAM Policy Management`:
https://test.cloud.ibm.com/apidocs/iam-policy-management#additional-headers

but this service's Terraform Provider's resource creation does not support header `Transaction-Id`
https://github.com/IBM-Cloud/terraform-provider-ibm/blob/master/ibm/resource_ibm_iam_user_polic

[2021-10-19 06:12] #3201 closed

[2021-10-19 06:21] VidyasagarMSC opened #3225 "VPE documentation issue"
The VPE gateway documentation is confusing and misleading. The issue is with the CRN vs name under target.

The registry documentation - https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_virtual_endpoint_gateway says that  `name` is required argument but under `crn` it says

The documentation needs to be fixed.
![2021-10-19 at 11](https://user-images.githubusercontent.

[2021-10-19 09:29] johnsourg opened #3226 "Invite Users module it's not working as expected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-19 10:08] VidyasagarMSC commented on #2241
@kavya498 We are using the above workaround with `time_sleep` set to up to 15m but still seeing the below error. The error is specific to postgresql with cos and kms working

[code]

[2021-10-19 13:36] oker1 opened #3230 "add direct endpoint to ibm_cos_bucket output"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-19 17:47] clnperez opened #3231 "pi_instance creation using network.id fails to find network"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-20 09:37] #3225 closed

[2021-10-20 10:20] VidyasagarMSC opened #3233 "Conrefs in https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/database documentation"
There are a couple of conrefs in the registry.terraform.io documentation that needs to be fixed
![2021-10-20 at 15](https://user-images.githubusercontent.com/6552440/138075759-c5fe1432-8767-4ee0-a260-4a816e54491c.png)
![2021-10-20 at 15-2](https://user-images.githubusercontent.com/6552440/138075776-eb13d1cf-3aa8-4f1c-9ec5-4550d1ce1c98.png)

[2021-10-20 12:19] manshaB opened #3235 "Terraform Functionality not available for "Restrict user list visibility" setting Under IAM in IBM CLOUD"
HI Team,

I am working on implementing Restrict user list visibility setting using Terraform, but unfortunately i am unable to find the required code attributes are not available in Terraform Documentation, So could someone please help us on how to get this one functionality achieved using Terraform.

Regard,
Mansha BHatnagar
IBM

### Community Note

* Please vote on this issue by adding a 👍 [reac

[2021-10-20 13:31] aratichakravarti opened #3236 "Is there is a way through the ibm_container_cluster Terraform resource to control the IPs on the COS bucket it creates?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-21 09:30] ocofaigh commented on #2806
@kavya498 We have found an issue with the workaround...

If you specifically specify a `config_dir` value, and you delete that directory after running a successful apply, any subsequent plan / apply / destroy attempt will fail with:

`Error: Kubernetes cluster unreachable: invalid configuration: no configuration has been provided, try setting KUBERNETES_MASTER environment variable`

However, if yo

[2021-10-21 11:15] andrewferrier opened #3239 "Changing disable_public_service_endpoint from false -> true on ibm_container_vpc_cluster should force recreation, but it doesn't"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-21 19:15] jpmonge86 opened #3242 "ibm_cloud_shell_account_settings delete issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-22 20:51] jpmonge86 opened #3247 "ibm_cloud_shell_account_settings modify issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-23 13:11] ac427 opened #3248 "users losing access to resources"
ibm_iam_access_group_members is not applying changes properly. We see diff on every apply even when there are no changes.
Also, some of the users are losing access because of the random case changes.
anyone with IBMid can view code/logs in https://travis.ibm.com/symposium/platform/

Right now we can't rely on TF to manage IBM resources as it is not producing the results as expected

### Community

[2021-10-23 22:41] jpmonge86 opened #3249 "ibm_iam_account_settings modify issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-25 09:35] #3233 closed, assigned to nobody

[2021-10-26 08:35] #3189 closed, assigned to nobody

[2021-10-27 00:54] #3231 closed, assigned to nobody

[2021-10-27 01:01] clnperez opened #3261 "doc issue: "subnets doc" missing"
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/compute_vm_instance#public_subnet
and
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/compute_vm_instance#private_subnet

both contain a dead link instead of documentation about the subnets.

Without a link to this I can't tell what kind of value I should pass in for the subnet.

[2021-10-27 07:21] #3249 closed, assigned to nobody

[2021-10-27 07:44] #3247 closed, assigned to nobody

[2021-10-27 07:44] #3242 closed, assigned to nobody

[2021-10-27 15:21] yussufsh opened #3266 "Power VM create fails with error all volumes are not in the same VM deployment storage pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-28 22:28] rjminsha opened #3275 "IBM Cloud Shell data resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-29 06:35] #3275 closed, assigned to nobody

[2021-10-29 12:55] kroc353 opened #3277 "changes made outside of terraform are not fixed on apply for ibm_is_network_acl_rule and ibm_is_network_acl_attachment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-29 13:12] sflaherty2009 opened #3278 "Postgres configuration through terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-29 19:56] kroc353 commented on #1606
I created a similar issue , requesting ability to control the names of the VPC Load balancer and the VPC Virtual private endpoint gateway that are created automatically as part of the cluster creation:
https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2776

I did subsequently read in the documentation that we're not requested to change the name of these resources.

If this helps you in th

[2021-10-30 14:13] shemau opened #3279 "Inconsistent examples ibm_kms_key_rings example"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-31 16:32] lra opened #3280 "Missing darwin_arm64 provider: Unable to use the provider on Apple's M1"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-01 17:53] ocofaigh commented on #2806
Fix looks good in v1.35.0 (https://github.com/IBM-Cloud/terraform-provider-ibm/pull/3264). Closing

[2021-11-01 17:53] #2806 closed

[2021-11-01 19:46] powellquiring opened #3282 "terraform and ibm documentation for resource_key"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-02 04:56] kavya498 commented on #3280
https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2626

[2021-11-02 04:57] kavya498 commented on #3278
https://github.com/IBM-Cloud/terraform-provider-ibm/issues/1428

[2021-11-02 16:36] jpmonge86 opened #3285 "Support to disable/enable public access account setting"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-03 09:15] #3266 closed

[2021-11-03 10:49] data-henrik opened #3287 "Bug report or feature request: Allow retrieval of IAM access tag (data source)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-03 11:21] data-henrik opened #3288 "data ibm_resource_tag does not return attached IAM access tags"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-03 15:41] jpmonge86 opened #3289 "ibm_cloud_shell_account_settings issue"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-03 16:12] data-henrik commented on #2633
any ETA

[2021-11-03 16:30] data-henrik opened #3290 "Support access tags in ibm_iam_access_group_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-04 04:54] ujjwal-ibm opened #3292 "Support for total_volume_bandwidth/total_network_bandwidth in ibm_is_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-04 14:15] sflaherty2009 commented on #3278
Do we have any idea when this work might be put into sprint? We need to determine if we need to work around this or if something will be available to us prior to moving into production.

[2021-11-04 14:55] pthongsavanh-ibm opened #3293 "Container Bind Service fails to remove if the resource it is binding is already gone"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-04 19:16] maristgeek opened #3294 "Failures when creating ibm_database because of bad values for allocations should be more clear"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-04 21:40] powellquiring opened #3295 "ibm_schematics_workspace add template_git_url fails"
Start with:

[code]

apply the above, then uncomment and apply again.  But, first time it works ok

Below is the entire experience:

[code]

[2021-11-04 22:13] powellquiring opened #3296 "ibm_schematics_workspace adding template_inputs causes panic"
see #3295

Apply the following:
[code]

Uncomment the template_inputs and then apply again:

[code]

[2021-11-04 22:19] l2fprod opened #3297 "Add support for Code Engine"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-05 05:39] hkantare commented on #3293
@pthongsavanh-ibm Can you please try using ibmcloud cli or API to unbind a service of an deleted service instance and share us the output

[2021-11-05 05:49] hkantare commented on #3278
We will be planning to take up in next sprint and available in production release by mid of dec

[2021-11-05 05:52] hkantare commented on #3294
There is known issue because of the SDK's populating the error message .. The SDK is fixed and will be available in upcoming release

[2021-11-05 13:32] powellquiring opened #3298 "ibm_schematics_workspace docs"
I can not figure out how to submit these review changes:

![image](https://user-images.githubusercontent.com/6932057/140517807-b89342d2-f249-4fff-a37c-654cc4e84b68.png)
![image](https://user-images.githubusercontent.com/6932057/140517873-cbeb1ac4-d8dc-433b-9b26-be365800929c.png)
![image](https://user-images.githubusercontent.com/6932057/140518309-46726689-11c3-4220-98bc-8f3884af35b4.png)

[2021-11-05 14:10] cdhorn commented on #3178
Shouldn't fixing this be as simple as increasing the HTTP timeout on the service broker?  The way Apache defaults to 60 seconds and you override it with the Timeout parameter in the httpd.conf? Or it is not as straight forward?

[2021-11-05 14:15] yussufsh commented on #3178
It is already 240 ATM.

[2021-11-05 14:17] cdhorn commented on #3178
Yeah that seems more than reasonable.

[2021-11-05 15:19] pthongsavanh-ibm commented on #3293
@hkantare, apologies, but I do not have an environment that we can test in and unfortunately do not have the bandwidth to spin up a test right now.

I can recall however that we were able to remove the bindings with the CLI. The issue remained with the terraform state not being able to auto-correct itself. For some reason it still wanted to remove the binding on it's own and would bump into the th

[2021-11-08 07:04] #3006 closed

[2021-11-08 12:11] wahaha2001 opened #3302 "Latest release 1.35.0 can't support terraform 1.0+ release?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-08 12:57] kavya498 commented on #3302
similar issue
https://github.com/IBM-Cloud/terraform-provider-ibm/issues/3048

[2021-11-08 15:14] kavya498 commented on #2487
@l2fprod ,
Looks like this is been fixed by API team..
Can you check on this and let us know so that we can close this issue..

Thanks

[2021-11-08 15:31] ocofaigh opened #3303 "cluster config directory does not cleanup on destroy when using ibm_container_cluster_config"
When using the following data lookup, the folder that is created does not get cleaned up on destroy:
[code]

So if using the default (as above), users end up with lots of directories in their home directory (e.g. `$HOME/e7fef2191fe0dee1e5c3eb9771354daeb51d3594ce4e95eece734e6f1484ce4b_c64i057l0pgib58luo3g_k8sconfig/config.yml` (one per cluster)

Is this expected behaviour or a bug? It sound like yo

[2021-11-08 15:35] kavya498 commented on #3303
@ocofaigh ,
There is no destroy for datasource as it is only meant for READ-only operation
terraform removes state of the datasource automatically..

[2021-11-08 15:39] ocofaigh commented on #3303
OK if its a known limitation, then I guess this can be closed. It sounded like it should be removed after I read https://github.com/IBM-Cloud/bluemix-go/pull/328#issuecomment-951808040

[2021-11-08 15:45] lra commented on #3280
Closing in favor of #2626

[2021-11-08 15:45] #3280 closed

[2021-11-08 23:13] jeuns opened #3305 "Service to Service authorization not always being honored"
==================================================================================
Service to Service authorization not always being honored

We have automation in place which will detect the creation of new VPCs and then automatically create the resources needed to enable flow logs to a COS bucket. There is a service authorization put in place via Terraform which grants flow logs writer access to

[2021-11-09 10:14] #3187 closed

[2021-11-09 11:35] data-henrik opened #3308 "Data source to retrieve App ID directory users"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-09 12:09] kavya498 commented on #3308
@dariusbakunas FYI

[2021-11-09 16:18] astha-jain commented on #3305
Can you please share your terraform provider configuration?
From the point no 2 above

Terraform does not create default VPC when you create a VSI. So it looks like you are running into this issue from UI. Is that correct?

[2021-11-09 21:21] maristgeek opened #3311 "Support enabling PROXY protocol ibm_container_vpc_cluster clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-09 22:25] hasueki opened #3312 "Provider v1.29.0+ not buildable on Red Hat go-toolset"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-10 03:48] blacksd opened #3314 "`ibm_kms_key` and `ibm_kp_key` produce inconsistent plan/apply"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-10 04:56] kavya498 commented on #3314
@blacksd , can we get complete logs?

[2021-11-10 06:52] blacksd commented on #3314
By "complete" you mean with the actual resource IDs? I don't think that's
possible - still, I replaced the strings with placeholder respecting the
occurrence of each. That should be enough, I hope.

I also forgot to mention that I can replicate this behavior across three
regions.

Il Mer 10 Nov 2021, 05:56 kavya498 ***@***.***> ha scritto:

[2021-11-10 07:01] kavya498 commented on #3314
can we get your template?

[2021-11-10 07:44] blacksd commented on #3314
I'm not sure I follow. Which template are you referring to? The basic code
to reproduce the issue (without some unrelated variables and the provider
config) it's in the description.

Il giorno mer 10 nov 2021 alle ore 08:01 kavya498 ***@***.***>
ha scritto:

[2021-11-10 11:09] blacksd commented on #3314
I tried to debug it further, and what I tried is:
* to change cycle type (`for_each` with sets, maps, `count`...)
* to move the cycle progressively into outer layers (from the resource to the module, to the invoking module)
* to remove any and all cycling and explicitly call only once every involved resource (as plain as calling the resource without even variables)
* I re-validated all KMS instanc

[2021-11-10 14:28] astha-jain commented on #3305
Customer found issue on their side and resolved the case. Thank you @Astha & @JMiddle for engaging quickly on this. @Sarah Sandel Will go ahead and archive this channel shortly.
:heavy_check_mark:
1

https://ibm-cloudplatform.slack.com/archives/C02M3LYRV7B/p1636552037009100

@kavya498  this item can be closed.

[2021-11-10 17:59] monil-panchal opened #3316 "Include `ibm_access_group_policy` in the `ibm_iam_access_group` data source"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-11 05:08] kavya498 commented on #3316
We ll be creating a new datasource for access_group_policy..
This cannot be included in the access_group datasource..

We have a open issue for this feature already https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2633

[2021-11-11 05:28] #3278 closed

[2021-11-11 05:35] kavya498 commented on #3303
Closing this issue thanks..

[2021-11-11 05:35] #3303 closed

[2021-11-11 05:36] kavya498 commented on #3305
Thanks
Closing this issue..

[2021-11-11 05:36] #3305 closed

[2021-11-11 06:43] #2926 closed

[2021-11-11 06:43] #3013 closed

[2021-11-11 08:08] hkantare commented on #2826
closing the issue...above PR has been merged ...

[2021-11-11 08:08] #2826 closed

[2021-11-11 08:12] hkantare commented on #2379
Closing the issue since we fixed some of the issues of upgrades
1) supporting patch_version argument
2) Show diff on patch_version if any of worker nodes fails to update and upgrade remaining nodes in next terraform apply

[2021-11-11 08:12] #2379 closed

[2021-11-11 08:12] hkantare commented on #2442
https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2379#issuecomment-966079106

[2021-11-11 08:12] #2442 closed

[2021-11-11 08:13] hkantare commented on #2267
closing the issue...

[2021-11-11 08:13] #2267 closed

[2021-11-11 08:14] hkantare commented on #789
We now support import of the cluster and upgrade of the cluster

[2021-11-11 08:14] #789 closed

[2021-11-11 08:19] hkantare commented on #1525
We now support attaching the volumes to cluster worker nodes
resource "ibm_container_storage_attachment" "volume_attach"{
    volume = ibm_is_volume.storage.id
    cluster = ibm_container_vpc_cluster.cluster.id
    worker = data.ibm_container_vpc_cluster.cluster.workers[0]
}

[2021-11-11 08:19] #1525 closed

[2021-11-11 08:22] hkantare commented on #1969
@tpolekhin its behind the scope of provider ..As per basic desgin of VPC Cluster the upgrade of nodes are in parallel and each nodes takes around 15 to 20 min.

[2021-11-11 08:22] #1969 closed

[2021-11-11 08:25] hkantare commented on #2115
Unlike CLI Terraform just not only waits for cluster creation but we will wait for worker nodes, ALB creation, so by default cluster waits for an ALB and nodes reachs the normal state.
We provided a argument to control the wait for the cluster using wait_till
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/container_vpc_cluster#wait_till

[2021-11-11 08:25] #2115 closed

[2021-11-11 08:28] hkantare commented on #1755
closing the issue since its behind the scope of provider to support change of flavor

[2021-11-11 08:28] #1755 closed

[2021-11-11 08:30] hkantare commented on #2656
closing the issue with above comment

[2021-11-11 08:30] #2656 closed

[2021-11-11 08:33] hkantare commented on #3014
Fixed https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/container_vpc_cluster#wait_till

[2021-11-11 08:33] #3014 closed

[2021-11-11 09:38] hkantare commented on #3216
Fixed https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/iam_trusted_profile_claim_rule

[2021-11-11 09:38] #3216 closed

[2021-11-11 09:44] blacksd commented on #3314
@kavya498 I had an interesting discovery today; if I do an exactly once invocation **per run** (one DAG is built, exactly one `root_key` is created/updated) I can see a 100% consistency with the IBM Cloud objects.

<details>

<summary><code>root_key</code> found all the times</summary>

[code]

</details>

Anyway, if in another run I call the same module more than once - having multiple `root_key`

[2021-11-11 09:44] hkantare commented on #2177
Closing the issue ...Please feel to reopen if you still see the issue

[2021-11-11 09:44] #2177 closed

[2021-11-11 10:13] hkantare commented on #3220
Fixed in latest release documentation
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs

[2021-11-11 10:13] #3220 closed

[2021-11-11 10:16] hkantare commented on #3142
closing this since we have fix from API side

[2021-11-11 10:16] #3142 closed

[2021-11-11 10:18] #2762 closed

[2021-11-11 10:19] hkantare commented on #2889
closing the issue it fixed in latest releases

[2021-11-11 10:19] #2889 closed

[2021-11-11 10:37] kavya498 commented on #3314
@blacksd , this is a synchorisation issue and has to be handled by SDK..
I have reachedout to KMS team..
Thanks..

@harshit777 FYI..

[2021-11-11 15:02] monil-panchal commented on #3316
Okay to let me rephrase my requirements -
1. Having a new `ibm_iam_access_group_policy ` data source
2. Including the `ibm_iam_access_group_policy `  as a `list` attribute in the [ibm_iam_access_group](https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/iam_access_group#attribute-reference) data source.

[2021-11-11 15:10] monil-panchal commented on #3316
@kavya498 - Is there any specific reason for not including the `ibm_iam_access_group_policy` attribute in the existing `ibm_iam_access_group ` data source?

Out of four `list` attributes (refer to the above screenshot of IAM access group), only `iam_service_ids`, `ibm_ids`, and `rules` are currently fetched in the `ibm_access_group_policy` data source?

Here's a sample response

[code]

One of the

[2021-11-11 16:08] yussufsh opened #3322 "Unable to update pi_volume when in in-use state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-12 04:53] #3312 closed

[2021-11-12 07:14] #3322 closed

[2021-11-12 10:21] harshit777 commented on #3314
Acknowledged! We are looking into the issue and we will get back.

[2021-11-12 15:31] danmermel opened #3327 "Upgrade of MongoDB from standard to enterprise should not work"
## Terraform versions

Terraform v1.0.3
on darwin_amd64
 \+ provider registry.terraform.io/ibm-cloud/ibm v1.35.0

## Affected Resources
ibm_database

## Terraform configuration file

[code]

I attempted to "upgrade" from the "standard" plan to the "enterprise" plan.

## Expected Behaviour

This should fail, as there is no underlying logic that supports upgrading in-place from  standard to enterpri

[2021-11-15 03:22] justin-patzer opened #3330 "HPCS needs terraform to be able to handle Failover Units"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-15 14:16] cdhorn commented on #3178
Along with these 504 errors we have been getting a large number of context deadline exceeded errors lately as well:

`Error: Failed to Get PVM Instance 7a9fef33-1789-41b6-92d0-ec2ecf9c6b01 :Get "https://tor.power-iaas.cloud.ibm.com/pcloud/v1/cloud-instances/27b2586f-8018-49e3-9d09-cc032a668f1e/pvm-instances/7a9fef33-1789-41b6-92d0-ec2ecf9c6b01": context deadline exceeded`

These timeouts are likel

[2021-11-15 14:18] ujjwal-ibm commented on #3277
`ibm_is_subnet_network_acl_attachment` doesn't show change in `network_acl`

[2021-11-15 14:55] nven opened #3335 "Schematics resource attribute type documentation update"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-15 16:16] astha-jain commented on #2537
This item can be closed as support for this feature was made available https://github.com/IBM-Cloud/terraform-provider-ibm/releases/tag/v1.32.1
@kavya498 Please close this issue.

[2021-11-15 16:17] astha-jain commented on #2668
@kavya498 PR is merged This issue can be closed now.

[2021-11-15 16:24] astha-jain commented on #2759
Hi @duelist2021jp  Please state dependency relationship when setting address prefix to manual. We have updated the documents to say the same.  Please create a new issue if problem persist.

@kavya498 good to close.

[2021-11-15 16:36] #2668 closed

[2021-11-15 16:37] kavya498 commented on #2759
Thanks..
Closing this issue..

[2021-11-15 16:37] #2759 closed

[2021-11-15 17:19] astha-jain commented on #2814
@kavya498 good to close

[2021-11-15 18:33] maristgeek commented on #2765
Has this gotten dropped between handoffs?

[2021-11-16 05:45] kavya498 opened #3336 "schematics_inventory and schematics_resource_query resource doesnot have Required arguments."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-16 05:47] kavya498 opened #3337 "`status` argument in ibm_schematics_job is marked as computed in schema"
`status` is marked as computed in schema.. but all inner arguments are Optional and Computed

[2021-11-16 06:43] #1256 closed

[2021-11-16 06:57] kavya498 commented on #2487
Closing this issue thanks..

[2021-11-16 06:57] #2487 closed

[2021-11-16 07:03] kavya498 opened #3340 "private endpoints doesn't work for iam_access_group resources"
SDK has to be consistent for all IAM services..It has to use `iam.cloud.ibm.com` as default url instead of `iam.cloud.ibm.com/v2`

[2021-11-16 07:15] MalarvizhiK commented on #2765
Shivaleela will look at the defect and let us know the timeline

[2021-11-16 07:15] MalarvizhiK commented on #2765
Shivaleela and Sandeep S from PDNS team will work on this issue.

[2021-11-16 11:02] kavya498 commented on #3294
closing this issue, thanks..

[2021-11-16 11:02] #3294 closed

[2021-11-16 11:03] kavya498 commented on #1428
Available in 1.36.0 release..
closing this issue thanks..

[2021-11-16 11:03] #1428 closed

[2021-11-17 05:54] ktania46 opened #3341 "PowerVS deployment failing when deployed via Terraform"
On running the terraform script, I'm getting following error

[code]
` error: Error: timeout - last error: dial tcp 169.54.113.11:22: i/o timeout`

terraform -v
[code]

$ terraform init
[code]

Repo used: https://github.com/ocp-power-automation/ocp4-upi-powervs

Command used
[code]

Configuration:
[code]

Opened the ticket for same : https://cloud.ibm.com/unifiedsupport/cases/manage/CS2560290

###

[2021-11-17 07:00] kavya498 commented on #3341
@yussufsh ^^

[2021-11-17 07:01] kavya498 commented on #3340
https://github.com/IBM/platform-services-go-sdk/issues/166

[2021-11-17 07:24] yussufsh commented on #3341
This is the public vlan connectivity issues to your instance. Please follow up on the support ticket why you are not able to access the vm via public ip.

[2021-11-17 07:24] #3341 closed

[2021-11-17 14:36] sflaherty2009 opened #3344 "IKS image security enforcement."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-17 15:52] jjasghar commented on #2379
I believe i just ran into this issue using schematics and ibm-cloud terraform:

Error: Request failed with status code: 409, ServerErrorResponse: {"incidentID":"47fc3144-fab0-92be-8e4a-12fd3dbc885c,47fc3144-fab0-92be-8e4a-12fd3dbc885c","code":"E0007","description":"A cluster with the same name already exists. Choose another name.","type":"Provisioning"}

INTERNAL GITHUB: https://gist.github.ibm.co

[2021-11-18 15:03] triceam commented on #2534
I ran into this exact same issue.  I have a resource group that will be created in another terraform module and is a dependency to my module containing the data source that references the resource group.  The resource group has not been created yet, and is a dependency off my target module.  When I run terraform plan I get this error b/c the RG doesn't exist yet:

[code]

This happens b/c the data

[2021-11-18 15:27] ocofaigh commented on #3139
@kavya498 We are seeing this quite a lot today. I guess there is some slowness with GhoST again. I was going to look into working around it by actually querying the GhoST search API in a loop until it appears before attempting to provision the cluster, however that check should probably live in the provider code. Any thoughts on this? Perhaps we add the check as part of the `cloud-object-storage`

[2021-11-18 22:20] msimpson88 opened #3346 "Unable to create Enterprise account. Error: Not Authenticated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-18 22:23] msimpson88 commented on #3346
`ibmcloud_api_key` is valid. I was able to create an ent account via CLI.

[2021-11-19 05:00] hkantare commented on #3139
We are evaluating on the GHOST API's can we add a wait logic to query the API's and wait until the resource tis found.. We will update ETA

[2021-11-19 15:18] powellquiring opened #3348 "ibm_iam_authorization_policy use of the target_resource_instance_id is not working as documented"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-19 16:37] powellquiring opened #3349 "ibm_cos_bucket documented storge_class flex does not work"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-19 20:42] jstaf opened #3350 "All operations on ibm_cos_bucket fail with 403s"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-21 19:13] elmarx opened #3351 "`ibm_kms_key_policies` crashes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-22 05:39] kavya498 commented on #3350
@jstaf , Do you have enough permissions to access/create cos bucket?

[2021-11-22 06:07] Priyaranimishra commented on #3350
@jstaf , Could you let me know which provider version you are using?
I am able to create cos bucket and import the bucket in ca-tor region.

### Terraform Configuration file
resource "ibm_cos_bucket" "cos_bucket" {
  bucket_name           = var.bucket_name
  resource_instance_id  = ibm_resource_instance.cos_instance.id
  region_location       = var.regional_loc
  storage_class         = var.storag

[2021-11-22 07:51] #3277 closed

[2021-11-22 12:03] kavya498 commented on #3302
available in latest 1.36.0 release..
closing this issue..
Thanks

[2021-11-22 12:03] #3302 closed

[2021-11-22 12:03] kavya498 commented on #3048
Available in 1.36.0 release
Closing this issue
Thanks

[2021-11-22 12:03] #3048 closed

[2021-11-22 12:10] kavya498 commented on #3168
Closing this issue thanks..

[2021-11-22 16:17] andrewferrier opened #3353 "`ibm_iam_custom_role` does not honor description changes."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-22 17:59] jstaf commented on #3350
This appears to have been a transient issue with the IBM Cloud APIs and is working now. I re-ran terraform without changes this morning and now bucket creation+import is working again. Thank you for your help!

[2021-11-22 17:59] #3350 closed

[2021-11-22 21:06] l2fprod opened #3354 "Support enabling "static website" for COS bucket"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-22 21:38] benlopez1 opened #3355 "Rename App ID provider"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-23 07:36] Smriti-OSS commented on #3346
Hey @msimpson88,

If you check the TF docs: https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/enterprise_account,
- parent must be CRN of the AG or Enterprise
- owner_iam_id must be an existing iamid in format IBMid-0123ABC, not an email

[2021-11-23 20:32] dprosper opened #3357 "VPC SSH Key creates an extra character (\n)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-23 20:39] astha-jain commented on #3357
@deepaksibm Please take a look.

[2021-11-24 05:04] harshit777 commented on #3314
@blacksd We have looked into the issue and provided a fix for it, which should be available with next terraform release.
Thanks

[2021-11-25 04:51] deepaksibm commented on #3357
"\n" character is appended by the "tls_private_key" resource which is part of the https://github.com/hashicorp/terraform-provider-tls - hashicorp's own tls provider. IBM terraform provider does not append or modify the input keys in any way - it just uses the input as it is to create the ssh resource.
We tested using the key that is created which has the newline character and that did not affect l

[2021-11-25 09:09] ShoSuenaga opened #3361 "Plugin did not respond to Key Protect operations when behind a corporate proxy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-25 16:49] ujjwal-ibm commented on #2486
@sean-freeman

As a workaround something like this can be used :

[code]

[2021-11-25 16:58] ujjwal-ibm commented on #2719
@powellquiring this is expected behavior. Once the destroy command was executed, we wait for resource to be deleted completely. The confirmation of deletion took time it seems, so it was waiting till timeout(default is 10 mins).

On re destroying it, the deletion was confirmed.

[2021-11-25 19:16] #3292 closed

[2021-11-25 20:00] mrgadgil opened #3363 "Bug in documentation for ibm_iam_api_key datasource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-25 20:21] mrgadgil opened #3364 "ibm_iam_access_group_policy should support adding policy based on Access management tags"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-25 20:31] mrgadgil opened #3365 "Bug in documentation for ibm_access_group_policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-26 14:46] kavya498 commented on #3357
@dprosper ,
Can we close this if it is not related to IBM Provider?

[2021-11-26 15:12] dprosper commented on #3357
yes, thank you for the research and findings.

[2021-11-26 15:12] #3357 closed

[2021-11-29 02:25] ShoSuenaga commented on #3361
Just to clarify, other resources operations were successfully processed even if Terraform was behind a corporate proxy.
(Such as ibm_iam_authorization_policy, ibm_cos_bucket, sysdig_monitor_alert_metric, and more.)

[2021-11-29 04:30] deepaksibm commented on #2636
@VidyasagarMSC This issue is fixed in the backend now.

[2021-11-29 13:37] data-henrik opened #3370 "ibm_appid_token_config has source "roles", but missing in docs"
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/appid_token_config

![image](https://user-images.githubusercontent.com/8414748/143877543-9f7fffaf-6d06-4fac-832a-c6ffee314532.png)

This works:
[code]

and is shown here: https://cloud.ibm.com/apidocs/app-id/management#put-tokens-config

[2021-11-29 14:25] powellquiring commented on #2719
I think the initial destroy, that I stopped after 10 min, would have never completed.  Why is that?

[2021-11-29 17:12] ocofaigh commented on #3213
Going to try and reproduce with version 1.36.0 which now prints API trace calls. This may help us determine what is going on here

[2021-11-30 10:41] yussufsh opened #3374 "Allow users to create SAP HANA instances on Power"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-30 11:07] yussufsh commented on #3374
1. Add context aware implementations for multiple instance resources and data sources.
2. Handle unknown network in `ibm_pi_instance_ip` data source.
3. Data source for all SAP profiles
4. Data source for SAP profile
5. Update `ibm_pi_instance` to support SAP instances.

[2021-11-30 17:29] kavya498 opened #3377 "secrets manager endpoint construction is missing `.` for private endpoints"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-30 17:56] kavya498 commented on #3355
@benlopez1 ,
Help me understand this issue..
You are asking us to rename [here](https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/appid_action_url)?
<img width="230" alt="image" src="https://user-images.githubusercontent.com/46739084/144101549-6d9dac74-48fa-479e-8e79-cce68c9f8706.png">

[2021-11-30 18:03] kavya498 commented on #3361
@ShoSuenaga , ibm_kp_key resource has been deprecated..
Can you please use ibm_kms_key resource instead?

[2021-11-30 18:05] benlopez1 commented on #3355
@kavya498 yes thats correct. I would like it to read 'App ID Management API'

[2021-11-30 18:09] kavya498 commented on #3355
Is `API` required at the end.. Since these are terraform resources,Does it make sense ?

[2021-11-30 18:33] benlopez1 commented on #3355
Yes API should be included. Activity Tracker and VPC also include API. They are listed in the same menu

[2021-12-01 07:07] kavya498 commented on #3355
Yeah, We are planning to remove API from Activity Tracker and VPC.. The subcategory should just be a service name..

[2021-12-01 09:47] lionelmace opened #3380 "Support ODF Addon configuration in ibm_container_addons"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-01 10:36] #3377 closed

[2021-12-01 11:22] #3192 closed

[2021-12-01 16:25] PKehnel opened #3381 "ibm_iam_access_group_members case sensitivity"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-01 20:53] amrlafi commented on #3297
Yes please. Strange that it's missing. A show-stopper.

[2021-12-02 02:13] ShoSuenaga commented on #3361
@kavya498, thank you for your helpful reply!
It works fine when I use ibm_kms_key instead of ibm_kp_key.

[2021-12-02 02:21] sean-freeman opened #3382 "bug: ibm_is_public_gateway_attach is missing"
### Affected Resource(s)

* bug: ibm_is_public_gateway

### Expected Behavior

- data resource for existing Subnet
- resource for Public Gateway creation
- resource for Public Gateway attach to existing Subnet -> equivalent API = https://cloud.ibm.com/apidocs/vpc#set-subnet-public-gateway `[    is.subnet.public-gateway.attach]`

### Actual Behavior

Workaround required:

[code]

[2021-12-02 04:42] hkantare commented on #3381
This issue is been fixed in latest release of provider 1.36.0

[2021-12-02 04:45] #3370 closed

[2021-12-02 04:45] #3355 closed

[2021-12-02 04:45] #3363 closed

[2021-12-02 04:45] #3365 closed

[2021-12-02 05:29] kavya498 commented on #3361
@ShoSuenaga ,
Great! Are we good to close this issue?

[2021-12-02 06:36] #3279 closed

[2021-12-02 08:09] PKehnel commented on #3381
can confirm works as expected with 1.36.0

You still get the confusing output:

[code]

[2021-12-02 08:09] #3381 closed

[2021-12-02 11:29] #3374 closed

[2021-12-02 14:16] benlopez1 commented on #3355
Ok that works. Thanks

[2021-12-02 14:28] astha-jain commented on #3382
I'll take a look.

[2021-12-02 14:48] kavya498 commented on #2636
Closing this issue..
Thanks..

[2021-12-02 14:48] #2636 closed

[2021-12-02 14:59] surajbharadwaj opened #3386 "Please add ibm_pi_ssh_keys and ibm_pi_cloud_connections under data"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-02 15:09] kavya498 opened #3388 "return detailed response along with error in all vpc resources"
As of now, whenever there is error from API we just log the response and return error..
We want to return response as well along with error to be inline with other resources..

Eg:

[Here](https://github.com/IBM-Cloud/terraform-provider-ibm/blob/master/ibm/resource_ibm_is_instance.go#L938) it should be `return fmt.Error("Error Creating Instance: %s, resp: %s", err,response)`

@astha-jain , can you

[2021-12-02 16:01] yussufsh commented on #3178
Read timeout set in the go client is 3 mins.. So anything above 3 mins would be deadline exceeded. So if we set it to 5 mins then it would return 504 for GET. The above variables are in a mess and is not used at right places. Once I get some time I will need to clean up and make proper use of these variables.

[2021-12-02 18:01] astha-jain commented on #3382
I do see a gap in functionality here. Will take this up in the upcoming sprint.

[2021-12-03 15:35] dariusbakunas commented on #3308
Sorry I don't have bandwidth for this yet, I will take a look once I get a chance

[2021-12-06 02:45] ShoSuenaga commented on #3361
@kavya498
Yes, of course!
I'm sorry for the delayed response.

[2021-12-06 02:51] #3361 closed

[2021-12-06 03:53] hkantare commented on #2180
We will look into the issue in upcoming sprint

[2021-12-06 06:48] #2633 closed

[2021-12-06 09:14] #3340 closed

[2021-12-06 10:18] #3314 closed

[2021-12-06 11:11] willholley opened #3394 "cos: importing a bucket does not import the `key_protect` attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-12-06 11:49] ocofaigh commented on #3213
@kavya498 I have reproduced the issue on `1.36.0`. See logs and details at internal url https://github.ibm.com/GoldenEye/issues/issues/316#issuecomment-38433092

[2021-12-06 15:15] #3327 closed

[2021-12-07 12:46] Beilmann opened #3401 "ibm_pi_instance is not able to complete with pi_health_status "WARNING""
Documentation describes, that by setting "health state" to "warning" by creating a new PowerVS instance, the creation process would complete successfully after the instance becomes state "warning". This would reduce deployment time of large instances from 1 hour to 15-20 minutes.

At the moment it is not working.

Documentation:
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/res

[2021-12-07 20:51] astha-jain commented on #2785
PR is merged and released. Good to close.

[2021-12-07 20:51] astha-jain commented on #2701
Good to close.

[2021-12-08 04:33] hkantare commented on #2701
Available on latest release
https://github.com/IBM-Cloud/terraform-provider-ibm/releases/tag/v1.37.0

[2021-12-08 04:33] #2701 closed

[2021-12-08 05:45] hkantare commented on #416
We are following the guidelines provided while naming the releases
https://www.terraform.io/docs/registry/providers/publishing.html
so closing the issue

[2021-12-08 05:45] #416 closed

[2021-12-08 05:49] hkantare commented on #466
From terraform version 13 and higher the issue has been fixed
[code]
closing the issue

[2021-12-08 05:49] #466 closed

[2021-12-08 05:57] hkantare commented on #554
@cb-ankit-gupta
Can I close this issue ?
If you need that https://github.com/IBM-Cloud/terraform-provider-ibm/issues/554#issuecomment-816649194 please open a new issue

[2021-12-08 05:57] #554 closed

[2021-12-08 06:00] hkantare commented on #610
@geethasathyamurthy can you please update this in compute VM instance documentation

[2021-12-08 07:31] hkantare opened #3405 "Only bluemix api key should be required to create SL infrastructure"
I have already been in touch with @ashishth09 regarding this issue. OPening now to track it as it will be a requirement for Dedicated Next. Currently user has to pass SL credentials and Bluemix api key when creating SL objects using ibm-cloud-provider. It is possible to pull the SL creds from the bluemix API key ( you can pull out a token as opposed to a username and api key ) Is it possible to ge

[2021-12-08 07:33] hkantare commented on #133
Closing this issue and opend a new one to track since its very old
https://github.com/IBM-Cloud/terraform-provider-ibm/issues/3405

[2021-12-08 07:33] #133 closed

[2021-12-08 07:33] hkantare commented on #3405
#133

[2021-12-08 07:35] hkantare commented on #189
Closing for lack of response and no recent activity..

[2021-12-08 07:35] #189 closed

[2021-12-08 07:37] hkantare commented on #210
Closing for lack of response and no recent activity..

[2021-12-08 07:37] #210 closed

[2021-12-08 07:37] ujjwal-ibm commented on #1438
[Documentation]( https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_subnet#ipv4_cidr_block) is fixed mentioning the hidden dependency.

[2021-12-08 07:39] hkantare opened #3406 "ibm_container_cluster slack notifications issue"
Hi there,

### Terraform Version
Terraform v0.11.7
+ provider.ibm (unversioned)

### Affected Resource(s)
ibm_container_cluster

### Terraform Configuration Files
[code]

###  Output
Slack Notifications are only sent when a new worker node are added.

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. main.tf
[code]
2.  `terraform apply`
3. Slack notifica

[2021-12-08 07:40] hkantare commented on #228
closing this issue and opend new one to track
https://github.com/IBM-Cloud/terraform-provider-ibm/issues/3406

[2021-12-08 07:40] #228 closed

[2021-12-08 07:40] hkantare commented on #3406
#228

[2021-12-08 07:42] hkantare commented on #254
closing this due to no recent activity.Please feel to reopen a new issue

[2021-12-08 07:42] #254 closed

[2021-12-08 07:43] hkantare commented on #278
closing this due to no recent activity.Please feel to reopen a new issue

[2021-12-08 07:43] #278 closed

[2021-12-08 07:44] hkantare commented on #293
closing this due to no recent activity.Please feel to reopen a new issue

[2021-12-08 07:44] #293 closed

[2021-12-08 07:45] hkantare commented on #346
closing this due to no recent activity.Please feel feel free to open new issue.

[2021-12-08 07:45] #346 closed

[2021-12-08 07:46] hkantare commented on #365
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:46] #365 closed

[2021-12-08 07:46] hkantare commented on #412
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:46] #412 closed

[2021-12-08 07:48] hkantare commented on #492
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:48] #492 closed

[2021-12-08 07:48] hkantare commented on #516
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:48] #516 closed

[2021-12-08 07:48] hkantare commented on #548
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:48] #548 closed

[2021-12-08 07:48] hkantare commented on #555
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:48] #555 closed

[2021-12-08 07:48] hkantare commented on #590
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:48] #590 closed

[2021-12-08 07:49] hkantare commented on #638
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:49] #638 closed

[2021-12-08 07:49] hkantare commented on #640
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:49] #640 closed

[2021-12-08 07:49] hkantare commented on #641
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:49] #641 closed

[2021-12-08 07:50] hkantare commented on #255
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:50] #255 closed

[2021-12-08 07:51] hkantare commented on #490
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:51] #490 closed

[2021-12-08 07:51] hkantare commented on #493
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:51] #493 closed

[2021-12-08 07:51] hkantare commented on #520
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:51] #520 closed

[2021-12-08 07:52] hkantare commented on #652
closing this due to no recent activity.Please feel free to open new issue.

[2021-12-08 07:52] #652 closed

[2021-12-08 07:56] hkantare commented on #657
Now we have worker_pool_id to dorectly refer the workerpool id instead of element and spliting https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/container_worker_pool#worker_pool_id

[2021-12-08 07:56] #657 closed

[2021-12-08 07:58] hkantare commented on #671
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 07:58] #671 closed

[2021-12-08 07:59] hkantare commented on #695
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 07:59] #695 closed

[2021-12-08 08:00] hkantare commented on #698
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:00] #698 closed

[2021-12-08 08:00] hkantare commented on #711
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:00] #711 closed

[2021-12-08 08:01] hkantare commented on #718
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:01] #718 closed

[2021-12-08 08:02] hkantare commented on #731
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:02] #731 closed

[2021-12-08 08:03] hkantare commented on #750
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:03] #750 closed

[2021-12-08 08:05] hkantare commented on #818
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:05] #818 closed

[2021-12-08 08:06] hkantare commented on #820
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:06] #820 closed

[2021-12-08 08:07] hkantare commented on #855
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:07] #855 closed

[2021-12-08 08:08] hkantare commented on #874
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:08] #874 closed

[2021-12-08 08:09] hkantare commented on #899
closing the issue due to no recent activity. Please feel free to open new issue

[2021-12-08 08:09] #899 closed

[2021-12-08 08:12] hkantare commented on #972
closing this issue since we support IAM based namespaces also now

[2021-12-08 08:12] #972 closed

[2021-12-08 08:20] hkantare commented on #1115
its a duplicate of #3405

[2021-12-08 08:22] hkantare commented on #1142
Now we have docs only at  Terraform  registry
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs

[2021-12-08 08:22] #1142 closed

[2021-12-08 08:23] hkantare commented on #1175
Its behinf the scope of the provider may be need to raise issue on respective API's

[2021-12-08 08:23] #1175 closed

[2021-12-08 08:26] hkantare commented on #1264
No we don't need to redeploy just next terraform comamnds should detect the changes and configure the properties

[2021-12-08 08:26] #1264 closed

[2021-12-08 08:27] hkantare commented on #1323
Closing this issue and trackign with new issue #3405

[2021-12-08 08:27] #1323 closed

[2021-12-08 08:29] hkantare commented on #1332
With latest release of provider the dependency cycle is internally handled uisng mutex

[2021-12-08 08:29] #1332 closed

[2021-12-08 08:30] hkantare commented on #1354
We support creating REadhat openshift cluster

[2021-12-08 08:30] #1354 closed

[2021-12-08 08:32] hkantare commented on #1438
closing the issue

[2021-12-08 08:32] hkantare commented on #1496
We migrated to latest API for cluster config

[2021-12-08 08:32] #1496 closed

[2021-12-08 08:37] #1684 closed

[2021-12-08 08:40] hkantare commented on #1714
its fixed now https://github.com/Cloud-Schematics/multitier-vpc-bastion-host

[2021-12-08 08:40] #1714 closed

[2021-12-08 08:44] hkantare commented on #1980
closing the issue due to no recent activity

[2021-12-08 08:44] #1980 closed

[2021-12-08 09:31] ujjwal-ibm commented on #2719
destroy would wait till the timeout(default in this case is 10 mins), if its not completed within that frame then it should return an error.

This is expected from provider side, if destroy is not completed, then it remains in the state and would again attempt delete on next destroy.

Since the volume is quite old, we couldn't get much details about it.

Tested the configuration and it was working

[2021-12-08 10:50] hkantare commented on #2289
Now we have docs hosted only in Terraform registry

[2021-12-08 10:50] #2289 closed

[2021-12-08 10:54] hkantare commented on #3248
We fixed some of issues from last couple of resources can you please try with latest release 1.36.0 and above

[2021-12-08 10:55] hkantare commented on #3215
Released in 1.37.0

[2021-12-08 10:55] #3215 closed

[2021-12-08 11:05] hkantare commented on #3120
Fixed in latest docs

[2021-12-08 11:05] #3120 closed

[2021-12-08 11:06] hkantare commented on #3150
closing the issue

[2021-12-08 11:06] #3150 closed

[2021-12-08 11:07] #2814 closed

[2021-12-08 11:14] hkantare commented on #3081
Closing the issue due to inactivity

[2021-12-08 11:14] #3081 closed

[2021-12-08 11:15] hkantare commented on #3099
Its avaialble in latest releases

[2021-12-08 11:15] #3099 closed

[2021-12-08 11:16] hkantare commented on #3114
This a API limiation we can't creat API key in different account

[2021-12-08 11:16] #3114 closed

[2021-12-08 12:31] hkantare commented on #3086
We see the support ticket closed saying backend fixed the issue and able to provision successfully

[2021-12-08 12:31] #3086 closed

[2021-12-08 13:03] #3401 closed

[2021-12-08 13:21] hkantare commented on #2618
Its avaialble in latest releases 1.37.0
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/satellite_location_nlb_dns
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/satellite_location_nlb_dns

[2021-12-08 13:21] #2618 closed

[2021-12-08 13:23] hkantare commented on #2675
closing on the above comments

[2021-12-08 13:23] #2675 closed

[2021-12-08 13:38] hkantare commented on #2537
The features are available in latest releases

[2021-12-08 13:38] #2537 closed

[2021-12-08 15:34] l2fprod opened #3408 "ibm_container_bind_service fails if the cluster is not in the same resource group as the target service"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no