[2022-06-22 16:12] archanaponnada commented on #3807
@mrgadgil :
FFR : As per our call discussion Today ,this issue has to cover below points :
1. We should have an API Create Validation API which should be able to schedule scans.
ETA : Will discuss with Team internally and let you know soon.

[2022-06-22 16:15] archanaponnada commented on #3795
@mrgadgil :
FFR : As per our discussion in call Today, this issue has to cover below points :
1. When creating a collector it should output -> registration key and install path.
2. Basically, it should provide all details to install a collector like how we have on UI Today.

[2022-06-22 22:15] gmewhinney opened #3867 "Resource record creation is too slow to build large clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-23 09:39] #3863 closed

[2022-06-23 11:38] data-henrik opened #3869 "Creating new IAM custom role, then immediately referencing it returns error of not found role"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-23 14:56] data-henrik commented on #3869
my mistake - I should have used references to the role name

[2022-06-23 14:56] #3869 closed

[2022-06-24 10:41] lucasberlang opened #3874 "Bug with API Global-tagging"
### Terraform CLI and Terraform IBM Provider Version
[code]
### Error
When we create a VSI the ibm_resource_tag resource sometimes it works, other times it fails because it seems that the global_tagging API allows you to read the VSI tags, but it doesn't allow you to read the boot-volume tags.

The error it shows is  _Error on get of resource tags () tags: The provided auth token does not have per

[2022-06-27 04:09] hkantare commented on #3736
The fix is available in 1.43.0-beta0 release
https://github.com/IBM-Cloud/terraform-provider-ibm/releases/tag/v1.43.0-beta0

[2022-06-27 07:32] gahlaut-rahul opened #3876 "Need to add more UT test cases to mtls."
Following files require more UTs.
Relevant link : https://github.com/IBM-Cloud/terraform-provider-ibm/pull/3856/files#r905732571

resource_ibm_cis_mtls_app_test.go
resource_ibm_cis_mtls_test.go

**In cases needed add more to data source files as well if not not applicable.**

[2022-06-27 07:34] gahlaut-rahul commented on #3876
@arpit-srivastava-ibm    FYI.

[2022-06-28 09:15] jxadro opened #3883 "Documentation issue. https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_volume"
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_volume

As you see in the screenshots NOTE boxes are empty

![image](https://user-images.githubusercontent.com/23421829/176141853-6a3fa331-5d76-4b4d-9f1f-5091838bf7a6.png)

![image](https://user-images.githubusercontent.com/23421829/176141928-c296a3f6-d9b2-447d-93ad-e8aca64190dd.png)

[2022-06-28 12:18] hkantare commented on #3845
As a end user I want to add a new worker to the desired worker zone in a desired zone.
This is simialr to the resource which we have for classic cluster
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/container_worker_pool_zone_attachment
[code]

[2022-06-28 17:25] ibmappm opened #3885 "problems with IPs reservations"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-29 06:29] DenysChekirda commented on #3824
@hkantare @obai-1 any updates on this? We still seeing errors on updating existing database deployments from `node_*` and `member_*` usage to `group`.

Detailed logs here: https://gist.github.com/DenysChekirda/b1d8e92f942c086cc5ba3739d9717147
IBMCloud provider version used: v1.42.0

[2022-06-29 14:54] obai-1 commented on #3824
@DenysChekirda thanks for posting the detailed logs. I took a look at the logs. The error happens when there is no change in the resource values, and still Terraform is trying to do a scaling operation.
Agree it is a bug in the code. In the meantime, a workaround will be to make a slight change in the scaling values. For example, choose a different value for memory allocation_mb.

[2022-06-29 15:49] MalarvizhiK commented on #3867
PR: https://github.com/IBM-Cloud/terraform-provider-ibm/pull/3886/files

[2022-06-29 17:53] srmamit opened #3888 "Add scc profile import feature"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-06-29 20:39] darrellschrag commented on #3838
Also need to make sure you can get the attach CoreOS ignition script from the location once this capability has been added.

[2022-06-30 11:39] surajsbharadwaj opened #3890 "resource "ibm_pi_cloud_connection" not attaching multiple vpcs"
Hi,

When terraform plan happens 2 vpcs crns are shown in plan which i want to attach. but after apply, only one vpc is attached and not both.

[2022-06-30 14:52] rmoralesjr commented on #3890
Which colo did this error occur?

[2022-06-30 22:12] rmoralesjr commented on #3890
Generally we want one bug report per problem and it looks like there are 2 separate problems.
In regards to the network attach failure in the error statement above that needs to be investigated by the back-end networking team so could you please open an internal support ticket.

For the not attaching multiple vpcs problem is there any error statements\logs for that? And any details on the cloud co

[2022-06-30 23:29] rmoralesjr commented on #3890
Actually this looks to be a duplicate of a known issue on the networking back-end: NOGRE DL did not work because same IP got used on the second NOGRE 10Gb DL.

[2022-07-01 12:03] hkantare opened #3894 ""allowed_ip" doesn't show any difff for IBM COS Bucket when we remove firewall outside the terraform"
1) Provision a COS bucket with firewall enabled (allowed_ip)
2) Remove or disable the firewall from UI
3) Terraform plan doesn't show any diff

Sample configuration
[code]

[2022-07-04 03:02] anilkumarnagaraj opened #3896 "ibm_schematics_workspace creation error"
I am not able to create a schematics workspace with count value greater than 8.
If count is less than 8, Workspace will get created in us-east region, but in eu-de region getting payload error.

### Terraform Version
Terraform v1.0
+ provider.ibm (unversioned)

### Affected Resource(s)
ibm_schematics_workspace

### Terraform Configuration Files
[code]

### Error

**Region: us-east
count = 10**

│

[2022-07-04 07:23] #3883 closed, assigned to astha-jain

[2022-07-04 14:12] vburckhardt opened #3899 "Allow to lookup a vpc by id"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-04 15:11] SIRISHA-SHARON opened #3901 "Retrieve workers from a cluster based on a specified pool name"
This code fetches all workers from a cluster-

[code]

Need a way to list only the workers belonging to a worker pool named that is not edge or transit.

How can I do that?

[2022-07-05 06:54] arpit-srivastava-ibm commented on #3736
Customer is still facing issue, I am looking into this and will update once I have any update.

[2022-07-05 07:35] surajsbharadwaj commented on #3890
Okay now we know the issue for 10GB (duplicate VRF will be fixed) what about attaching multiple VPC crns
 ?

[2022-07-05 13:09] gahlaut-rahul opened #3903 "Non Functional : Cosmetic doucmentation changes for CIS mTLS resource."
1st. This issues mainly fix, documentation issues (cosmetic changes) for CIS mTLS.
2nd. And a minor change in schema to hide certificate content.

[2022-07-05 13:43] ibmappm commented on #3885
Hi, we are aware that we must assign each ip to a different vsi, but since we have different teams working at the same time, it is difficult to keep track of the ip's that are already reserved to use another one. What we would like is to get an error when trying to assign an ip that references a vsi, when that ip is already assigned, so we can then change the ip and avoid this problem.

[2022-07-05 17:57] astha-jain commented on #3885
Hi. We have reached out to the respective backend teams and they'll be working on fixing the reserved IP association with multiple VSIs. In the meantime, @ujjwal-ibm has suggested fixing potential problems on terraform config that would help unblock you. I'll be marking this issue as good to close on Terraform and follow up on customer support ticket. Thanks.

[2022-07-06 07:39] data-henrik opened #3908 "ibm_scc_rule vs ibm_scc_configuration_rule?"
![image](https://user-images.githubusercontent.com/8414748/177496336-fa44dcb8-85b2-4936-9912-4d859f7e0015.png)

Is it scc_rule or scc_configuration_rule? At least it is hard to find

[2022-07-06 09:27] data-henrik opened #3910 "Remove required account_id from ibm_scc_rule"
Most of the APIs somehow require the current account_id as parameter. But it is not required in a Terraform resource, it is just taken from the context and passed to the API function.

Remove the required account_id from https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/scc_configuration_rule. Right now it is kind of unusable because I would need adapt the TF files to eac

[2022-07-06 09:31] data-henrik opened #3911 "Remove required account_id from ibm_scc_template"
Most of the APIs somehow require the current account_id as parameter. But it is not required in a Terraform resource, it is just taken from the context and passed to the API function.

Remove the required account_id from scc_configuration_template / ibm_scc_template. Right now it is kind of unusable because I would need adapt the TF files to each account.

https://registry.terraform.io/providers/I

[2022-07-06 09:52] DenysChekirda opened #3912 "Failed to create a read-only replica in region other than leader database region"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-07 08:40] arpit-srivastava-ibm commented on #3736
@support As mentioned above, when using minimum TLS v1.3, it is currently not possible to customise which ciphers to use. We can not add or remove ciphers of our choice and the ciphers will be set by default only.

To set default ciphers, pass an empty list `[]` in the config. There are no fix needed in the TF code.

This was not very clear in the documentation, for which I am pushing a fix. Will

[2022-07-08 05:23] arpit-srivastava-ibm commented on #3736
The documentation will be updated in 1.44.0-beta0 release.

[2022-07-08 14:45] skakala opened #3918 "ibm_resource_instance - dashdb-for-transactions query"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-08 21:22] gmewhinney commented on #3867
the 1.43.0 prototype much improved DNS record creation, but there is still a 40+ second delay in creating some of the ptr records.  This is a log from the run.  a good example of this is the record for instance 21.
it starts at: 2022-07-08T19:30:46.744Z
and ends at:2022-07-08T19:30:46.744Z
this record took over 40 seconds, while most took 3-4 seconds[
](https://gist.github.com/gmewhinney/8c2e26c05

[2022-07-08 21:22] gmewhinney commented on #3867
https://gist.github.com/gmewhinney/8c2e26c051ebc206cbb3a30ae9ce2114

[2022-07-10 02:23] enakatani commented on #3894
Any update on this?

[2022-07-12 04:15] #3903 closed

[2022-07-15 07:15] hkantare commented on #3894
We assigned the ticket to IBM Cloud COS team . They will look into this

[2022-07-15 19:35] rsrchboy opened #3923 "ibm_kms_key unhelpful deprecation box"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-07-15 22:37] rmoralesjr commented on #3890
The networking developer earlier this week indicated . . .
_Fixes for NOGRE Direct Linkare available in the Direct Link-TGW release.
This code base is being rolled out to DCs including TOK04._

[2022-07-18 08:35] DenysChekirda commented on #3912
@obai-1 here is logs with `TF_LOG=DEBUG`
https://gist.github.com/DenysChekirda/6edc8d75fcfe3b0b3d07d69b14221b8b

[2022-07-19 14:17] #3885 closed

[2022-07-21 08:20] ibmappm commented on #3885
Hi, we would like to know when the change in the provider will be published. Thanks

[2022-07-21 18:05] #3841 closed

[2022-07-21 18:05] #3784 closed

[2022-07-21 22:14] enakatani commented on #3894
@Priyaranimishra Can we have any updates?

[2022-07-22 09:39] DenysChekirda commented on #3912
@obai-1
Thanks to @hkantare, I've figure out that I haven't set providers properly in order to create read-only replica properly.
Once provider configuration been set properly replica created successfully.

[2022-07-22 09:39] #3912 closed

[2022-07-23 06:26] yussufsh commented on #3831
This is fixed by the service broker team by adding the 404 error to the swagger. The power-go-client has been updated in the provider so you should now see proper error message.

[2022-07-23 06:26] #3831 closed

[2022-07-26 22:52] KyungmoIBM commented on #3894
@Priyaranimishra, may we have update?
btw, I could successfully refresh bucket configuration change outside of Terraform. But it's occuring in Schematics.

[2022-07-27 13:57] IBMdiksha commented on #3894
We are looking at the issue internally. We will get back to you

[2022-07-27 22:10] KyungmoIBM commented on #3894
Hello @IBMdiksha , Thank you!

[2022-07-29 12:28] kanahavel commented on #3894
Hello @IBMdiksha

Please see the update from the customer

========
I deleted only one of the ICOS firewall definitions on the IBM Cloud Web Console (GUI) and left the other definitions in place.
So I did a Plan generation and it detected the difference between the allowed_ip in the Terraform code and the actual bucket settings and created a plan to change the settings.

So it seems that this even

[2022-07-29 13:59] nickolay-kofanov commented on #2958
The same thing happens with [`user_defined_annotations`](https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/function_action#user_defined_annotations) attribute of the `ibm_function_action` resource.

[2022-08-01 02:28] KyungmoIBM commented on #3894
Hello @IBMdiksha, I confirmed the issue occurs only when delete all allowed_ip items,

Reproduce steps
1. Created a bucket
`resource "ibm_cos_bucket" "smart-us-south" {
  bucket_name          = "kyungmo1741669-stardard-at-us-south"
  resource_instance_id = ibm_resource_instance.cos_instance.id
  region_location      = "us-south"
  storage_class        = "smart"
  allowed_ip           = ["169.63.16

[2022-08-01 22:42] clnperez opened #3940 "Power VS Instances Show "Still creating..." long after VMs move from BUILD to Warning state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-01 22:42] clnperez commented on #3940
@yussufsh can you take a look?

[2022-08-02 00:17] clnperez commented on #3940
Ok well -- n/m. The VM is stuck in PENDING state, but showing WARNING in the UI.

[2022-08-02 00:22] #3940 closed

[2022-08-03 08:03] rich-ehrhardt opened #3944 "data.ibm_cos_bucket does not work correctly in version 1.44.0"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-03 08:31] hkantare commented on #3944
We are looking into the issue

[2022-08-03 13:57] hkantare commented on #3944
Fixed in latest release 1.44.1
https://github.com/IBM-Cloud/terraform-provider-ibm/releases/tag/v1.44.1

[2022-08-03 13:58] hkantare commented on #3894
Fixed in latest release
https://github.com/IBM-Cloud/terraform-provider-ibm/releases/tag/v1.44.1

[2022-08-04 17:26] andrewferrier commented on #3838
As @darrellschrag says, I think this affects `ibm_satellite_location` resource and `ibm_satellite_attach_host_script` data source.

[2022-08-04 17:31] andrewferrier commented on #3838
Looks like the change for `ibm_satellite_location` has gone in, but the one for `ibm_satellite_attach_host_script` is still pending?

[2022-08-04 17:49] clnperez opened #3951 "stack trace with ibm_pi_dhcps data resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-05 04:21] rich-ehrhardt commented on #3944
Tested with updated version 1.44.1 and problem is fixed.

[2022-08-05 04:21] #3944 closed

[2022-08-06 09:53] yussufsh commented on #3951
Looks like got introduced by recent changes. #3916
Thanks for reporting.

[2022-08-09 06:15] #3951 closed

[2022-08-10 07:55] daniel-butler-irl opened #3960 "Resource Group Data Source Should Return Null Values When No Group Found"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-11 08:55] hkantare opened #3964 "The IBM database fails with Error: Unprocessable Entity"
Steps 1 :

1) Create a database using `members_XXXX_XXX` (the values here for all members) argumets
[code]
<img width="762" alt="Screenshot 2022-08-11 at 12 54 33 PM" src="https://user-images.githubusercontent.com/24930306/184083850-a8eb5987-f0b8-4ac3-a9dc-0de76b640747.png">

2) Run terraform plan/apply.  After successfull provison change the tempalte to use `groups`-argument
[code]
4 Now run terr

[2022-08-11 12:06] irizzant opened #3965 "VPC module fails to create subnets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-11 12:15] MalarvizhiK opened #3966 "Wait logic is missing/not working in VPN Gateway"
I used the below script to create VPN Gateway, Connections. My VPN gateway connections are created with 0.0.0.0 as the VPN gateway address. We need wait logic in VPN gateway, it should wait till the status is changed from Pending to Available. Then only VPN gateway connections should get created. Please fix on high priority. Issue is seen only with multiple VPN gateways (3 in number) and VPN gatew

[2022-08-11 13:40] astha-jain commented on #3857
Good to close?

[2022-08-11 13:44] #3857 closed

[2022-08-11 14:24] #3742 closed

[2022-08-11 14:27] astha-jain commented on #3741
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_instance#instance_template

[2022-08-11 14:27] #3741 closed

[2022-08-11 14:28] #2272 closed

[2022-08-11 14:28] #2486 closed

[2022-08-11 14:32] astha-jain commented on #3509
This looks good to close. If there persist any other problems, please open a new issue.

[2022-08-11 14:42] deepaksibm commented on #3545
@Nashluffy `id` is in the list of attributes  https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/is_subnet#id

[2022-08-11 18:58] powellquiring commented on #2969
I really want this to work:

[code]

Step 2 results in no changes
[code]

Expected: the routing_table would be set to the ibm_is_vpc.vpc default routing table.

[2022-08-11 20:25] powellquiring opened #3967 "docs in is_instance_template do not cover volume_attachments completely"
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_instance_template

![image](https://user-images.githubusercontent.com/6932057/184235094-d824e264-27d2-4d9f-8bb4-c0d4a0b47668.png)

- [ ] The Note is empty
- [ ] The possible values for volume_prototype?  There is an example above which would indicate "general-purpose" is one example that must be listed.  What are the ot

[2022-08-11 21:39] powellquiring commented on #3967
Maybe same as https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_instance_volume_attachment

Allowed values are : [general-purpose, 5iops-tier, 10iops-tier, custom].

[2022-08-11 21:43] powellquiring commented on #3967
I tried the example provided in the docs and it did not work:
[code]

Removed `iops = 3000` and it got further, but failed with:
[code]

It looks like the previous error actually created the instancetemplate, but the error confused terraform. It looks like this is a condition that must be verified by the IBM provider.

[2022-08-12 05:00] ujjwal-ibm commented on #3966
vpn gw with mode as policy, needs an active public ip address of the peer. Changing the configuration to this should resolve the issue.
[code]

[2022-08-12 05:20] SunithaGudisagarIBM commented on #2969
Hi @powellquiring,

If  routing_table field is empty and we assign default routing table then update would be shown in every next terraform apply, hence we cann't assign it to default routing table.
Instead if you want subnet to be referenced back to default routing table, you can do that so by passing ibm_is_vpc.vpc.default_routing_table to routing_table field.

[2022-08-12 14:18] kavya498 opened #3970 "Note section is not in proper format"
<img width="1040" alt="image" src="https://user-images.githubusercontent.com/46739084/184372731-305d1598-19ab-495b-aec0-118b8a2e8656.png">

[2022-08-12 17:44] powellquiring opened #3972 "terraform ibm_is_instance_template volume_attachments removal from configuration not changing resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-12 17:47] powellquiring commented on #3967
Handle docs to profile same was as api spec: https://github.ibm.com/riaas/api-spec/issues/4081

[2022-08-13 21:46] powellquiring commented on #2969
Expected:  A terraform configuration is an unambiguous specification of the desired state.
Actual: The subnet.routing_table value is going to be different depending on the configuration history.  My staging and production configurations could have the same terraform files but have a different configuration.

It would be better to make the subnet.routing_table a required argument.

[2022-08-16 08:50] daniel-butler-irl commented on #3960
Hi, @hkantare Thanks for the feedback on the PR. I understand and I have closed and I'll move the discussion back to this issue.

Quote @hkantare:

I know many people looking for the ability to use a resource group and create one if it does not exist. We have built this module https://github.com/terraform-ibm-modules/terraform-ibm-resource-group but the need for two separate variables is not ideal

[2022-08-16 15:11] deepaksibm commented on #3967
@powellquiring thanks for reporting. fix is on its way

[2022-08-16 17:00] clnperez commented on #3261
Then I think the wording needs some clarification. It says "You can find accepted values in the [subnets doc](https://cloud.ibm.com/classic/network/subnets), Note You can see the list of private subnets of your account."

`subnets doc` to me sounds like it should point to documentation. More clear would be something like,

`
Acceptable inputs for this field are any of the names of an existing subn

[2022-08-17 10:13] #3838 closed

[2022-08-17 10:19] andrewferrier commented on #3838
@hkantare which version of the provider contains this change to the host attach script?

[2022-08-17 10:51] hkantare commented on #3838
We are planning for a beta release mostly by tomrrow EOD

[2022-08-18 18:00] rjouhann opened #3978 "New resource to accept a direct link creation request"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-18 21:16] mriedem commented on #3964
I'm hitting the same thing, here are my versions:

[code]

I'm trying to update our Terraform to avoid the deprecation warnings on `members_cpu_allocation_count`, `members_disk_allocation_mb` and `members_memory_allocation_mb`. The plan will show a change like this (snip):

[code]

But when I apply I get the Unprocessable Entity error. Curiously after that a subsequent plan and apply shows that th

[2022-08-18 21:24] SusanHeller opened #3979 "When `ibm_kms_key` is updated, the `ibm_kms_policies` errors out"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-22 04:51] hkantare commented on #3964
@obai-1 Can you look into this migration issue

[2022-08-22 14:42] powellquiring opened #3983 "data source that uses crn and tags to find a list of instances"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-22 16:13] oscarjim89 opened #3984 "resource_instance creation: portworx service creation with csi = "true" parameter"
Hi,

we have an issue when we create portworx with csi="true" parameter (without this parameter all is working as expected).

### Terraform CLI and Terraform IBM Provider Version
git --version # 'git version 1.8.3.1'
- Installed hashicorp/kubernetes v2.10.0 (unauthenticated)
- Installed ibm-cloud/ibm v1.41.0 (unauthenticated)

### Affected Resource(s)

* ibm_resource_instance

### Terraform Config

[2022-08-22 19:59] bhpratt opened #3985 "supported CoreOS-enabled clusters (default worker pool) and workerPools in satellite clusters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-22 20:00] bhpratt commented on #3985
SDK update to CreateSatelliteClusterRemoteOptions, CreateSatelliteClusterOptions, and CreateSatelliteWorkerPoolOptions: https://github.com/IBM-Cloud/container-services-go-sdk/pull/8/files

[2022-08-22 20:29] powellquiring commented on #3983
Using the cli:
[code]

[2022-08-23 13:06] MalarvizhiK commented on #3966
The solution works fine, please document and close the issue.

[2022-08-23 14:21] obai-1 commented on #3964
@alexhemard fyi

[2022-08-24 12:12] andrewferrier opened #3987 "Terraform provider doesn't support RHEL 8 hosts / attach script intent is unclear"
### Terraform CLI and Terraform IBM Provider Version

Terraform v1.2.6
on darwin_amd64
+ provider registry.terraform.io/ibm-cloud/ibm v1.44.2

* ibm_satellite_attach_host_script

### Terraform Configuration Files

[code]

### Expected Behavior

The script provided is suitable for connecting RHEL 8 hosts.

### Actual Behavior

The script provided contains lines of the form:

`subscription-manager r

[2022-08-24 15:17] andrewferrier opened #3989 "Plugin crash"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-26 07:33] #3964 closed

[2022-08-29 11:32] ocofaigh commented on #3764
Still intermittently see this issue. Attaching latest logs:

[code]

[ocp-all-inclusive-module-test-logs-220825-063202.tar.gz](https://github.com/IBM-Cloud/terraform-provider-ibm/files/9444098/ocp-all-inclusive-module-test-logs-220825-063202.tar.gz)

[2022-08-29 13:22] Wayne-H-Ha opened #3995 "taints for worker pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-29 16:04] lra opened #3996 "The attribute "default_network_acl" is deprecated."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-29 19:10] bujjipraveen commented on #3995
Further more, it only recognizes the change from the state file (for example, changing the `key` in the above code to something else) and shows that there is an update in the terraform plan. It isn't recognizing the actual infrastructure updates (add, update or delete taints.
Let us know if you need any other information on reproducing this.

[2022-08-31 17:38] powellquiring opened #3999 "failure on ibm_is_instance_group_manager destroy unhealthy wanted target healthy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-08-31 18:59] l2fprod commented on #2608
@hkantare @kavya498 any chance to get #3321 merged?

[2022-09-01 06:08] ujjwal-ibm opened #4000 "ibm_is_security_group_target shows force replacement on import"
### Terraform CLI and Terraform IBM Provider Version : 1.44

### Affected Resource(s)

* ibm_is_security_group_target

### Terraform Configuration Files

Please include all Terraform configurations required to reproduce the bug. Bug reports without a functional reproduction may be closed without investigation.

[code]

### Debug Output

[code]

### Panic Output

### Expected Behavior

### Actual B

[2022-09-01 14:07] lionelmace commented on #3503
I upgrated to terraform provider version `1.44.3`.

I'm facing again the error `Create Endpoint Gateway failed Service does not support VPE extensions`

[code]

What's wrong?

Here is the terraform script to reproduce:
https://github.com/lionelmace/ibmcloud-utils/tree/master/terraform/mongo

[2022-09-01 14:08] lionelmace commented on #3503
^ @hkantare

[2022-09-01 21:18] mriedem commented on #3964
This is still failing with ibm provider 1.44.3. After upgrading:

[code]

This is the plan, looks good:

[code]

But the apply fails - essentially the same error, though a more useful error message this time:

[code]

So we're still stuck getting deprecation warnings on fields that we can't change to `group` because of the 422 error.

Should this issue be re-opened or should I open a new issue?

[2022-09-02 04:48] hkantare commented on #3964
@obai-1 can you please look into this issue

[2022-09-02 05:54] #4000 closed

[2022-09-02 10:09] obai-1 commented on #3964
@mriedem could you share the allocation values prior to this change? (ie, the values you have for those deprecated fields such as `members_memory_allocation_mb`)

[2022-09-02 15:05] mriedem commented on #3964
I ran `terraform state show` on another psql ICD instance we have where I haven't tried applying the `group` change and it shows `groups` and `members_*_allocation_*` fields like above, but it _doesn't_ contain the `group` field. So I'm not sure if in the case above the `group` is set from a previous apply (it must have) but it seems like it's in a bad state because the API rejects it - was the st

[2022-09-06 14:47] mjturek opened #4012 "Power VS: Health status is not a reliable indicator for instance being up."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-06 16:38] yussufsh commented on #4012
At least the health status should be changed from PENDING.. otherwise I think the vm is unusable. Would like to ask you to create a support ticket to understand why the vm is not coming out of PENDING health status.

cc @rmoralesjr

[2022-09-06 16:53] hamzy commented on #4012
In my experience, the VM is up and running as seen on the console.  However TF is still waiting on the VM because of this (as seen on the CLI)
[code]

[2022-09-06 18:29] kavya498 opened #4014 "Updata schema validation to latest schema validation methods"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-06 18:40] bhpratt commented on #3985
SDK update to have GetWorkerPoolResources support OperatingSystem https://github.com/IBM-Cloud/container-services-go-sdk/pull/9

[2022-09-07 03:17] rmoralesjr commented on #4012
Here is the log lines with the time stamps to help the service broker developers locate the instance creation logs for the instance mentioned above. . . .

		Sep 6 08:29:04 tor-servicebroker-9f5d88686-7sn4b tor-servicebroker DEBUG 13:29:04.21Z tor-servicebroker-9f5d88686-7sn4b[ecc71] pcloud transaction_logging.go:86/Debugf ▶ (67-7d81) create pvm-instance rdr-ipi-mjturek-7qzh6-master-2 in b301a0b3b

[2022-09-07 08:03] data-henrik opened #4015 ""data iam_authorization_policy" is "data iam_authorization_policies""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-07 09:23] data-henrik opened #4016 "Updates to an ibm_iam_authorization_policy?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-07 09:23] data-henrik commented on #4016
see https://cloud.ibm.com/apidocs/iam-policy-management#update-policy

[2022-09-07 14:29] data-henrik opened #4019 "Wrong tagging for TOC"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-07 17:15] rmoe opened #4020 "Implement "Avoid Edge Functions" functionality for ibm_cis_edge_functions_trigger"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-08 08:44] data-henrik opened #4022 "Confusing wording in resource description"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-08 08:46] willsimmons-1 opened #4023 "ibm_cis_logpush_jobs resource is not able to set-up a logpush service to COS buckets"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-08 12:00] lionelmace commented on #3503
I don't reproduce any more. There must be some instability on the VPC side....

[2022-09-08 12:00] #3503 closed

[2022-09-08 17:48] jpmonge86 opened #4024 "iam_account_settings support for access/refreh token expiration"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-13 14:17] data-henrik opened #4031 "Wrong formatting or missing content?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-13 18:06] seansund opened #4032 "Allow global service tags to be defined in the provider config that will be applied to all resources created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-14 05:46] kavya498 commented on #4016
@data-henrik , update is not supported as of now
@Rajesh-Pirati FYI

[2022-09-14 05:56] data-henrik commented on #4016
Based on my tests, updates seem to be supported. Depending on the attributes, it is a real update or combined delete / create.

[2022-09-14 06:33] kavya498 commented on #4031
Duplicate of https://github.com/IBM-Cloud/terraform-provider-ibm/issues/3923
Closing this issue
Thanks

[2022-09-14 06:33] #4031 closed

[2022-09-14 06:42] kavya498 commented on #3818
@powellquiring ,
There is no default value mentioned in the resource schema..
I believe API is taking the default value we are not explicitly setting any default value in schema..

[2022-09-15 04:24] #3923 closed

[2022-09-15 10:23] data-henrik opened #4045 "data ibm_atracker_settings"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-15 11:49] ocofaigh opened #4046 "Delete and recreate identified on every terraform apply for ibm_pi_instance"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-16 17:02] ocofaigh opened #4049 "ibm_resource_instance of type power-iaas timing out on deletion"
While running the following code: https://github.com/terraform-ibm-modules/terraform-ibm-powervs-sap/tree/sprint-2/examples/ibm-catalog/empty-system-solution we are seeing the following timeout occur:

`Error:
unable to deprovision cloud instance 9b9d301e4e7a449f83127d0bb0faa8c1: an error has occurred; please try again: unable to delete data volume (7ad9a96a-00dc-4176-9d8d-7f7be35104da) for 9b9d30

[2022-09-19 04:38] yussufsh commented on #4046
The Terraform template is using `depends_on` on the module. The main attribute that forces `ibm_pi_instance` replacement is shown in the plan changes:
[code]

When you use `depends_on` on the module, the data sources inside the module will not know the value ie. `(known after apply)`. In the case of `ibm_pi_instance` Terraform assumes that the value is going to change and hence tries to replace th

[2022-09-19 04:38] #4046 closed

[2022-09-19 09:34] ocofaigh commented on #3561
Hi @hkantare
I just wanted to let you know that we still intermittently face this issue. We are currently using ibm provider version 1.45.0. Attaching latest logs incase it helps you guys for a potential fix.

`Error: Request failed with status code: 401, ServerErrorResponse: {"incidentID":"ae4c5d9d-f39b-4d7e-9183-ca96dae697b5","code":"P0005","description":"The IAM token exchange request failed wi

[2022-09-20 06:56] pathaknikhil87 opened #4051 "Unable to deploy the SG rule for ICMP type "8" and code "Any""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-20 16:56] surajsbharadwaj opened #4053 "ibm_pi_cloud_connection : return code not correct. Errors"
I have started seeing an issue with ibmcloud_pi_connection since 3 hours :
  Enter a value:
[code]

The resource gets created but response is not valid

[2022-09-20 18:42] l2fprod opened #4054 "primary_ip is a list in ibm_is"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-20 20:14] rmoralesjr commented on #4053
I asked the originator for more information to be able to debug the issue.

[2022-09-20 21:10] kbiegert commented on #4053
@albee-jhoney this is blocking the first MVP for solutions.  Please help.

[2022-09-21 14:11] tapandhalsamanta opened #4056 "BUG: cluster deployment failed due to Key fetching error"
Description:  Cluster deployment failed due to Key fetching error

Image used:
bootstrap: hpcc-scale-bootstrap-v2
compute: hpcc-scale5141-rhel79-v2
storage : hpcc-scale5141-rhel84-v2

Mode of deployement:
 Schematics UI

Error log:
Error log:
2022/09/15 13:33:21 Terraform apply |
2022/09/15 13:33:21 Terraform apply | Error: [ERROR] Error fetching Keys An error occurred while performing the 'authen

[2022-09-21 22:44] rmoe opened #4057 "Error trying to read ibm_satellite_endpoint resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-22 09:15] ujjwal-ibm commented on #4056
Due to a client side network error, the authentication failed on terraform

[2022-09-22 19:53] SirSpidey opened #4060 "Incorrect docs link from terraform registry to Cloud Docs"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-23 20:32] powellquiring commented on #3818
Since a default is accepted by the provider it's behavior should be documented.

[2022-09-28 14:00] mrgadgil opened #4069 "ibm_cos_bucket object versioning block type should be object"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-09-29 08:15] jackyou84 opened #4070 "ibm_database_connection data resource cause aws_secretsmanager_secret_version force-replacement during plan phase"
### Terraform CLI and Terraform IBM Provider Version

terraform  1.3.1
IBM-Cloud/ibm 1.43

### Affected Resource(s)

* ibm_database_connection
* aws_secretsmanager_secret_version

### Terraform Configuration Files
in my postgres module:  pg_module.tf
resource "ibm_database" "postgresql" {
  #any attribute for database creation
}
data "ibm_database_connection" "postgresql_admin_connections" {
  for

[2022-09-30 05:47] #4060 closed

[2022-09-30 17:28] clnperez opened #4072 "powervs: fail vm provision as soon as one goes into Error status"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-04 10:06] ujjwal-ibm opened #4077 "Floating ip target for vsi to avoid cyclic resource creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-05 09:16] Mehdi-Mameri opened #4078 "Attribute References for connectionstrings in ibm_database"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-05 13:26] SeungYeop-Yang opened #4079 "TFP 1.46.0 data source: ibm_is_backup_policies, expected 'the empty list', but returned 'no BackupPolicies found'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-06 06:39] hkantare opened #4081 "Support binding an IKS cluster to a Secrets Manager instance"
Support functionality for binding an IKS cluster to a Secrets Manager instance on instantiation
The IKS team has already released functionality through their CLI(https://cloud.ibm.com/docs/containers?topic=containers-cluster-create-vpc-gen2&interface=cli) with the flag --sm-instance INSTANCE

[2022-10-06 08:35] SunithaGudisagarIBM commented on #4079
https://github.com/IBM-Cloud/terraform-provider-ibm/pull/4082

[2022-10-06 11:46] data-henrik opened #4084 "Why resource "keyrings" and not "keyring"?"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-06 11:48] data-henrik opened #4085 "Add data source ibm_kms_key_ring to retrieve single key ring"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-06 12:39] data-henrik opened #4086 "data source ibm_iam_authorization_policies is missing the keyring property"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-06 13:31] ocofaigh opened #4087 "IBM Cloud Sysdig monitoring provisioning error not exposed to end user anymore"
When provisioning a sysdig instance using `ibm_resource_instance` (see code [here](https://github.com/terraform-ibm-modules/terraform-ibm-observability/blob/main/modules/monitoring-sysdig/main.tf)) we were getting the following error:

[code]

We created a support case with IBM Cloud and they got back to us to say the root cause was that there was already a sysdig intance in the region with platfo

[2022-10-06 14:27] syyang-in-cloud opened #4089 "TFP 1.46.0 data.ibm_atracker_* :Service URL for region not found for some of regions: ca-tor, jp-tok, jp-osa, br-sao"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-06 14:28] syyang-in-cloud commented on #4089
I guess this issue comes from SDK typos: https://github.com/IBM/platform-services-go-sdk/blob/main/atrackerv2/atracker_v2.go
[code]

[2022-10-06 18:10] powellquiring opened #4091 "ibm_tg_connection_prefix_filter does not support creation of the default filter"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-07 14:40] lionelmace commented on #4081
This terraform support is critical as Secrets Manager has replaced Certificate Manager.

[2022-10-07 20:56] evanrappe opened #4094 "ibm_scc_posture_scan_initiate_validation frequency documented improperly"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-07 20:57] Yuyi-Fu opened #4095 "ibm_scc_posture_scan_initiate_validation frequency is actually specified in seconds"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-07 21:01] #4095 closed

[2022-10-07 21:02] Yuyi-Fu commented on #4095
Duplicated

[2022-10-09 11:30] jackyou84 commented on #4070
Hi team, Could you please have a check?
is it because data depend on ibm_database.postgresql[each.key].id which just get result during apply?

[2022-10-10 04:33] hkantare commented on #4087
@ocofaigh Mostly it can be regression from API end or they changed the retrun message because from Terraform https://github.com/IBM-Cloud/terraform-provider-ibm/blob/65514317be26478193610f378ea4270da8f83657/ibm/service/resourcecontroller/resource_ibm_resource_instance.go#L512
we return complete resp object.

[2022-10-10 05:41] #4014 closed

[2022-10-10 09:45] data-henrik opened #4097 "incorrect example for ibm_atracker_target"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-10 10:17] ocofaigh commented on #4087
@hkantare Here is the response from the sysdig team:

[2022-10-10 10:39] hkantare commented on #4087
Can we enable trace TF_LOG=debug to check if API response contains the  info

[2022-10-10 10:48] #4015 closed

[2022-10-10 10:50] #3970 closed

[2022-10-10 10:51] #4019 closed

[2022-10-10 10:52] #3799 closed

[2022-10-10 10:55] kavya498 commented on #4086
@Rajesh-Pirati , Can you please take a look at this?

[2022-10-10 10:56] kavya498 commented on #4085
@dinesh-venkatraman , can you please take a look at this?

[2022-10-10 11:02] kavya498 commented on #4054
@l2fprod
Terraform doesn't support object type
typeMap generally supports only map[string]string
We generally use typeList or TypeSet for complex types/objects

[2022-10-10 11:25] kavya498 commented on #4024
SDK is not yet updated with the latest API
Daniel Byrne, Can you please update SDk and this resource?

[2022-10-10 13:49] andrewferrier-ibm opened #4099 "ibm_satellite_attach_host_script shows incorrect syntax for labels"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-10 15:47] syyang-in-cloud commented on #4089
or ... TFP needs to upgrade with the latest platform-service-go-sdk  of v0.28.5

[2022-10-11 04:52] #4079 closed

[2022-10-11 08:13] dinesh-venkatraman-g commented on #4084
@data-henrik Thanks for your suggestion. There is no specific reason for naming this as `key-rings`.. we just wanted to match the naming as in the doc [here](https://cloud.ibm.com/apidocs/key-protect#createkeyring).

[2022-10-11 09:06] data-henrik commented on #4084
The docs state that "a key ring" is created using the keyrings API which is intuitive.

Here you use the access groups API to create a single access group: https://cloud.ibm.com/apidocs/iam-access-groups#create-access-group
Accordingly, it is ibm_iam_access_group, https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/iam_access_group

It would be GREAT to have consistent nami

[2022-10-11 09:29] data-henrik opened #4102 "Wrong formatting"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-11 12:58] powellquiring commented on #4084
See related: https://github.com/IBM-Cloud/terraform-provider-ibm/issues/2938#issuecomment-897092723

[2022-10-11 14:30] data-henrik opened #4103 "Invalid example for ibm_scc_posture_scan_initiate_validation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-11 17:11] JohnPaulParkin commented on #4089
I believe that this issue was resolved with the SDK changes mentioned above, but will only be in the TF releases starting with 1.47.0-beta0 and later due to the timing of the SDK updates and when the TF code picks up the latest dependencies.

[2022-10-11 20:41] syyang-in-cloud commented on #4089
I was waiting for the PR linked with the issue, but it seems someone just pushed the fix directly to `master`: https://github.com/IBM-Cloud/terraform-provider-ibm/commit/13e65b3c71aacfbd2dc5fe20fcb7e2624f7e0919

I hope @hkantare and admins can setup a kind of contribution rules with proper process to create PR and reviews, but it's up to them.

[2022-10-12 07:26] SeungYeop-Yang commented on #4089
Hi @JohnPaulParkin , I've tested with the latest TFP 1.47.0-beta0, and it's still failing as below:
[code]

I checked out the tag v1.47.0-beta0, and it seems go.mod was not updated yet: https://github.com/IBM-Cloud/terraform-provider-ibm/blob/420da5ab6e7a58419ac5ef178ddd56de4533c8a4/go.mod#L25

[2022-10-12 07:48] hkantare commented on #4089
@SeungYeop-Yang This we need to check with Atracker team who handles the support veenar@us.ibm.com is newly onboarded who owns the support

[2022-10-12 09:02] data-henrik opened #4104 "Invalid example for ibm_scc_posture_credential"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-12 09:47] #3985 closed

[2022-10-12 10:21] archanaponnada commented on #3688
This issue is resolved. Corrected the documentation with correct syntax.

[2022-10-12 10:21] archanaponnada commented on #3688
@srmamit : could you please check and close.

[2022-10-12 11:29] masseybradley opened #4105 "manage tcp ibm_cis_healthcheck"
### Terraform CLI and Terraform IBM Provider Version

Terraform v1.2.8
on linux_amd64
+ provider registry.terraform.io/ibm-cloud/ibm v1.46.0

### Affected Resource(s)

* ibm_cis_healthcheck

### Terraform Configuration Files

[code]

### Expected Behavior

Possible to `terraform import ibm_cis_healthcheck` and manage the existing tcp healthcheck(s).

### Actual Behavior

The healthcheck is importe

[2022-10-12 11:52] JohnPaulParkin commented on #4089
@SeungYeop-Yang - the reason for the URL mapping is that ATracker is not supported in all regions at the moment.  The supported regions are documented in the external cloud docs.  As a result, there is no ca-tor.atracker.cloud.ibm.com endpoint to operate against when performing the operations from one of the unsupported environments.

This poses a problem when someone is attempting to leverage ATr

[2022-10-12 12:22] powellquiring opened #4106 "ibm_tg_gateway failed on second execution"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-12 12:23] powellquiring commented on #4106
If you have have problems reproducing this please reach out.

[2022-10-12 14:35] srmamit commented on #3688
the group field should also be a map, we have following configuration in our setup:
[code]

[2022-10-12 14:41] srmamit commented on #3688
I think the example provided in documentation still requires small change.

[2022-10-12 14:42] #3888 closed

[2022-10-13 05:42] archanaponnada commented on #4104
The ETA for this fix is : **16/Nov/2022.**

[2022-10-13 12:10] ocofaigh opened #4107 "Add retry to POST api call which can fail intermittently when using ibm_container_vpc_worker_pool"
While using `ibm_container_vpc_worker_pool` to provision a worker pool, we faced the following error:

[code]

It might help if we added a retry to this api call? I have included the debug trace log below, but this is the failure in the trace log:
`2022-10-13T05:48:08.462Z [ERROR] vertex "module.ocp_base.ibm_container_vpc_worker_pool.pool[\"transit\"]" error: [ERROR] Error updating the worker_coun

[2022-10-13 15:12] en-ree opened #4108 "ibm_database docs incomplete and wrong"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-13 16:13] powellquiring opened #4109 "ibm_tg_gateway name change causes create after destroy failure"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-14 20:28] odaira opened #4112 "Cannot create ibm_is_vpc_routing_table_route"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-16 15:02] ocofaigh commented on #4087
@hkantare Please see trace log attached where I reproduced the issue. The stdout error looks like this:

[code]

Here is trace log:
[trace.txt](https://github.com/IBM-Cloud/terraform-provider-ibm/files/9794945/trace.txt)

[2022-10-17 10:02] ujjwal-ibm commented on #4112
Please change the configuration of `ibm_is_vpc_routing_table_route` to this

[code]

the part   `routing_table   = ibm_is_vpc_routing_table.rtbl1.id` is wrong

link to example and docs https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_vpc_routing_table_route#example-usage
https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_vpc_routing_table#r

[2022-10-17 10:07] ujjwal-ibm commented on #4112
Its including the id twice because `ibm_is_vpc_routing_table.rtbl1.id `is a combination of `<vpc_id>/<vpc_routing_table_id>`

https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/is_vpc_routing_table#id

[2022-10-17 10:37] peiyang2024 opened #4114 "Issues of floating bare metal server id and reserved ip is not updating"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-10-17 18:26] odaira commented on #4112
Yes, it works.  So `the routing table ID` refers not to the `id` attribute but to the `routing_table` attribute....  The design (or document) looks error-prone to me, but in any case, thank you for your help.

[2022-10-17 18:26] #4112 closed

[2022-10-18 08:49] #4099 closed

[2022-10-20 12:05] davidyao19 commented on #4114
@ujjwal-ibm once you have the workaround fix, would you associate it with this issue too?  Thanks.

[2022-10-21 07:08] MalarvizhiK commented on #3978
Myself and @ajay-malhotra1 are looking at this requirement.

[2022-10-24 12:20] pauljegouic opened #4123 "ibm_container_vpc_cluster - properties KeyProtect"
Hello there @hkantare

Hope you're doing well :)

I am looking into new definitions, especially ibm_container_vpc_cluster, and I can't understand the difference between:

- `kms_config` block
- `crk_id` & `kms_instance_id`

Is there a difference in term of behaviour ?

Can we define different keys for different usage (i.e: etcd encryption and bootvolume) ? Or is it a deprecation (crk_id and kms_in

[2022-10-25 11:54] hkantare commented on #4123
`kms_config` is used  protect Kubernetes secrets and any credentials stored in a secret by enabling a [key management service (KMS) provider] which provides an encryption solution using a root key.
https://cloud.ibm.com/docs/containers?topic=containers-encryption

`crk & kms_instance_id` - is used for encryption of local disk of worker nodes
https://cloud.ibm.com/docs/openshift?topic=openshift-enc

[2022-10-25 12:29] pauljegouic commented on #4123
Thanks so much for the answer !

Based on documentation: encryption at worker level is managed for a workerpool.
--> Does it mean, that if we create additional workerpool, we have to inform it in our `ibm_container_vpc_worker_pool`. In other words, this new pool does not inherit from the `default` one, right ?
--> Also, from a graphical point of view, does encryption for boot volume can be done th

[2022-10-25 21:42] sarah-ulmer commented on #4109
Commenting to say this is on the transit team's radar and I am working on a fix for it.

[2022-10-26 12:42] attilatabori commented on #4123
Workerpool does not inherit from the other. You have to specify everything for a new workerpool.

boot volume encryption can be set in the UI, when creating cluster, at the bottom of the page you should see this:

<img width="269" alt="image" src="https://user-images.githubusercontent.com/92513370/198028703-c21f99bb-83cf-4aca-ad3f-6afd90a80fb7.png">

[2022-10-26 12:44] attilatabori commented on #4123
Workerpool does not inherit from other workerpools. Everything has to be specified for each new workerpool.

When you create a vpc cluster , at the bottom of the page you should see find this for enabling boot volume encryption

<img width="814" alt="image" src="https://user-images.githubusercontent.com/92513370/198029213-929fb4ca-d0c8-4437-96d1-4e1562f1c085.png">

[2022-10-26 16:42] ibmappm opened #4125 "change endpoing API resource_ibm_resource_tag"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-02 09:34] pkluska opened #4132 "Schematics managing schematics fails after creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-03 12:33] andrewferrier opened #4135 "ibm_satellite_cluster seems to be defaulting to the oldest cluster version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-03 12:35] andrewferrier commented on #4135
(By the way, this USED to pick the default version, so I think something has changed...)

[2022-11-03 13:44] srikar-git opened #4137 "ibm_resource_instance data source should not need resource group id"
I can get service-instance details of a cos instance like
[code]
But in terraform I can't do

[code]

Note: I didn't target any region or resource group.

Moreover, the [datasource page](https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/resource_instance) says only 'name' as required parameter

[2022-11-04 15:56] gchelazzi-klab opened #4141 "Unable to create Virtual Server instances on a VPC through Terraform"
### Panic Output

### Expected Behavior

After creating the VPC, the subnetworks, the security groups and so on, the TF provider for IBM should create the VSIs.

### Actual Behavior
The Terraform provider for IBM incurs in this error:
ibm_is_instance.adai-controller-1: Creating...
ibm_is_instance.adai-guest-1: Creating...
╷
│ Error: Expected only one oneOf fields to be set: got 0
│
│   with ibm_is

[2022-11-07 08:23] yussufsh commented on #4072
The ibm_pi_instance wait block is already checking for `Status` and should fail in a minute or 2 with a message `failed to create the lpar` when the vm goes into `Error` state.

Can you provide more information such as trace log?

[2022-11-07 08:28] yussufsh commented on #4012
@hamzy since this is a one-off case where vm health status is not reported properly from the service broker, can we close this?
Terraform code works as per design and the point is we cannot actually use a VM is actual health status is PENDING. So no point for changing the target checks.

[2022-11-07 11:11] hamzy commented on #4012
It seems the motivation to fix the problem is when it is happening to a user who has no work around to get the cluster up.  While the problem doesn't happen often, it has happened somewhat recently.  In my opinion, the TF code is using the wrong status to determine if a VM is up since you can access the console and interact with the running VM that way.  The TF code just never progresses past this

[2022-11-07 11:22] yussufsh commented on #4012
The problem here is that we cannot and should not check the console or interact with the user VM. Terraform will rely on the data provided in the API response. This should be reported to PowerVS service broker team which needs to fix the original issue, we cannot do anything more from Terraform side.
Also the user can handle such cases by using state management commands `terraform import` or `terr

[2022-11-07 14:17] #4078 closed

[2022-11-08 05:58] hkantare commented on #4125
After our investigation and communication from global Tagging API regaridng the workaround solution
[code]
We are working on adding retry to make a call to Global serach API when we receive 429 (Too Many Requests)

[2022-11-08 10:49] data-henrik opened #4152 "In ibm_cbr_zone account_id is not treated as optional"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-08 12:42] nicolascomete commented on #4123
@attilatabori this is what we have tried with @pauljegouic. But this leads to a situation where the cluster creation never completes, because each worker node remains stuck at _Provisioning - Completing worker configuration_
![Screenshot 2022-11-08 at 13 41 55](https://user-images.githubusercontent.com/13781855/200566389-a46d476a-cc52-46b6-b1a9-352c02259cb7.png)

[2022-11-08 13:00] hkantare commented on #4125
Fixed in
https://github.com/IBM-Cloud/terraform-provider-ibm/releases/tag/v1.47.1

[2022-11-08 13:47] data-henrik opened #4154 "Crash on ibm_cbr_zone"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-08 13:47] JoachimGross opened #4155 "Link to host auto assignment is wrong"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-08 14:42] ocofaigh commented on #3165
We are seeing this very often today. Probably some slowness in IBM Cloud. Can we add more retires here?

[2022-11-08 17:19] #4108 closed

[2022-11-08 22:44] marifse commented on #1513
I am facing the same issue again for few days, @hkantare can you help me to fix this, how did you fix it.

[2022-11-09 03:38] MalarvizhiK commented on #3978
@rjouhann Shall we discuss this in a webex meeting ? We want to know more about the workflow requirement to implement this enhancement as we have 2 set of APIs(Provider, Customer APIs). Here, Provider creates the gateway and Customer needs to accept or reject.

[2022-11-09 04:45] hkantare commented on #1513
@marifse
Its a fix from back end API team from provider end their was no fix required. Can you rasie a support ticket for cluster.

[2022-11-09 15:29] marcostefanotony opened #4158 "500 error during classic load balancer creation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-09 17:11] lionelmace opened #4159 "Provision a vpc cluster without the default worker pool"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-09 17:23] timroster opened #4160 "Remove resources - including those subject to reclamation with terraform destroy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-10 06:27] rnishanth25 opened #4162 "Unable to execute the terraform automation scripts in production ibmcloud using the api"
Hello,
   I have recently started working on the terraform automation scripts for resource provisioning in ibmcloud. after some initial struggle i was able to complete my non-production setup using the ibmcloud_api_key variable and testing went fine, now when i working on production environment, I am either facing prompt with Error message "ibmcloud_api_key or bluemix_api_key or iam_token and iam_

[2022-11-10 09:49] ocofaigh commented on #3165
After speaking with the BSS team, I found out that they recently added a fix to resource group deletion that prevents resource groups from being deleted when resources have been deleted from it, but are pending reclamation. And the default period for pending reclamation is 7 days. Hence why resource group deletion had been failing for the past few days.

After some discussions, the BSS team agreed

[2022-11-10 09:49] #3165 closed

[2022-11-10 11:37] marifse opened #4163 "Provision Classic Cluster fails with "Error retrieving armada cluster""
**Error retrieving armada cluster when provisioning **

**Detailed description**

I am provisioning IBM Kubernetes Classic Cluster using terraform, though the cluster is being provisioned successfully on IBM console, but i am getting error in my terraform output and it is failing with below code.

" Error retrieving armada cluster: Request failed with status code: 404, ServerErrorResponse: {"incid

[2022-11-10 16:22] jpmonge86 opened #4165 "ibm_secrets_manager_secret data source region bug"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-11 06:43] hkantare commented on #4163
@marifse
Can you check if cluster is targetted to any specific resource group . Can you send adding resource_group_id="<id of rsgrp>"

[2022-11-11 11:37] marifse commented on #4163
@hkantare no it is not targetted to any resource group, i have tried without resource group and also with resource group as "Default" but same error occuring each time. You can check the above code which i am using.

[2022-11-11 13:50] lornakelly commented on #3824
@DenysChekirda This bug is fixed in versions >= 1.45.0

[2022-11-13 23:35] astha-jain commented on #4114
@davidyao19 are we good to close this issue?

[2022-11-14 00:07] astha-jain commented on #4051
@SunithaGudisagarIBM Please take a look.

[2022-11-14 09:28] hkantare commented on #4163
@marifse The resource_group_id should be the id of the group not the name something like below. replace Default with id of that resgrp

resource_group_id="923d7f416f2740f49dd7d2c2c7072283"

[2022-11-14 10:29] ocofaigh commented on #3561
FYI, we hit this issue again today `Error: Request failed with status code: 401, ServerErrorResponse: {"incidentID":"beb54fdf-dbce-4bc2-a1f5-6112bb5f4689","code":"P0005","description":"The IAM token exchange request failed with the message: Provided API key could not be found.","type":"Authorization","recoveryCLI":"Try again later. Contact support if the problem persists."}`

[2022-11-15 12:55] archanaponnada commented on #4104
Hi @data-henrik , Sorry for delay, we have some issues wrt SDK pipeline. Thus this date may be delayed. Will update soon on new ETA.

[2022-11-15 13:27] Janilassila78 opened #4169 "subnet error"
Cant get the subnets working

Locals and variables
locals {
   BASENAME = "test1"
   ZONE     = "eu-de"
}

data "ibm_resource_group" "example" {
  name = "jani-exp"
}

resource "ibm_is_vpc" "vpc1" {
    name = "${local.BASENAME}-vpc1"
}

resource "ibm_is_security_group" "sg1" {
    name = "${local.BASENAME}-sg1"
    vpc  = ibm_is_vpc.vpc1.id
}

# allow all incoming network traffic on port 22
resou

[2022-11-15 13:33] ocofaigh opened #4170 "Resource Group name is not computed"
In this [code block](https://github.com/IBM-Cloud/terraform-provider-ibm/blob/master/ibm/service/resourcemanager/resource_ibm_resource_group.go#L25-L28) the resource group name is not computed and this leads to problems. Here is the use case:

The module https://github.com/terraform-ibm-modules/terraform-ibm-powervs-infrastructure has an input variable called `powervs_resource_group_name`.
Inside

[2022-11-15 13:34] data-henrik opened #4171 "Provider incorrectly seems to detect a change, applies it - next apply incorrectly detects the same change"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-15 14:50] ocofaigh commented on #4170
I created a [PR](https://github.com/IBM-Cloud/terraform-provider-ibm/pull/4172) which marks the name as computed, however not sure if further changes are required elsewhere

[2022-11-15 17:40] ibmappm opened #4174 "Failure when trying to publish custom images"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-16 05:49] vicyou opened #4176 "how to create non default postgresql database with terraform"
Hi,

i created a postgresql instance with terraform resource: ibm_database, then i find there is a default database by the name ibmclouddb.

i would like another database with a name i can specify to be created from terraform when i create the postgresql instance as well. i cannot find related docs from https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/resources/database. can you p

[2022-11-16 06:50] scentoni opened #4177 "Example ibm-power fails"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-16 08:51] data-henrik opened #4178 "Grammar etc."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-16 10:14] data-henrik commented on #3540
In addition, allow to retrieve a rule by name.

[2022-11-16 10:15] data-henrik commented on #3539
In addition, allow to retrieve a zone by name.

[2022-11-16 11:11] ocofaigh commented on #4170
The workaround for now is to use `depends_on`. However this is only supposed to be used as a last resort, so I think what I am going to do is suggest that the owners of the `terraform-ibm-powervs-infrastructure` module actually change their input to require resource group ID instead of name and that would mean they could remove those data lookups that cause the issue here, and also no depends_on w

[2022-11-16 11:11] #4170 closed

[2022-11-16 16:27] SunithaGudisagarIBM commented on #4051
@pathaknikhil87  Can you please provide the link to the portal, we need to check with the api backend as they support only integer values

[2022-11-16 23:26] rmoralesjr commented on #4177
You are using an invalid value , "<cid>", for the variable cloud_instance_id. Please update that variable and retry.

Nov 15 22:43:29  dal-servicebroker-cbb7dd987-dxrrz  dal-servicebroker WARNING  04:43:29.014Z dal-servicebroker-cbb7dd987-dxrrz[6443c] restapi authorize_ibm.go:921/Authorize ▶ service instance is blank for crn crn:v1:bluemix:public:power-iaas:dal12:a/fd48d17085aa415f8c1a81a08f131533

[2022-11-16 23:26] #4177 closed

[2022-11-17 07:34] hkantare commented on #4165
can you set the provider region since the service is regional specific by default its us-south
provider ibm  {
region = "eu-gb"
}

[2022-11-17 07:40] hkantare commented on #4169
Zone should be something like (eu-de-1, eu-de-2, eu-de-3)
ZONE = "eu-de-1"

[2022-11-17 08:48] Janilassila78 commented on #4169
thx that solved the error!

[2022-11-17 08:48] #4169 closed

[2022-11-17 16:39] powellquiring opened #4182 "ibm_is_instance_template does not support images in the catalog"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-17 19:58] rmoralesjr commented on #4177
I don't know that area of the product to be able to answer that but the message indicates that the requester "does not have service (read-only) access" so that could prompt the user to make sure that the service in the request is correct. You can open an issue with the Power Systems Virtual Server product since that would be the place to make the change instead of terraform-provider-ibm. Thanks.

[2022-11-18 13:29] bamazeen opened #4183 "Transfer of "large" files to COS bucket fails using TFP 1.47.1."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-18 16:20] argeiger opened #4187 "private endpoint in data resource ibm_secrets_manager_secret is incorrect"
### Terraform CLI and Terraform IBM Provider Version

[code]

### Affected Resource(s)

https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/secrets_manager_secret

* ibm_secrets_manager_secret

### Terraform Configuration Files

[code]

### Debug Output

When `visibility = "private"`, it tries to access private.resource-controller.cloud.ibm.com which does not exist

<img

[2022-11-19 07:42] MalarvizhiK commented on #3978
I discussed with Romain and checking the implementation. Hopefully the feature should be available soon.

[2022-11-19 17:51] ocofaigh opened #4190 "[ibm_tg_gateway] Error: A gateway with the same name already exists."
We intermittently see an issue where transit gateway creation fails with `Error: A gateway with the same name already exists.`
However, we are using a random prefix so this should not be the case.

As you can the plan contains tg name called `landing-3156-transit-gateway`:
[code]

yet the apply fails with:
[code]

After checking manually in the UI, I can see that the test did create the transit ga

[2022-11-21 19:13] bigpick opened #4192 "All operations on ibm_cos_bucket fail with 403s"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-21 22:28] jpmonge86 commented on #4165
Thanks Harini, I can confirm this works.

[2022-11-21 22:28] #4165 closed

[2022-11-22 10:26] IBM-diksha commented on #4192
@bigpick If you still facing the same issue can you please try with a different region like us-east or eu-de.
eg : region_location      = "us-east"

[2022-11-22 10:58] jarrodu commented on #1543
I am also running into this issue. I am using the current version of all tools.

[2022-11-22 11:28] lornakelly commented on #943
@chris-hvse @Gerifield @nemethbuda  `connectionstrings` is now deprecated in favour of `ibm_database_connection`. See docs [here](https://registry.terraform.io/providers/IBM-Cloud/ibm/latest/docs/data-sources/database_connection)

I confirm that I can create a `rabbitmq` instance and the `hostname` and `port` output now matches the IBM Cloud Console.

Please close ticket when you have confirmed or

[2022-11-22 13:00] hkantare commented on #1543
@jarrodu please share the log of error you are facing and smaple configuration file

[2022-11-22 15:14] jarrodu commented on #1543
Sure. When I get a minimal example, I will post it.

[2022-11-22 15:58] bigpick commented on #4192
Yes, still having the issue

Tried in `eu-de`, this time successfully went through there. Went back and tried again in `us-south`, still fails.

[2022-11-23 09:50] jarrodu commented on #1543
[code]

So, I am trying to deploy in `eu-de`. The code I have works for `kube_version` of `1.25.4`, but not for `4.11.12_openshift`. It seems the only difference is that I am trying to deploy an OpenShift cluster instead of a normal Kubernetes cluster.

I am still working on a minimal example. As you can imagine, it is a bit expensive and time-consuming to spin up clusters. The code I have is for

[2022-11-23 10:05] jarrodu commented on #1543
Perfect. Do you have any other documentation on the topic? 🙇

[2022-11-23 10:43] jarrodu commented on #1543
I had to create a new one.

[code]

I am still not sure what this thing is, but it seems to create a `CRN` that works.

[2022-11-23 10:53] hkantare commented on #1543
https://github.com/IBM-Cloud/terraform-provider-ibm/blob/master/examples/ibm-cluster/vpc-gen2-cluster/main.tf
you can find some sample example here

[2022-11-23 11:01] IBM-diksha commented on #4192
@bigpick Currently there is some issue with the us-south region that is why these failures are seen only for us-south endpoints once this issue gets resolved you be facing these failures. Till then if it is possible you can use the other regions.

[2022-11-24 10:16] ujjwal-ibm commented on #4141
@gchelazzi-klab can you share your configuration ?

[2022-11-28 10:41] #4176 closed

[2022-11-29 14:06] pauljegouic opened #4204 "Add User domains and User list visibility to iam_account_settings"
Hello there,

I am looking for those IAM account configuration, and I cannot find them in the terraform IBM Cloud provider.

![image](https://user-images.githubusercontent.com/50360031/204576794-023c9150-4d36-4ee6-9648-e96698abe4a2.png)

Am i missing something or is it something that will come in next releases ?

Regards,

[2022-11-29 14:17] pauljegouic commented on #4204
Also this account settings would be needed:

![image](https://user-images.githubusercontent.com/50360031/204553075-8680b728-1062-494d-b4b1-a9d11647380a.png)

[2022-11-29 15:44] pauljegouic commented on #4204
BTW, I cannot found the related API in the doc ...

I have inspected network in IBM Cloud console, it shows:

https://cloud.ibm.com/iam/api/v1/accounts/$account_id/settings?bss_account=$account_id&linkedaccount=true&imsaccountid=$ims_account_id
and
https://cloud.ibm.com/iam/api/v1/accounts/$account_id/settings/idps/IBMid?bss_account=$account_id&linkedaccount=true&imsaccountid=$ims_account_id

But

[2022-11-30 10:24] SaiKrishnaMaddu opened #4205 "Provisioning fails for IBM kubernetes cluster with error retrieving armada cluster"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-30 10:49] mkrudele commented on #4125
Pls, do not call the `GET /v3/tags/ with the attached_to flag`. Use the search instead, as described here https://test.cloud.ibm.com/docs/get-coding?topic=get-coding-ghost-faq#how-to-get-resource-tags-  (How do I get tags attached to a resource?).
If you get zero results from the search and you know that the resource exists and the user can read it, then add some retries.

[2022-11-30 11:38] dprosper commented on #645
@deepaksibm no I have not seen this again, so feel free to close.

[2022-11-30 12:19] vbontempi commented on #4125
@hkantare I performed some tests using ibmcloud terraform provider tag 1.47.1: the tags module is still performing GET requests on global tagging api with attached_to query parameter, it retries the same request 20 times (with a pause of 5s) in the case of a failure. Then it falls back on Global search API and it completes successfully

As suggested above by @mkrudele https://github.com/IBM-Cloud/

[2022-11-30 14:08] lra opened #4207 "Randomly missing tags during `terraform plan`"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2022-11-30 14:15] hkantare commented on #4205
Can you share us the complete log of execution for this

[2022-11-30 18:41] #645 closed